<h1> Send an invitation </h1>

<%= form_tag invite_path, method: :post do %>
  <%= label_tag "Github Handle" %>
  <%= text_field_tag "Github Handle" %>

  <%= submit_tag "Send the invitation"%>
<% end %>