<h5>Add a valid Github username to send them an email invitation to join Brownfield of Dreams.</h5>

<%= form_tag do%>
<%= label_tag "Github User's handle" %>
<%= text_field_tag :handle %>
<%= submit_tag("Send Invite") %>
<% end %>
