---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1558141569'
      Etag:
      - W/"2af0276e58bf29e1f3e00d7afc3c6d8e"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<token>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<token>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":176351533,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzNTE1MzM=","name":"Book-Club","full_name":"djc00p/Book-Club","private":false,"owner":{"login":"djc00p","id":45864171,"node_id":"MDQ6VXNlcjQ1ODY0MTcx","avatar_url":"https://avatars1.githubusercontent.com/u/45864171?v=4","gravatar_id":"","url":"https://api.github.com/users/djc00p","html_url":"https://github.com/djc00p","followers_url":"https://api.github.com/users/djc00p/followers","following_url":"https://api.github.com/users/djc00p/following{/other_user}","gists_url":"https://api.github.com/users/djc00p/gists{/gist_id}","starred_url":"https://api.github.com/users/djc00p/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/djc00p/subscriptions","organizations_url":"https://api.github.com/users/djc00p/orgs","repos_url":"https://api.github.com/users/djc00p/repos","events_url":"https://api.github.com/users/djc00p/events{/privacy}","received_events_url":"https://api.github.com/users/djc00p/received_events","type":"User","site_admin":false},"html_url":"https://github.com/djc00p/Book-Club","description":null,"fork":false,"url":"https://api.github.com/repos/djc00p/Book-Club","forks_url":"https://api.github.com/repos/djc00p/Book-Club/forks","keys_url":"https://api.github.com/repos/djc00p/Book-Club/keys{/key_id}","collaborators_url":"https://api.github.com/repos/djc00p/Book-Club/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/djc00p/Book-Club/teams","hooks_url":"https://api.github.com/repos/djc00p/Book-Club/hooks","issue_events_url":"https://api.github.com/repos/djc00p/Book-Club/issues/events{/number}","events_url":"https://api.github.com/repos/djc00p/Book-Club/events","assignees_url":"https://api.github.com/repos/djc00p/Book-Club/assignees{/user}","branches_url":"https://api.github.com/repos/djc00p/Book-Club/branches{/branch}","tags_url":"https://api.github.com/repos/djc00p/Book-Club/tags","blobs_url":"https://api.github.com/repos/djc00p/Book-Club/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/djc00p/Book-Club/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/djc00p/Book-Club/git/refs{/sha}","trees_url":"https://api.github.com/repos/djc00p/Book-Club/git/trees{/sha}","statuses_url":"https://api.github.com/repos/djc00p/Book-Club/statuses/{sha}","languages_url":"https://api.github.com/repos/djc00p/Book-Club/languages","stargazers_url":"https://api.github.com/repos/djc00p/Book-Club/stargazers","contributors_url":"https://api.github.com/repos/djc00p/Book-Club/contributors","subscribers_url":"https://api.github.com/repos/djc00p/Book-Club/subscribers","subscription_url":"https://api.github.com/repos/djc00p/Book-Club/subscription","commits_url":"https://api.github.com/repos/djc00p/Book-Club/commits{/sha}","git_commits_url":"https://api.github.com/repos/djc00p/Book-Club/git/commits{/sha}","comments_url":"https://api.github.com/repos/djc00p/Book-Club/comments{/number}","issue_comment_url":"https://api.github.com/repos/djc00p/Book-Club/issues/comments{/number}","contents_url":"https://api.github.com/repos/djc00p/Book-Club/contents/{+path}","compare_url":"https://api.github.com/repos/djc00p/Book-Club/compare/{base}...{head}","merges_url":"https://api.github.com/repos/djc00p/Book-Club/merges","archive_url":"https://api.github.com/repos/djc00p/Book-Club/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/djc00p/Book-Club/downloads","issues_url":"https://api.github.com/repos/djc00p/Book-Club/issues{/number}","pulls_url":"https://api.github.com/repos/djc00p/Book-Club/pulls{/number}","milestones_url":"https://api.github.com/repos/djc00p/Book-Club/milestones{/number}","notifications_url":"https://api.github.com/repos/djc00p/Book-Club/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/djc00p/Book-Club/labels{/name}","releases_url":"https://api.github.com/repos/djc00p/Book-Club/releases{/id}","deployments_url":"https://api.github.com/repos/djc00p/Book-Club/deployments","created_at":"2019-03-18T19:00:20Z","updated_at":"2019-04-26T19:06:12Z","pushed_at":"2019-04-27T21:25:22Z","git_url":"git://github.com/djc00p/Book-Club.git","ssh_url":"git@github.com:djc00p/Book-Club.git","clone_url":"https://github.com/djc00p/Book-Club.git","svn_url":"https://github.com/djc00p/Book-Club","homepage":null,"size":138,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":13,"license":null,"forks":1,"open_issues":13,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":165714803,"node_id":"MDEwOlJlcG9zaXRvcnkxNjU3MTQ4MDM=","name":"1811_personal_site","full_name":"earl-stephens/1811_personal_site","private":false,"owner":{"login":"earl-stephens","id":34906415,"node_id":"MDQ6VXNlcjM0OTA2NDE1","avatar_url":"https://avatars1.githubusercontent.com/u/34906415?v=4","gravatar_id":"","url":"https://api.github.com/users/earl-stephens","html_url":"https://github.com/earl-stephens","followers_url":"https://api.github.com/users/earl-stephens/followers","follow[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1558141570'
      Etag:
      - W/"143f45c6e2d60dbbe37475203e6[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1558141570'
      Etag:
      - W/"11b5ab9ef1d9d7261ac59092431[...]
