---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN_KEY>&affiliation=owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1557605768'
      Etag:
      - W/"64d10a529652cf28d2e452bb0e58f15e"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"asmolentzov","id":6686861,"node_id":"MDQ6VXNlcjY2ODY4NjE=","avatar_url":"https://avatars2.githubusercontent.com/u/6686861?v=4","gravatar_id":"","url":"https://api.github.com/users/asmolentzov","html_url":"https://github.com/asmolentzov","followers_url":"https://api.github.com/users/asmolentzov/followers","following_url":"https://api.github.com/users/asmolentzov/following{/other_user}","gists_url":"https://api.github.com/users/asmolentzov/gists{/gist_id}","starred_url":"https://api.github.com/users/asmolentzov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asmolentzov/subscriptions","organizations_url":"https://api.github.com/users/asmolentzov/orgs","repos_url":"https://api.github.com/users/asmolentzov/repos","events_url":"https://api.github.com/users/asmolentzov/events{/privacy}","received_events_url":"https://api.github.com/users/asmolentzov/received_events","type":"User","site_admin":false},{"login":"joequincy","id":3322920,"node_id":"MDQ6VXNlcjMzMjI5MjA=","avatar_url":"https://avatars2.githubusercontent.com/u/3322920?v=4","gravatar_id":"","url":"https://api.github.com/users/joequincy","html_url":"https://github.com/joequincy","followers_url":"https://api.github.com/users/joequincy/followers","following_url":"https://api.github.com/users/joequincy/following{/other_user}","gists_url":"https://api.github.com/users/joequincy/gists{/gist_id}","starred_url":"https://api.github.co[...]
