---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN_KEY>&affiliation=owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1557605768'
      Etag:
      - W/"4953bd7c3bf207353777c8d677d065b7"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"plapicola","id":41562392,"node_id":"MDQ6VXNlcjQxNTYyMzky","avatar_url":"https://avatars1.githubusercontent.com/u/41562392?v=4","gravatar_id":"","url":"https://api.github.com/users/plapicola","html_url":"https://github.com/plapicola","followers_url":"https://api.github.com/users/plapicola/followers","following_url":"https://api.github.com/users/plapicola/following{/other_user}","gists_url":"https://api.github.com/users/plapicola/gists{/gist_id}","starred_url":"https://api.github.com/users/plapicola/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/plapicola/subscriptions","organizations_url":"https://api.github.com/users/plapicola/orgs","repos_url":"https://api.github.com/users/plapicola/repos","events_url":"https://api.github.com/users/plapicola/events{/privacy}","received_events_url":"https://api.github.com/users/plapicola/received_events","type":"User","site_admin":false},{"login":"tnodland","id":42710030,"node_id":"MDQ6VXNlcjQyNzEwMDMw","avatar_url":"https://avatars2.githubusercontent.com/u/42710030?v=4","gravatar_id":"","url":"https://api.github.com/users/tnodland","html_url":"https://github.com/tnodland","followers_url":"https://api.github.com/users/tnodland/followers","following_url":"https://api.github.com/users/tnodland/following{/other_user}","gists_url":"https://api.github.com/users/tnodland/gists{/gist_id}","starred_url":"https://api.github.com/users/tnodland/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tnodland/subscriptions","organizations_url":"https://api.github.com/users/tnodland/orgs","repos_url":"https://api.github.com/users/tnodland/repos","events_url":"https://api.github.com/users/tnodland/events{/privacy}","received_events_url":"https://api.github.com/users/tnodland/received_events","type":"User","site_admin":false}]'
  recorded_at: Sat, 11 May 2019 19:19:55 GMT
recorded_with: VCR 4.0.0
