---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1581377769'
      Etag:
      - W/"712642317b76a9f799865369fa952926"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":224690321,"node_id":"MDEwOlJlcG9zaXRvcnkyMjQ2OTAzMjE=","name":"activerecord-obstacle-course","full_name":"DanielEFrampton/activerecord-obstacle-course","private":false,"owner":{"login":"DanielEFrampton","id":40702808,"node_id":"MDQ6VXNlcjQwNzAyODA4","avatar_url":"https://avatars1.githubusercontent.com/u/40702808?v=4","gravatar_id":"","url":"https://api.github.com/users/DanielEFrampton","html_url":"https://github.com/DanielEFrampton","followers_url":"https://api.github.com/users/DanielEFrampton/followers","following_url":"https://api.github.com/users/DanielEFrampton/following{/other_user}","gists_url":"https://api.github.com/users/DanielEFrampton/gists{/gist_id}","starred_url":"https://api.github.com/users/DanielEFrampton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DanielEFrampton/subscriptions","organizations_url":"https://api.github.com/users/DanielEFrampton/orgs","repos_url":"https://api.github.com/users/DanielEFrampton/repos","events_url":"https://api.github.com/users/DanielEFrampton/events{/privacy}","received_events_url":"https://api.github.com/users/DanielEFrampton/received_events","type":"User","site_admin":false},"html_url":"https://github.com/DanielEFrampton/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/DanielEFrampton/activerecord-obstacle-course/deployments","created_at":"2019-11-28T16:17:52Z","updated_at":"2019-11-28T16:17:53Z","pushed_at":"2019-11-09T08:11:19Z","git_url":"git://github.com/DanielEFrampton/activerecord-obstacle-course.git","ssh_url":"git@github.com:DanielEFrampton/activerecord-obstacle-course.git","clone_url":"https://github.com/DanielEFrampton/activerecord-obstacle-course.git","svn_url":"https://github.com/DanielEFrampton/activerecord-obstacle-course","homepage":null,"size":59,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":222555699,"node_id":"MDEwOlJlcG9zaXRvcnkyMjI1NTU2OTk=","name":"adopt_dont_shop","full_name":"DanielEFrampton/adopt_dont_shop","private":false,"owner":{"login":"DanielEFrampton","id":40702808,"node_id":"MDQ6VXNlcjQwNzAyODA4","avatar_url":"https://avatars1.githubusercontent.com/u/40702808?v=4","gravatar_id":"","url":"https://api.github.com/users/DanielEFrampton","html_url":"https://github.com/DanielEFrampton","followers_url":"https://api.github.com/users/DanielEFrampton/followers","fo[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1581377768'
      Etag:
      - W/"3e4d93403501c4c99e12[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1581377769'
      Etag:
      - W/"0b14892fbdd25ecda569[...]
