---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 70c0470e00ab079a4039fde1f3c57d5104630f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1571177926'
      Etag:
      - W/"6ac09d45a5a7b0463ac972b0bfdccd5c"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"alect47","id":23268508,"node_id":"MDQ6VXNlcjIzMjY4NTA4","avatar_url":"https://avatars2.githubusercontent.com/u/23268508?v=4","gravatar_id":"","url":"https://api.github.com/users/alect47","html_url":"https://github.com/alect47","followers_url":"https://api.github.com/users/alect47/followers","following_url":"https://api.github.com/users/alect47/following{/other_user}","gists_url":"https://api.github.com/users/alect47/gists{/gist_id}","starred_url":"https://api.github.com/users/alect47/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alect47/subscriptions","organizations_url":"https://api.github.com/users/alect47/orgs","repos_url":"https://api.github.com/users/alect47/repos","events_url":"https://api.github.com/users/alect47/events{/privacy}","received_events_url":"https://api.github.com/users/alect47/received_events","type":"User","site_admin":false},{"login":"corneliusellen","id":24374609,"node_id":"MDQ6VXNlcjI0Mzc0NjA5","avatar_url":"https://avatars2.githubusercontent.com/u/24374609?v=4","gravatar_id":"","url":"https://api.github.com/users/corneliusellen","html_url":"https://github.com/corneliusellen","followers_url":"https://api.github.com/users/corneliusellen/followers","following_url":"https://api.github.com/users/corneliusellen/following{/other_user}","gists_url":"https://api.github.com/users/corneliusellen/gists{/gist_id}","sta[...]
