---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 70c0470e00ab079a4039fde1f3c57d5104630f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1571177926'
      Etag:
      - W/"e1509accdfd30975b8aeefb26e1b69d5"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Kate-v2","id":36523304,"node_id":"MDQ6VXNlcjM2NTIzMzA0","avatar_url":"https://avatars3.githubusercontent.com/u/36523304?v=4","gravatar_id":"","url":"https://api.github.com/users/Kate-v2","html_url":"https://github.com/Kate-v2","followers_url":"https://api.github.com/users/Kate-v2/followers","following_url":"https://api.github.com/users/Kate-v2/following{/other_user}","gists_url":"https://api.github.com/users/Kate-v2/gists{/gist_id}","starred_url":"https://api.github.com/users/Kate-v2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Kate-v2/subscriptions","organizations_url":"https://api.github.com/users/Kate-v2/orgs","repos_url":"https://api.github.com/users/Kate-v2/repos","events_url":"https://api.github.com/users/Kate-v2/events{/privacy}","received_events_url":"https://api.github.com/users/Kate-v2/received_events","type":"User","site_admin":false},{"login":"matthewdshepherd","id":47948268,"node_id":"MDQ6VXNlcjQ3OTQ4MjY4","avatar_url":"https://avatars2.githubusercontent.com/u/47948268?v=4","gravatar_id":"","url":"https://api.github.com/users/matthewdshepherd","html_url":"https://github.com/matthewdshepherd","followers_url":"https://api.github.com/users/matthewdshepherd/followers","following_url":"https://api.github.com/users/matthewdshepherd/following{/other_user}","gists_url":"https://api.github.com/users/matthewdshepherd/gists{/gi[...]
