---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 70c0470e00ab079a4039fde1f3c57d5104630f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1571177926'
      Etag:
      - W/"3d99ddcd443871504ebbab417aae2744"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":206139156,"node_id":"MDEwOlJlcG9zaXRvcnkyMDYxMzkxNTY=","name":"monster_shop_1906","full_name":"leiyakenney/monster_shop_1906","private":false,"owner":{"login":"leiyakenney","id":45922590,"node_id":"MDQ6VXNlcjQ1OTIyNTkw","avatar_url":"https://avatars3.githubusercontent.com/u/45922590?v=4","gravatar_id":"","url":"https://api.github.com/users/leiyakenney","html_url":"https://github.com/leiyakenney","followers_url":"https://api.github.com/users/leiyakenney/followers","following_url":"https://api.github.com/users/leiyakenney/following{/other_user}","gists_url":"https://api.github.com/users/leiyakenney/gists{/gist_id}","starred_url":"https://api.github.com/users/leiyakenney/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leiyakenney/subscriptions","organizations_url":"https://api.github.com/users/leiyakenney/orgs","repos_url":"https://api.github.com/users/leiyakenney/repos","events_url":"https://api.github.com/users/leiyakenney/events{/privacy}","received_events_url":"https://api.github.com/users/leiyakenney/received_events","type":"User","site_admin":false},"html_url":"https://github.com/leiyakenney/monster_shop_1906","description":null,"fork":true,"url":"https://api.github.com/repos/leiyakenney/monster_shop_1906","forks_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/forks","keys_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/keys{/key_id}","collaborators_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/teams","hooks_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/hooks","issue_events_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/issues/events{/number}","events_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/events","assignees_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/assignees{/user}","branches_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/branches{/branch}","tags_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/tags","blobs_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/git/refs{/sha}","trees_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/git/trees{/sha}","statuses_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/statuses/{sha}","languages_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/languages","stargazers_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/stargazers","contributors_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/contributors","subscribers_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/subscribers","subscription_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/subscription","commits_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/commits{/sha}","git_commits_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/git/commits{/sha}","comments_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/comments{/number}","issue_comment_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/issues/comments{/number}","contents_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/contents/{+path}","compare_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/compare/{base}...{head}","merges_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/merges","archive_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/downloads","issues_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/issues{/number}","pulls_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/pulls{/number}","milestones_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/milestones{/number}","notifications_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/labels{/name}","releases_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/releases{/id}","deployments_url":"https://api.github.com/repos/leiyakenney/monster_shop_1906/deployments","created_at":"2019-09-03T17:54:03Z","updated_at":"2019-09-28T18:20:05Z","pushed_at":"2019-09-28T18:20:03Z","git_url":"git://github.com/leiyakenney/monster_shop_1906.git","ssh_url":"git@github.com:leiyakenney/monster_shop_1906.git","clone_url":"https://github.com/leiyakenney/monster_shop_1906.git","svn_url":"https://github.com/leiyakenney/monster_shop_1906","homepage":null,"size":617,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":9,"license":null,"forks":2,"open_issues":9,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":203827869,"node_id":"MDEwOlJlcG9zaXRvcnkyMDM4Mjc4Njk=","name":"activerecord-obstacle-course","full_name":"MackHalliday/activerecord-obstacle-course","private":false,"owner":{"login":"MackHalliday","id":16658577,"node_id":"MDQ6VXNlcjE2NjU4NTc3","avatar_url":"https://avatars2.githubusercontent.com/u/16658577?v=4","gravatar_id":"","url":"https://api.github.com/users/MackHalliday","html_url":"https://github.com/MackHalliday","followers_url":"https://api.github.com/users/MackHalliday/fol[...]
