---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=25037bd71e9096f1c2af994326ea41eb2e3351dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1570751656'
      Etag:
      - W/"7bf56ea1b9f43eb0fb13c988a3259b43"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"MackHalliday","id":16658577,"node_id":"MDQ6VXNlcjE2NjU4NTc3","avatar_url":"https://avatars2.githubusercontent.com/u/16658577?v=4","gravatar_id":"","url":"https://api.github.com/users/MackHalliday","html_url":"https://github.com/MackHalliday","followers_url":"https://api.github.com/users/MackHalliday/followers","following_url":"https://api.github.com/users/MackHalliday/following{/other_user}","gists_url":"https://api.github.com/users/MackHalliday/gists{/gist_id}","starred_url":"https://api.github.com/users/MackHalliday/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MackHalliday/subscriptions","organizations_url":"https://api.github.com/users/MackHalliday/orgs","repos_url":"https://api.github.com/users/MackHalliday/repos","events_url":"https://api.github.com/users/MackHalliday/events{/privacy}","received_events_url":"https://api.github.com/users/MackHalliday/received_events","type":"User","site_admin":false},{"login":"alect47","id":23268508,"node_id":"MDQ6VXNlcjIzMjY4NTA4","avatar_url":"https://avatars2.githubusercontent.com/u/23268508?v=4","gravatar_id":"","url":"https://api.github.com/users/alect47","html_url":"https://github.com/alect47","followers_url":"https://api.github.com/users/alect47/followers","following_url":"https://api.github.com/users/alect47/following{/other_user}","gists_url":"https://api.github.com/users/alect47/gists{/gist_id}","starred_url":"https://api.github.com/users/al[...]
