---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f59a276082fc20288d2fbbde9fdb1a03898bbc54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1570656331'
      Etag:
      - W/"10d8498979dc9cfe12bc4626ffd970f5"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":190446052,"node_id":"MDEwOlJlcG9zaXRvcnkxOTA0NDYwNTI=","name":"...","full_name":"alect47/...","private":false,"owner":{"login":"alect47","id":23268508,"node_id":"MDQ6VXNlcjIzMjY4NTA4","avatar_url":"https://avatars2.githubusercontent.com/u/23268508?v=4","gravatar_id":"","url":"https://api.github.com/users/alect47","html_url":"https://github.com/alect47","followers_url":"https://api.github.com/users/alect47/followers","following_url":"https://api.github.com/users/alect47/following{/other_user}","gists_url":"https://api.github.com/users/alect47/gists{/gist_id}","starred_url":"https://api.github.com/users/alect47/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alect47/subscriptions","organizations_url":"https://api.github.com/users/alect47/orgs","repos_url":"https://api.github.com/users/alect47/repos","events_url":"https://api.github.com/users/alect47/events{/privacy}","received_events_url":"https://api.github.com/users/alect47/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alect47/...","description":null,"fork":false,"url":"https://api.github.com/repos/alect47/...","forks_url":"https://api.github.com/repos/alect47/.../forks","keys_url":"https://api.github.com/repos/alect47/.../keys{/key_id}","collaborators_url":"https://api.github.com/repos/alect47/.../collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alect47/.../teams","hooks_url":"https://api.github.com/repos/alect47/.../hooks","issue_events_url":"https://api.github.com/repos/alect47/.../issues/events{/number}","events_url":"https://api.github.com/repos/alect47/.../events","assignees_url":"https://api.github.com/repos/alect47/.../assignees{/user}","branches_url":"https://api.github.com/repos/alect47/.../branches{/branch}","tags_url":"https://api.github.com/repos/alect47/.../tags","blobs_url":"https://api.github.com/repos/alect47/.../git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alect47/.../git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alect47/.../git/refs{/sha}","trees_url":"https://api.github.com/repos/alect47/.../git/trees{/sha}","statuses_url":"https://api.github.com/repos/alect47/.../statuses/{sha}","languages_url":"https://api.github.com/repos/alect47/.../languages","stargazers_url":"https://api.github.com/repos/alect47/.../stargazers","contributors_url":"https://api.github.com/repos/alect47/.../contributors","subscribers_url":"https://api.github.com/repos/alect47/.../subscribers","subscription_url":"https://api.github.com/repos/alect47/.../subscription","commits_url":"https://api.github.com/repos/alect47/.../commits{/sha}","git_commits_url":"https://api.github.com/repos/alect47/.../git/commits{/sha}","comments_url":"https://api.github.com/repos/alect47/.../comments{/number}","issue_comment_url":"https://api.github.com/repos/alect47/.../issues/comments{/number}","contents_url":"https://api.github.com/repos/alect47/.../contents/{+path}","compare_url":"https://api.github.com/repos/alect47/.../compare/{base}...{head}","merges_url":"https://api.github.com/repos/alect47/.../merges","archive_url":"https://api.github.com/repos/alect47/.../{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alect47/.../downloads","issues_url":"https://api.github.com/repos/alect47/.../issues{/number}","pulls_url":"https://api.github.com/repos/alect47/.../pulls{/number}","milestones_url":"https://api.github.com/repos/alect47/.../milestones{/number}","notifications_url":"https://api.github.com/repos/alect47/.../notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alect47/.../labels{/name}","releases_url":"https://api.github.com/repos/alect47/.../releases{/id}","deployments_url":"https://api.github.com/repos/alect47/.../deployments","created_at":"2019-06-05T18:16:48Z","updated_at":"2019-06-05T18:17:37Z","pushed_at":"2019-06-05T18:17:35Z","git_url":"git://github.com/alect47/....git","ssh_url":"git@github.com:alect47/....git","clone_url":"https://github.com/alect47/....git","svn_url":"https://github.com/alect47/...","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":189489151,"node_id":"MDEwOlJlcG9zaXRvcnkxODk0ODkxNTE=","name":"a","full_name":"alect47/a","private":false,"owner":{"login":"alect47","id":23268508,"node_id":"MDQ6VXNlcjIzMjY4NTA4","avatar_url":"https://avatars2.githubusercontent.com/u/23268508?v=4","gravatar_id":"","url":"https://api.github.com/users/alect47","html_url":"https://github.com/alect47","followers_url":"https://api.github.com/users/alect47/followers","following_url":"https://api.github.com/users/alect47/following{/other_[...]
