---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/milevy1?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1562720370'
      Etag:
      - W/"453669587df06e7225461d7ed9a1a76e"
      Last-Modified:
      - Wed, 26 Jun 2019 15:34:01 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"milevy1","id":36040194,"node_id":"MDQ6VXNlcjM2MDQwMTk0","avatar_url":"https://avatars3.githubusercontent.com/u/36040194?v=4","gravatar_id":"","url":"https://api.github.com/users/milevy1","html_url":"https://github.com/milevy1","followers_url":"https://api.github.com/users/milevy1/followers","following_url":"https://api.github.com/users/milevy1/following{/other_user}","gists_url":"https://api.github.com/users/milevy1/gists{/gist_id}","starred_url":"https://api.github.com/users/milevy1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/milevy1/subscriptions","organizations_url":"https://api.github.com/users/milevy1/orgs","repos_url":"https://api.github.com/users/milevy1/repos","events_url":"https://api.github.com/users/milevy1/events{/privacy}","received_events_url":"https://api.github.com/users/milevy1/received_events","type":"User","site_admin":false,"name":"Matt
        Levy","company":null,"blog":"","location":"Denver, CO","email":"milevy1@gmail.com","hireable":true,"bio":"Software
        Developer actively seeking new job opportunites","public_repos":59,"public_gists":10,"followers":7,"following":6,"created_at":"2018-02-01T13:31:18Z","updated_at":"2019-06-26T15:34:01Z"}'
  recorded_at: Wed, 10 Jul 2019 00:11:09 GMT
recorded_with: VCR 5.0.0
