---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/ryanmillergm?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1562973727'
      Etag:
      - W/"4d89d74092c40723026436c9cc18b5ec"
      Last-Modified:
      - Sun, 07 Jul 2019 23:29:06 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ryanmillergm","id":42855291,"node_id":"MDQ6VXNlcjQyODU1Mjkx","avatar_url":"https://avatars0.githubusercontent.com/u/42855291?v=4","gravatar_id":"","url":"https://api.github.com/users/ryanmillergm","html_url":"https://github.com/ryanmillergm","followers_url":"https://api.github.com/users/ryanmillergm/followers","following_url":"https://api.github.com/users/ryanmillergm/following{/other_user}","gists_url":"https://api.github.com/users/ryanmillergm/gists{/gist_id}","starred_url":"https://api.github.com/users/ryanmillergm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ryanmillergm/subscriptions","organizations_url":"https://api.github.com/users/ryanmillergm/orgs","repos_url":"https://api.github.com/users/ryanmillergm/repos","events_url":"https://api.github.com/users/ryanmillergm/events{/privacy}","received_events_url":"https://api.github.com/users/ryanmillergm/received_events","type":"User","site_admin":false,"name":"Ryan
        Miller","company":null,"blog":"","location":"Denver, Co","email":null,"hireable":null,"bio":"Back-End
        web developer","public_repos":51,"public_gists":10,"followers":7,"following":18,"created_at":"2018-08-31T02:21:24Z","updated_at":"2019-07-07T23:29:06Z"}'
  recorded_at: Fri, 12 Jul 2019 22:22:08 GMT
recorded_with: VCR 5.0.0
