---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/asereafdsgdsbauibfef?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1562720370'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/#get-a-single-user"}'
  recorded_at: Wed, 10 Jul 2019 00:12:36 GMT
recorded_with: VCR 5.0.0
