---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Bradniedt?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1549497694'
      Etag:
      - W/"d695c93a7a27998a68ba337a9d2c9ebd"
      Last-Modified:
      - Wed, 06 Feb 2019 17:58:13 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Bradniedt","id":22285337,"node_id":"MDQ6VXNlcjIyMjg1MzM3","avatar_url":"https://avatars0.githubusercontent.com/u/22285337?v=4","gravatar_id":"","url":"https://api.github.com/users/Bradniedt","html_url":"https://github.com/Bradniedt","followers_url":"https://api.github.com/users/Bradniedt/followers","following_url":"https://api.github.com/users/Bradniedt/following{/other_user}","gists_url":"https://api.github.com/users/Bradniedt/gists{/gist_id}","starred_url":"https://api.github.com/users/Bradniedt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Bradniedt/subscriptions","organizations_url":"https://api.github.com/users/Bradniedt/orgs","repos_url":"https://api.github.com/users/Bradniedt/repos","events_url":"https://api.github.com/users/Bradniedt/events{/privacy}","received_events_url":"https://api.github.com/users/Bradniedt/received_events","type":"User","site_admin":false,"name":"Brad
        Niedt","company":null,"blog":"","location":"Denver, Colorado","email":null,"hireable":true,"bio":"Back
        End Engineering student at  Turing School of Software Design (1810BE). ","public_repos":43,"public_gists":16,"followers":13,"following":13,"created_at":"2016-09-19T03:05:59Z","updated_at":"2019-02-06T17:58:13Z"}'
  recorded_at: Wed, 06 Feb 2019 23:08:12 GMT
recorded_with: VCR 4.0.0
