---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1548801290'
      Etag:
      - W/"abf7c2c66a7eaa315e3847f2dee20fa2"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_API_KEY>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_API_KEY>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":168032677,"node_id":"MDEwOlJlcG9zaXRvcnkxNjgwMzI2Nzc=","name":"brownfield-of-dreams","full_name":"bendelonlee/brownfield-of-dreams","private":false,"owner":{"login":"bendelonlee","id":41645771,"node_id":"MDQ6VXNlcjQxNjQ1Nzcx","avatar_url":"https://avatars2.githubusercontent.com/u/41645771?v=4","gravatar_id":"","url":"https://api.github.com/users/bendelonlee","html_url":"https://github.com/bendelonlee","followers_url":"https://api.github.com/users/bendelonlee/followers","following_url":"https://api.github.com/users/bendelonlee/following{/other_user}","gists_url":"https://api.github.com/users/bendelonlee/gists{/gist_id}","starred_url":"https://api.github.com/users/bendelonlee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bendelonlee/subscriptions","organizations_url":"https://api.github.com/users/bendelonlee/orgs","repos_url":"https://api.github.com/users/bendelonlee/repos","events_url":"https://api.github.com/users/bendelonlee/events{/privacy}","received_events_url":"https://api.github.com/users/bendelonlee/received_events","type":"User","site_admin":false},"html_url":"https://github.com/bendelonlee/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams","forks_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/bendelonlee/brownfield-of-dreams/deployments","created_at":"2019-01-28T20:34:24Z","updated_at":"2019-01-29T17:54:38Z","pushed_at":"2019-01-29T21:23:15Z","git_url":"git://github.com/bendelonlee/brownfield-of-dreams.git","ssh_url":"git@github.com:bendelonlee/brownfield-of-dreams.git","clone_url":"https://github.com/bendelonlee/brownfield-of-dreams.git","svn_url":"https://github.com/bendelonlee/brownfield-of-dreams","homepage":"","size":443,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":18,"license":null,"forks":0,"open_issues":18,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":160250002,"node_id":"MDEwOlJlcG9zaXRvcnkxNjAyNTAwMDI=","name":"BookClub","full_name":"jpclark6/BookClub","private":false,"owner":{"login":"jpclark6","id":41842702,"node_id":"MDQ6VXNlcjQxODQyNzAy","avatar_url":"https://avatars0.githubusercontent.com/u/41842702?v=4","gravatar_id":"","url":"https://api.github.com/users/jpclark6","html_url":"https://github.com/jpclark6","followers_url":"https://api.github.com/users/jpclark6/followers","following_url":"https://api.github.com/users/jpclar[...]
