---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1549483468'
      Etag:
      - W/"084b70ebff4900e8b0f46cb2d3d5e8a4"
      Last-Modified:
      - Tue, 05 Feb 2019 21:42:20 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"justinmauldin7","id":37850013,"node_id":"MDQ6VXNlcjM3ODUwMDEz","avatar_url":"https://avatars1.githubusercontent.com/u/37850013?v=4","gravatar_id":"","url":"https://api.github.com/users/justinmauldin7","html_url":"https://github.com/justinmauldin7","followers_url":"https://api.github.com/users/justinmauldin7/followers","following_url":"https://api.github.com/users/justinmauldin7/following{/other_user}","gists_url":"https://api.github.com/users/justinmauldin7/gists{/gist_id}","starred_url":"https://api.github.com/users/justinmauldin7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/justinmauldin7/subscriptions","organizations_url":"https://api.github.com/users/justinmauldin7/orgs","repos_url":"https://api.github.com/users/justinmauldin7/repos","events_url":"https://api.github.com/users/justinmauldin7/events{/privacy}","received_events_url":"https://api.github.com/users/justinmauldin7/received_events","type":"User","site_admin":false,"name":"Justin
        Mauldin","company":null,"blog":"https://www.linkedin.com/in/justinmauldin/","location":"Denver,
        Colorado","email":"justin.mauldin7@gmail.com","hireable":null,"bio":"Student
        at Turing School of Software & Design - 1810BE","public_repos":46,"public_gists":3,"followers":9,"following":15,"created_at":"2018-03-27T20:47:07Z","updated_at":"2019-02-05T21:42:20Z","private_gists":11,"total_private_repos":0,"owned_private_repos":0,"disk_usage":924,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Wed, 06 Feb 2019 19:12:16 GMT
recorded_with: VCR 4.0.0
