---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/stoic-plus?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1549408661'
      Etag:
      - W/"4668b75058b1621e1d773deca10b3118"
      Last-Modified:
      - Fri, 01 Feb 2019 20:25:50 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"stoic-plus","id":27703353,"node_id":"MDQ6VXNlcjI3NzAzMzUz","avatar_url":"https://avatars0.githubusercontent.com/u/27703353?v=4","gravatar_id":"","url":"https://api.github.com/users/stoic-plus","html_url":"https://github.com/stoic-plus","followers_url":"https://api.github.com/users/stoic-plus/followers","following_url":"https://api.github.com/users/stoic-plus/following{/other_user}","gists_url":"https://api.github.com/users/stoic-plus/gists{/gist_id}","starred_url":"https://api.github.com/users/stoic-plus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stoic-plus/subscriptions","organizations_url":"https://api.github.com/users/stoic-plus/orgs","repos_url":"https://api.github.com/users/stoic-plus/repos","events_url":"https://api.github.com/users/stoic-plus/events{/privacy}","received_events_url":"https://api.github.com/users/stoic-plus/received_events","type":"User","site_admin":false,"name":"Ricardo
        Ledesma","company":null,"blog":"","location":"Denver, Colorado","email":"ricardoledesmadev@gmail.com","hireable":true,"bio":null,"public_repos":51,"public_gists":10,"followers":9,"following":3,"created_at":"2017-04-17T19:56:10Z","updated_at":"2019-02-01T20:25:50Z"}'
  recorded_at: Tue, 05 Feb 2019 23:13:27 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1549413077'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 05 Feb 2019 23:31:17 GMT
[...]
