---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/stoic-plus?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1549483468'
      Etag:
      - W/"67971852d84d581c8602d17248b63a04"
      Last-Modified:
      - Fri, 01 Feb 2019 20:25:50 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"stoic-plus","id":27703353,"node_id":"MDQ6VXNlcjI3NzAzMzUz","avatar_url":"https://avatars0.githubusercontent.com/u/27703353?v=4","gravatar_id":"","url":"https://api.github.com/users/stoic-plus","html_url":"https://github.com/stoic-plus","followers_url":"https://api.github.com/users/stoic-plus/followers","following_url":"https://api.github.com/users/stoic-plus/following{/other_user}","gists_url":"https://api.github.com/users/stoic-plus/gists{/gist_id}","starred_url":"https://api.github.com/users/stoic-plus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stoic-plus/subscriptions","organizations_url":"https://api.github.com/users/stoic-plus/orgs","repos_url":"https://api.github.com/users/stoic-plus/repos","events_url":"https://api.github.com/users/stoic-plus/events{/privacy}","received_events_url":"https://api.github.com/users/stoic-plus/received_events","type":"User","site_admin":false,"name":"Ricardo
        Ledesma","company":null,"blog":"","location":"Denver, Colorado","email":"ricardoledesmadev@gmail.com","hireable":true,"bio":null,"public_repos":52,"public_gists":10,"followers":9,"following":3,"created_at":"2017-04-17T19:56:10Z","updated_at":"2019-02-01T20:25:50Z"}'
  recorded_at: Wed, 06 Feb 2019 19:05:54 GMT
recorded_with: VCR 4.0.0
