---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1548874058'
      Etag:
      - W/"0ae1130c4dfedee97a8bd9ac621349fa"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"cebarks","id":551065,"node_id":"MDQ6VXNlcjU1MTA2NQ==","avatar_url":"https://avatars3.githubusercontent.com/u/551065?v=4","gravatar_id":"","url":"https://api.github.com/users/cebarks","html_url":"https://github.com/cebarks","followers_url":"https://api.github.com/users/cebarks/followers","following_url":"https://api.github.com/users/cebarks/following{/other_user}","gists_url":"https://api.github.com/users/cebarks/gists{/gist_id}","starred_url":"https://api.github.com/users/cebarks/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cebarks/subscriptions","organizations_url":"https://api.github.com/users/cebarks/orgs","repos_url":"https://api.github.com/users/cebarks/repos","events_url":"https://api.github.com/users/cebarks/events{/privacy}","received_events_url":"https://api.github.com/users/cebarks/received_events","type":"User","site_admin":false},{"login":"nicovigil1","id":43397150,"node_id":"MDQ6VXNlcjQzMzk3MTUw","avatar_url":"https://avatars0.githubusercontent.com/u/43397150?v=4","gravatar_id":"","url":"https://api.github.com/users/nicovigil1","html_url":"https://github.com/nicovigil1","followers_url":"https://api.github.com/users/nicovigil1/followers","following_url":"https://api.github.com/users/nicovigil1/following{/other_user}","gists_url":"https://api.github.com/users/nicovigil1/gists{/gist_id}","starred_url":"https://api.g[...]
