---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1548876997'
      Etag:
      - W/"dcc1e3eab19cf79ec32ad42e100ed0a6"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"cebarks","id":551065,"node_id":"MDQ6VXNlcjU1MTA2NQ==","avatar_url":"https://avatars3.githubusercontent.com/u/551065?v=4","gravatar_id":"","url":"https://api.github.com/users/cebarks","html_url":"https://github.com/cebarks","followers_url":"https://api.github.com/users/cebarks/followers","following_url":"https://api.github.com/users/cebarks/following{/other_user}","gists_url":"https://api.github.com/users/cebarks/gists{/gist_id}","starred_url":"https://api.github.com/users/cebarks/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cebarks/subscriptions","organizations_url":"https://api.github.com/users/cebarks/orgs","repos_url":"https://api.github.com/users/cebarks/repos","events_url":"https://api.github.com/users/cebarks/events{/privacy}","received_events_url":"https://api.github.com/users/cebarks/received_events","type":"User","site_admin":false},{"login":"asmolentzov","id":6686861,"node_id":"MDQ6VXNlcjY2ODY4NjE=","avatar_url":"https://avatars2.githubusercontent.com/u/6686861?v=4","gravatar_id":"","url":"https://api.github.com/users/asmolentzov","html_url":"https://github.com/asmolentzov","followers_url":"https://api.github.com/users/asmolentzov/followers","following_url":"https://api.github.com/users/asmolentzov/following{/other_user}","gists_url":"https://api.github.com/users/asmolentzov/gists{/gist_id}","starred_url":"https://a[...]
