---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 93b1d005bcfc93c0683486c7b04bbb6872872f73
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1557334967'
      Etag:
      - W/"8e34860dd1351913b68f0cac7fb4994a"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":176398898,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzOTg4OTg=","name":"Bookclub","full_name":"carriewalsh/Bookclub","private":false,"owner":{"login":"carriewalsh","id":43975624,"node_id":"MDQ6VXNlcjQzOTc1NjI0","avatar_url":"https://avatars0.githubusercontent.com/u/43975624?v=4","gravatar_id":"","url":"https://api.github.com/users/carriewalsh","html_url":"https://github.com/carriewalsh","followers_url":"https://api.github.com/users/carriewalsh/followers","following_url":"https://api.github.com/users/carriewalsh/following{/other_user}","gists_url":"https://api.github.com/users/carriewalsh/gists{/gist_id}","starred_url":"https://api.github.com/users/carriewalsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/carriewalsh/subscriptions","organizations_url":"https://api.github.com/users/carriewalsh/orgs","repos_url":"https://api.github.com/users/carriewalsh/repos","events_url":"https://api.github.com/users/carriewalsh/events{/privacy}","received_events_url":"https://api.github.com/users/carriewalsh/received_events","type":"User","site_admin":false},"html_url":"https://github.com/carriewalsh/Bookclub","description":null,"fork":false,"url":"https://api.github.com/repos/carriewalsh/Bookclub","forks_url":"https://api.github.com/repos/carriewalsh/Bookclub/forks","keys_url":"https://api.github.com/repos/carriewalsh/Bookclub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/carriewalsh/Bookclub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/carriewalsh/Bookclub/teams","hooks_url":"https://api.github.com/repos/carriewalsh/Bookclub/hooks","issue_events_url":"https://api.github.com/repos/carriewalsh/Bookclub/issues/events{/number}","events_url":"https://api.github.com/repos/carriewalsh/Bookclub/events","assignees_url":"https://api.github.com/repos/carriewalsh/Bookclub/assignees{/user}","branches_url":"https://api.github.com/repos/carriewalsh/Bookclub/branches{/branch}","tags_url":"https://api.github.com/repos/carriewalsh/Bookclub/tags","blobs_url":"https://api.github.com/repos/carriewalsh/Bookclub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/carriewalsh/Bookclub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/carriewalsh/Bookclub/git/refs{/sha}","trees_url":"https://api.github.com/repos/carriewalsh/Bookclub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/carriewalsh/Bookclub/statuses/{sha}","languages_url":"https://api.github.com/repos/carriewalsh/Bookclub/languages","stargazers_url":"https://api.github.com/repos/carriewalsh/Bookclub/stargazers","contributors_url":"https://api.github.com/repos/carriewalsh/Bookclub/contributors","subscribers_url":"https://api.github.com/repos/carriewalsh/Bookclub/subscribers","subscription_url":"https://api.github.com/repos/carriewalsh/Bookclub/subscription","commits_url":"https://api.github.com/repos/carriewalsh/Bookclub/commits{/sha}","git_commits_url":"https://api.github.com/repos/carriewalsh/Bookclub/git/commits{/sha}","comments_url":"https://api.github.com/repos/carriewalsh/Bookclub/comments{/number}","issue_comment_url":"https://api.github.com/repos/carriewalsh/Bookclub/issues/comments{/number}","contents_url":"https://api.github.com/repos/carriewalsh/Bookclub/contents/{+path}","compare_url":"https://api.github.com/repos/carriewalsh/Bookclub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/carriewalsh/Bookclub/merges","archive_url":"https://api.github.com/repos/carriewalsh/Bookclub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/carriewalsh/Bookclub/downloads","issues_url":"https://api.github.com/repos/carriewalsh/Bookclub/issues{/number}","pulls_url":"https://api.github.com/repos/carriewalsh/Bookclub/pulls{/number}","milestones_url":"https://api.github.com/repos/carriewalsh/Bookclub/milestones{/number}","notifications_url":"https://api.github.com/repos/carriewalsh/Bookclub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/carriewalsh/Bookclub/labels{/name}","releases_url":"https://api.github.com/repos/carriewalsh/Bookclub/releases{/id}","deployments_url":"https://api.github.com/repos/carriewalsh/Bookclub/deployments","created_at":"2019-03-19T01:31:26Z","updated_at":"2019-03-27T14:42:28Z","pushed_at":"2019-04-26T17:47:48Z","git_url":"git://github.com/carriewalsh/Bookclub.git","ssh_url":"git@github.com:carriewalsh/Bookclub.git","clone_url":"https://github.com/carriewalsh/Bookclub.git","svn_url":"https://github.com/carriewalsh/Bookclub","homepage":null,"size":197,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":6,"license":null,"forks":0,"open_issues":6,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":185274544,"node_id":"MDEwOlJlcG9zaXRvcnkxODUyNzQ1NDQ=","name":"brownfield-of-dreams","full_name":"JaxJafinPapau/brownfield-of-dreams","private":false,"owner":{"login":"JaxJafinPapau","id":25406708,"node_id":"MDQ6VXNlcjI1NDA2NzA4","avatar_url":"https://avatars3.githubusercontent.com/u/25406708?v=4","gravatar_id":"","url":"https://api.github.com/users/JaxJafinPapau","html_url":"https://github.com/JaxJafinPapau","followers_url":"https://api.github.com/users/JaxJafinPapau/followers","fo[...]
