---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_A>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4897'
      X-Ratelimit-Reset:
      - '1594277551'
      Etag:
      - W/"d04843c4c8c48f862a983c601499f1d5"
      X-Oauth-Scopes:
      - public_repo, read:user, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":261300244,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEzMDAyNDQ=","name":"adopt_dont_shop_2003","full_name":"<GITHUB_USERNAME_A>/adopt_dont_shop_2003","private":false,"owner":{"login":"<GITHUB_USERNAME_A>","id":35614819,"node_id":"MDQ6VXNlcjM1NjE0ODE5","avatar_url":"https://avatars3.githubusercontent.com/u/35614819?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_A>","html_url":"https://github.com/<GITHUB_USERNAME_A>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/received_events","type":"User","site_admin":false},"html_url":"https://github.com/<GITHUB_USERNAME_A>/adopt_dont_shop_2003","description":null,"fork":true,"url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003","forks_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/forks","keys_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/teams","hooks_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/hooks","issue_events_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/issues/events{/number}","events_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/events","assignees_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/assignees{/user}","branches_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/branches{/branch}","tags_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/tags","blobs_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/git/refs{/sha}","trees_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/statuses/{sha}","languages_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/languages","stargazers_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/stargazers","contributors_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/contributors","subscribers_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/subscribers","subscription_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/subscription","commits_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/commits{/sha}","git_commits_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/git/commits{/sha}","comments_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/comments{/number}","issue_comment_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/issues/comments{/number}","contents_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/contents/{+path}","compare_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/merges","archive_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/downloads","issues_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/issues{/number}","pulls_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/pulls{/number}","milestones_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/milestones{/number}","notifications_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/labels{/name}","releases_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/releases{/id}","deployments_url":"https://api.github.com/repos/<GITHUB_USERNAME_A>/adopt_dont_shop_2003/deployments","created_at":"2020-05-04T21:31:47Z","updated_at":"2020-06-29T13:34:39Z","pushed_at":"2020-05-11T00:03:14Z","git_url":"git://github.com/<GITHUB_USERNAME_A>/adopt_dont_shop_2003.git","ssh_url":"git@github.com:<GITHUB_USERNAME_A>/adopt_dont_shop_2003.git","clone_url":"https://github.com/<GITHUB_USERNAME_A>/adopt_dont_shop_2003.git","svn_url":"https://github.com/<GITHUB_USERNAME_A>/adopt_dont_shop_2003","homepage":null,"size":3454,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":129817124,"node_id":"MDEwOlJlcG9zaXRvcnkxMjk4MTcxMjQ=","name":"ames-residential","full_name":"<GITHUB_USERNAME_A>/ames-residential","private":false,"owner":{"login":"<GITHUB_USERNAME_A>","id":35614819,"node_id":"MDQ6VXNlcjM1NjE0ODE5","avatar_url":"https://avatars3.githubusercontent.com/u/35614819?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_A>","html_url":"https://github.com/<GITHUB_USERNAME_A>","followers_url":"https://api.github.com/users/<GITHUB_USER[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_A>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4896'
      X-Ratelimit-Reset:
      - '1594277552'
      Etag:
      - W/"47b314873c04f750e8eb75415a093a01"
      X-Oauth-Scopes:
      - public_repo, read:user, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"<GITHUB_USERNAME_C>","id":35322570,"node_id":"MDQ6VXNlcjM1MzIyNTcw","avatar_url":"https://avatars1.githubusercontent.com/u/35322570?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_C>","html_url":"https://github.com/<GITHUB_USERNAME_C>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/received_events","type":"User","site_admin":false},{"login":"<GITHUB_USERNAME_B>","id":37886458,"node_id":"MDQ6VXNlcjM3ODg2NDU4","avatar_url":"https://avatars1.githubusercontent.com/u/37886458?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_B>","html_url":"https://github.com/<GITHUB_USERNAME_B>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/gists{/gist_id}","starred_u[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_A>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4895'
      X-Ratelimit-Reset:
      - '1594277552'
      Etag:
      - '"9aa3be286ca439626a801fc9fe5245fe"'
      X-Oauth-Scopes:
      - public_repo, read:user, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 09 Jul 2020 06:34:36 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_B>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1594279718'
      Etag:
      - W/"7dad5a3087e3cad52d27a3d1762e418d"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    [...]
[...]
