---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_B>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1594279718'
      Etag:
      - W/"7dad5a3087e3cad52d27a3d1762e418d"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":253626400,"node_id":"MDEwOlJlcG9zaXRvcnkyNTM2MjY0MDA=","name":"futbol","full_name":"EricLarson2020/futbol","private":false,"owner":{"login":"EricLarson2020","id":60331187,"node_id":"MDQ6VXNlcjYwMzMxMTg3","avatar_url":"https://avatars1.githubusercontent.com/u/60331187?v=4","gravatar_id":"","url":"https://api.github.com/users/EricLarson2020","html_url":"https://github.com/EricLarson2020","followers_url":"https://api.github.com/users/EricLarson2020/followers","following_url":"https://api.github.com/users/EricLarson2020/following{/other_user}","gists_url":"https://api.github.com/users/EricLarson2020/gists{/gist_id}","starred_url":"https://api.github.com/users/EricLarson2020/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/EricLarson2020/subscriptions","organizations_url":"https://api.github.com/users/EricLarson2020/orgs","repos_url":"https://api.github.com/users/EricLarson2020/repos","events_url":"https://api.github.com/users/EricLarson2020/events{/privacy}","received_events_url":"https://api.github.com/users/EricLarson2020/received_events","type":"User","site_admin":false},"html_url":"https://github.com/EricLarson2020/futbol","description":null,"fork":true,"url":"https://api.github.com/repos/EricLarson2020/futbol","forks_url":"https://api.github.com/repos/EricLarson2020/futbol/forks","keys_url":"https://api.github.com/repos/EricLarson2020/futbol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/EricLarson2020/futbol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/EricLarson2020/futbol/teams","hooks_url":"https://api.github.com/repos/EricLarson2020/futbol/hooks","issue_events_url":"https://api.github.com/repos/EricLarson2020/futbol/issues/events{/number}","events_url":"https://api.github.com/repos/EricLarson2020/futbol/events","assignees_url":"https://api.github.com/repos/EricLarson2020/futbol/assignees{/user}","branches_url":"https://api.github.com/repos/EricLarson2020/futbol/branches{/branch}","tags_url":"https://api.github.com/repos/EricLarson2020/futbol/tags","blobs_url":"https://api.github.com/repos/EricLarson2020/futbol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/EricLarson2020/futbol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/EricLarson2020/futbol/git/refs{/sha}","trees_url":"https://api.github.com/repos/EricLarson2020/futbol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/EricLarson2020/futbol/statuses/{sha}","languages_url":"https://api.github.com/repos/EricLarson2020/futbol/languages","stargazers_url":"https://api.github.com/repos/EricLarson2020/futbol/stargazers","contributors_url":"https://api.github.com/repos/EricLarson2020/futbol/contributors","subscribers_url":"https://api.github.com/repos/EricLarson2020/futbol/subscribers","subscription_url":"https://api.github.com/repos/EricLarson2020/futbol/subscription","commits_url":"https://api.github.com/repos/EricLarson2020/futbol/commits{/sha}","git_commits_url":"https://api.github.com/repos/EricLarson2020/futbol/git/commits{/sha}","comments_url":"https://api.github.com/repos/EricLarson2020/futbol/comments{/number}","issue_comment_url":"https://api.github.com/repos/EricLarson2020/futbol/issues/comments{/number}","contents_url":"https://api.github.com/repos/EricLarson2020/futbol/contents/{+path}","compare_url":"https://api.github.com/repos/EricLarson2020/futbol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/EricLarson2020/futbol/merges","archive_url":"https://api.github.com/repos/EricLarson2020/futbol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/EricLarson2020/futbol/downloads","issues_url":"https://api.github.com/repos/EricLarson2020/futbol/issues{/number}","pulls_url":"https://api.github.com/repos/EricLarson2020/futbol/pulls{/number}","milestones_url":"https://api.github.com/repos/EricLarson2020/futbol/milestones{/number}","notifications_url":"https://api.github.com/repos/EricLarson2020/futbol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/EricLarson2020/futbol/labels{/name}","releases_url":"https://api.github.com/repos/EricLarson2020/futbol/releases{/id}","deployments_url":"https://api.github.com/repos/EricLarson2020/futbol/deployments","created_at":"2020-04-06T22:06:01Z","updated_at":"2020-04-16T14:27:00Z","pushed_at":"2020-04-16T14:26:57Z","git_url":"git://github.com/EricLarson2020/futbol.git","ssh_url":"git@github.com:EricLarson2020/futbol.git","clone_url":"https://github.com/EricLarson2020/futbol.git","svn_url":"https://github.com/EricLarson2020/futbol","homepage":null,"size":446,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":248524866,"node_id":"MDEwOlJlcG9zaXRvcnkyNDg1MjQ4NjY=","name":"2003_classwork","full_name":"<GITHUB_USERNAME_B>/2003_classwork","private":false,"owner":{"login":"<GITHUB_USERNAME_B>","id":37886458,"node_id":"MDQ6VXNlcjM3ODg2NDU4","avatar_url":"https://avatars1.githubusercontent.com/u/37886458?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_B>","html_url":"https://github.com/<GITHUB_USERNAME_B>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/following{/other_user}","gists_url":"https:[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_B>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1594279718'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_B>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1594279718'
      Etag:
      - W/"8b9b6762c3f41cc0068d4a249374d484"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"<GITHUB_USERNAME_A>","id":35614819,"node_id":"MDQ6VXNlcjM1NjE0ODE5","avatar_url":"https://avatars3.githubusercontent.com/u/35614819?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_A>","html_url":"https://github.com/<GITHUB_USERNAME_A>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/gists{/gist_id}","starred_u[...]
- request:
    method: get
    uri: https://api.github.com/users/<GITHUB_USERNAME_A>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_B>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1594279718'
      Etag:
      - W/"f37521ba2a6cc7ecbbcd27cb81c84554"
      Last-Modified:
      - Wed, 08 Jul 2020 21:28:08 GMT
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"<GITHUB_USERNAME_A>","id":35614819,"node_id":"MDQ6VXNlcjM1NjE0ODE5","avatar_url":"https://avatars3.githubusercontent.com/u/35614819?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_A>","html_url":"https://github.com/<GITHUB_USERNAME_A>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/received_events","type":"User","site_admin":false,"name":"Alex
        Pariseau","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":36,"public_gists":0,"followers":4,"following":0,"created_at":"2018-01-19T22:49:12Z","updated_at":"2020-07-08T21:28:08Z"}'
  recorded_at: Thu, 09 Jul 2020 06:34:28 GMT
[...]
