---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1553108686'
      Etag:
      - W/"b4b7bec70393b32353049c04261e7f51"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"manojpanta","id":34468256,"node_id":"MDQ6VXNlcjM0NDY4MjU2","avatar_url":"https://avatars1.githubusercontent.com/u/34468256?v=4","gravatar_id":"","url":"https://api.github.com/users/manojpanta","html_url":"https://github.com/manojpanta","followers_url":"https://api.github.com/users/manojpanta/followers","following_url":"https://api.github.com/users/manojpanta/following{/other_user}","gists_url":"https://api.github.com/users/manojpanta/gists{/gist_id}","starred_url":"https://api.github.com/users/manojpanta/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/manojpanta/subscriptions","organizations_url":"https://api.github.com/users/manojpanta/orgs","repos_url":"https://api.github.com/users/manojpanta/repos","events_url":"https://api.github.com/users/manojpanta/events{/privacy}","received_events_url":"https://api.github.com/users/manojpanta/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 20 Mar 2019 18:02:57 GMT
recorded_with: VCR 4.0.0
