---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=94b2a1343aef581d335f58d48da19a129ed6ff23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1557772914'
      Etag:
      - W/"8e5b14d4426ef5c5aea28cf07290bc4f"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"erin-king","id":44042415,"node_id":"MDQ6VXNlcjQ0MDQyNDE1","avatar_url":"https://avatars2.githubusercontent.com/u/44042415?v=4","gravatar_id":"","url":"https://api.github.com/users/erin-king","html_url":"https://github.com/erin-king","followers_url":"https://api.github.com/users/erin-king/followers","following_url":"https://api.github.com/users/erin-king/following{/other_user}","gists_url":"https://api.github.com/users/erin-king/gists{/gist_id}","starred_url":"https://api.github.com/users/erin-king/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/erin-king/subscriptions","organizations_url":"https://api.github.com/users/erin-king/orgs","repos_url":"https://api.github.com/users/erin-king/repos","events_url":"https://api.github.com/users/erin-king/events{/privacy}","received_events_url":"https://api.github.com/users/erin-king/received_events","type":"User","site_admin":false},{"login":"jalena-penaligon","id":45905026,"node_id":"MDQ6VXNlcjQ1OTA1MDI2","avatar_url":"https://avatars0.githubusercontent.com/u/45905026?v=4","gravatar_id":"","url":"https://api.github.com/users/jalena-penaligon","html_url":"https://github.com/jalena-penaligon","followers_url":"https://api.github.com/users/jalena-penaligon/followers","following_url":"https://api.github.com/users/jalena-penaligon/following{/other_user}","gists_url":"https://api.github.com/users/jalena-penaligon/gists{/gist_id}","starred_url":"https://api.github.com/users/jalena-penaligon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jalena-penaligon/subscriptions","organizations_url":"https://api.github.com/users/jalena-penaligon/orgs","repos_url":"https://api.github.com/users/jalena-penaligon/repos","events_url":"https://api.github.com/users/jalena-penaligon/events{/privacy}","received_events_url":"https://api.github.com/users/jalena-penaligon/received_events","type":"User","site_admin":false}]'
  recorded_at: Mon, 13 May 2019 17:42:07 GMT
recorded_with: VCR 4.0.0
