---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=cd4ebdf5fcb32eed9770950efcdca60840dbecd8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1557501832'
      Etag:
      - W/"1b1915b7ffe317ada6a39615d735d521"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Santiag0C","id":43061381,"node_id":"MDQ6VXNlcjQzMDYxMzgx","avatar_url":"https://avatars2.githubusercontent.com/u/43061381?v=4","gravatar_id":"","url":"https://api.github.com/users/Santiag0C","html_url":"https://github.com/Santiag0C","followers_url":"https://api.github.com/users/Santiag0C/followers","following_url":"https://api.github.com/users/Santiag0C/following{/other_user}","gists_url":"https://api.github.com/users/Santiag0C/gists{/gist_id}","starred_url":"https://api.github.com/users/Santiag0C/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Santiag0C/subscriptions","organizations_url":"https://api.github.com/users/Santiag0C/orgs","repos_url":"https://api.github.com/users/Santiag0C/repos","events_url":"https://api.github.com/users/Santiag0C/events{/privacy}","received_events_url":"https://api.github.com/users/Santiag0C/received_events","type":"User","site_admin":false},{"login":"jalena-penaligon","id":45905026,"node_id":"MDQ6VXNlcjQ1OTA1MDI2","avatar_url":"https://avatars0.githubusercontent.com/u/45905026?v=4","gravatar_id":"","url":"https://api.github.com/users/jalena-penaligon","html_url":"https://github.com/jalena-penaligon","followers_url":"https://api.github.com/users/jalena-penaligon/followers","following_url":"https://api.github.com/users/jalena-penaligon/following{/other_user}","gists_url":"https://api.github.com/users/jalena-penaligon/gists{/gi[...]
