---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=37b234d311f8471034fd13111193888eb5e9de72
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1557334830'
      Etag:
      - W/"7aa075a42e69c88162a04b19ad2f0b7b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=37b234d311f8471034fd13111193888eb5e9de72&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=37b234d311f8471034fd13111193888eb5e9de72&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":175896951,"node_id":"MDEwOlJlcG9zaXRvcnkxNzU4OTY5NTE=","name":"2win_playlist","full_name":"jalena-penaligon/2win_playlist","private":false,"owner":{"login":"jalena-penaligon","id":45905026,"node_id":"MDQ6VXNlcjQ1OTA1MDI2","avatar_url":"https://avatars0.githubusercontent.com/u/45905026?v=4","gravatar_id":"","url":"https://api.github.com/users/jalena-penaligon","html_url":"https://github.com/jalena-penaligon","followers_url":"https://api.github.com/users/jalena-penaligon/followers","following_url":"https://api.github.com/users/jalena-penaligon/following{/other_user}","gists_url":"https://api.github.com/users/jalena-penaligon/gists{/gist_id}","starred_url":"https://api.github.com/users/jalena-penaligon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jalena-penaligon/subscriptions","organizations_url":"https://api.github.com/users/jalena-penaligon/orgs","repos_url":"https://api.github.com/users/jalena-penaligon/repos","events_url":"https://api.github.com/users/jalena-penaligon/events{/privacy}","received_events_url":"https://api.github.com/users/jalena-penaligon/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jalena-penaligon/2win_playlist","description":"Static
        Comp Challenge","fork":true,"url":"https://api.github.com/repos/jalena-penaligon/2win_playlist","forks_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/forks","keys_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/teams","hooks_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/events","assignees_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/tags","blobs_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/subscription","commits_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/merges","archive_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/downloads","issues_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/jalena-penaligon/2win_playlist/deployments","created_at":"2019-03-15T22:03:45Z","updated_at":"2019-03-17T22:15:57Z","pushed_at":"2019-03-17T22:15:55Z","git_url":"git://github.com/jalena-penaligon/2win_playlist.git","ssh_url":"git@github.com:jalena-penaligon/2win_playlist.git","clone_url":"https://github.com/jalena-penaligon/2win_playlist.git","svn_url":"https://github.com/jalena-penaligon/2win_playlist","homepage":null,"size":1340,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":175261362,"node_id":"MDEwOlJlcG9zaXRvcnkxNzUyNjEzNjI=","name":"activerecord-obstacle-course","full_name":"jalena-penaligon/activerecord-obstacle-course","private":false,"owner":{"login":"jalena-penaligon","id":45905026,"node_id":"MDQ6VXNlcjQ1OTA1MDI2","avatar_url":"https://avatars0.githubusercontent.com/u/45905026?v=4","gravatar_id":"","url":"https://api.github.com/users/jalena-penaligon","html_url":"https://github.com/jalena-penaligon","followers_url":"https://api.github.com/users/[...]
