---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=162e7c72740762a86e98dc9deee58e61eba46970
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1557875333'
      Etag:
      - W/"f0cd6ea2dbcee1876bc40eec14ca67a3"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"stiehlrod","id":25069483,"node_id":"MDQ6VXNlcjI1MDY5NDgz","avatar_url":"https://avatars2.githubusercontent.com/u/25069483?v=4","gravatar_id":"","url":"https://api.github.com/users/stiehlrod","html_url":"https://github.com/stiehlrod","followers_url":"https://api.github.com/users/stiehlrod/followers","following_url":"https://api.github.com/users/stiehlrod/following{/other_user}","gists_url":"https://api.github.com/users/stiehlrod/gists{/gist_id}","starred_url":"https://api.github.com/users/stiehlrod/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stiehlrod/subscriptions","organizations_url":"https://api.github.com/users/stiehlrod/orgs","repos_url":"https://api.github.com/users/stiehlrod/repos","events_url":"https://api.github.com/users/stiehlrod/events{/privacy}","received_events_url":"https://api.github.com/users/stiehlrod/received_events","type":"User","site_admin":false},{"login":"jalena-penaligon","id":45905026,"node_id":"MDQ6VXNlcjQ1OTA1MDI2","avatar_url":"https://avatars0.githubusercontent.com/u/45905026?v=4","gravatar_id":"","url":"https://api.github.com/users/jalena-penaligon","html_url":"https://github.com/jalena-penaligon","followers_url":"https://api.github.com/users/jalena-penaligon/followers","following_url":"https://api.github.com/users/jalena-penaligon/following{/other_user}","gists_url":"https://api.github.com/users/jalena-penaligon/gists{/gi[...]
