---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=47939a454e043efbff98c5f77f881652d92d9b1c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1557790830'
      Etag:
      - W/"fd5a5cdf9b20b7b1d412ec42e0c6363f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"carriewalsh","id":43975624,"node_id":"MDQ6VXNlcjQzOTc1NjI0","avatar_url":"https://avatars0.githubusercontent.com/u/43975624?v=4","gravatar_id":"","url":"https://api.github.com/users/carriewalsh","html_url":"https://github.com/carriewalsh","followers_url":"https://api.github.com/users/carriewalsh/followers","following_url":"https://api.github.com/users/carriewalsh/following{/other_user}","gists_url":"https://api.github.com/users/carriewalsh/gists{/gist_id}","starred_url":"https://api.github.com/users/carriewalsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/carriewalsh/subscriptions","organizations_url":"https://api.github.com/users/carriewalsh/orgs","repos_url":"https://api.github.com/users/carriewalsh/repos","events_url":"https://api.github.com/users/carriewalsh/events{/privacy}","received_events_url":"https://api.github.com/users/carriewalsh/received_events","type":"User","site_admin":false},{"login":"joequincy","id":3322920,"node_id":"MDQ6VXNlcjMzMjI5MjA=","avatar_url":"https://avatars2.githubusercontent.com/u/3322920?v=4","gravatar_id":"","url":"https://api.github.com/users/joequincy","html_url":"https://github.com/joequincy","followers_url":"https://api.github.com/users/joequincy/followers","following_url":"https://api.github.com/users/joequincy/following{/other_user}","gists_url":"https://api.github.com/users/joequincy/gists{/gist_id}","starred_url":"https://api.github.co[...]
