---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=ac2ff1451891d8be9d5d493df9d9f3c0888234b2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1557341581'
      Etag:
      - W/"57c0cee0064dc22630b4b04578b18037"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"strafe","id":15663890,"node_id":"MDQ6VXNlcjE1NjYzODkw","avatar_url":"https://avatars0.githubusercontent.com/u/15663890?v=4","gravatar_id":"","url":"https://api.github.com/users/strafe","html_url":"https://github.com/strafe","followers_url":"https://api.github.com/users/strafe/followers","following_url":"https://api.github.com/users/strafe/following{/other_user}","gists_url":"https://api.github.com/users/strafe/gists{/gist_id}","starred_url":"https://api.github.com/users/strafe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/strafe/subscriptions","organizations_url":"https://api.github.com/users/strafe/orgs","repos_url":"https://api.github.com/users/strafe/repos","events_url":"https://api.github.com/users/strafe/events{/privacy}","received_events_url":"https://api.github.com/users/strafe/received_events","type":"User","site_admin":false},{"login":"earl-stephens","id":34906415,"node_id":"MDQ6VXNlcjM0OTA2NDE1","avatar_url":"https://avatars1.githubusercontent.com/u/34906415?v=4","gravatar_id":"","url":"https://api.github.com/users/earl-stephens","html_url":"https://github.com/earl-stephens","followers_url":"https://api.github.com/users/earl-stephens/followers","following_url":"https://api.github.com/users/earl-stephens/following{/other_user}","gists_url":"https://api.github.com/users/earl-stephens/gists{/gist_id}","starred_u[...]
