---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ffd1ff70ad5ab8b580f76f475db7d9294b9dd972
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1553366902'
      Etag:
      - W/"34327f95e3f8fc0dc393bd04157aaa6d"
      X-Oauth-Scopes:
      - admin:business, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Mackenzie-Frey","id":42525195,"node_id":"MDQ6VXNlcjQyNTI1MTk1","avatar_url":"https://avatars0.githubusercontent.com/u/42525195?v=4","gravatar_id":"","url":"https://api.github.com/users/Mackenzie-Frey","html_url":"https://github.com/Mackenzie-Frey","followers_url":"https://api.github.com/users/Mackenzie-Frey/followers","following_url":"https://api.github.com/users/Mackenzie-Frey/following{/other_user}","gists_url":"https://api.github.com/users/Mackenzie-Frey/gists{/gist_id}","starred_url":"https://api.github.com/users/Mackenzie-Frey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Mackenzie-Frey/subscriptions","organizations_url":"https://api.github.com/users/Mackenzie-Frey/orgs","repos_url":"https://api.github.com/users/Mackenzie-Frey/repos","events_url":"https://api.github.com/users/Mackenzie-Frey/events{/privacy}","received_events_url":"https://api.github.com/users/Mackenzie-Frey/received_events","type":"User","site_admin":false},{"login":"timnallen","id":42568362,"node_id":"MDQ6VXNlcjQyNTY4MzYy","avatar_url":"https://avatars1.githubusercontent.com/u/42568362?v=4","gravatar_id":"","url":"https://api.github.com/users/timnallen","html_url":"https://github.com/timnallen","followers_url":"https://api.github.com/users/timnallen/followers","following_url":"https://api.github.com/users/timnallen/following{/other_user}","gists_url":"https://api.github.com/users/timnallen/gists{/gist_id}","starred_url":"https://api.github.[...]
