---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4823'
      X-Ratelimit-Reset:
      - '1581610936'
      Etag:
      - W/"388797eeb14419cbbed1ee4d592324a1"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - '083f56b423556c16744e'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":228436626,"node_id":"MDEwOlJlcG9zaXRvcnkyMjg0MzY2MjY=","name":"monster_shop_part_1","full_name":"DavidBarriga-Gomez/monster_shop_part_1","private":false,"owner":{"login":"DavidBarriga-Gomez","id":50917634,"node_id":"MDQ6VXNlcjUwOTE3NjM0","avatar_url":"https://avatars0.githubusercontent.com/u/50917634?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidBarriga-Gomez","html_url":"https://github.com/DavidBarriga-Gomez","followers_url":"https://api.github.com/users/DavidBarriga-Gomez/followers","following_url":"https://api.github.com/users/DavidBarriga-Gomez/following{/other_user}","gists_url":"https://api.github.com/users/DavidBarriga-Gomez/gists{/gist_id}","starred_url":"https://api.github.com/users/DavidBarriga-Gomez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DavidBarriga-Gomez/subscriptions","organizations_url":"https://api.github.com/users/DavidBarriga-Gomez/orgs","repos_url":"https://api.github.com/users/DavidBarriga-Gomez/repos","events_url":"https://api.github.com/users/DavidBarriga-Gomez/events{/privacy}","received_events_url":"https://api.github.com/users/DavidBarriga-Gomez/received_events","type":"User","site_admin":false},"html_url":"https://github.com/DavidBarriga-Gomez/monster_shop_part_1","description":null,"fork":true,"url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1","forks_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/forks","keys_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/teams","hooks_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/hooks","issue_events_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/issues/events{/number}","events_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/events","assignees_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/assignees{/user}","branches_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/branches{/branch}","tags_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/tags","blobs_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/git/refs{/sha}","trees_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/statuses/{sha}","languages_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/languages","stargazers_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/stargazers","contributors_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/contributors","subscribers_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/subscribers","subscription_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/subscription","commits_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/commits{/sha}","git_commits_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/git/commits{/sha}","comments_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/comments{/number}","issue_comment_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/issues/comments{/number}","contents_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/contents/{+path}","compare_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/merges","archive_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/downloads","issues_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/issues{/number}","pulls_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/pulls{/number}","milestones_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/milestones{/number}","notifications_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/labels{/name}","releases_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/releases{/id}","deployments_url":"https://api.github.com/repos/DavidBarriga-Gomez/monster_shop_part_1/deployments","created_at":"2019-12-16T17:12:13Z","updated_at":"2020-01-09T22:51:41Z","pushed_at":"2020-01-09T22:51:39Z","git_url":"git://github.com/DavidBarriga-Gomez/monster_shop_part_1.git","ssh_url":"git@github.com:DavidBarriga-Gomez/monster_shop_part_1.git","clone_url":"https://github.com/DavidBarriga-Gomez/monster_shop_part_1.git","svn_url":"https://github.com/DavidBarriga-Gomez/monster_shop_part_1","homepage":null,"size":827,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"forks":2,"open_issues":2,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":235687231,"node_id":"MDEwOlJlcG9zaXRvcnkyMzU2ODcyMzE=","name":"72_gmail","full_name":"hale4029/72_gmail","private":false,"owner":{"login":"hale4029","id":29346170,"node_id":"MDQ6VXNlcjI5MzQ2MTcw","avatar_url":"https://avatars2.githubusercontent.com/u/29346170?v=4","gravatar_id":"","url":"https://api.github.com/users/hale4029","html_url":"https://github.com/hale4029","followers_url":"https://api.github.com/users/hale4029/followers","following_url":"https://api.github.com/users/hale40[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4822'
      X-Ratelimit-Reset:
      - '1581610936'
      Etag:
      - W/"e1cc43d22d358[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4821'
      X-Ratelimit-Reset:
      - '1581610935'
      Etag:
      - W/"db0d0a59a4b20[...]
[...]
