---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <DAN_GIT_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1548886387'
      Etag:
      - W/"055933032a2a473470c60e1324571711"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":161810780,"node_id":"MDEwOlJlcG9zaXRvcnkxNjE4MTA3ODA=","name":"little-shop","full_name":"asmolentzov/little-shop","private":false,"owner":{"login":"asmolentzov","id":6686861,"node_id":"MDQ6VXNlcjY2ODY4NjE=","avatar_url":"https://avatars2.githubusercontent.com/u/6686861?v=4","gravatar_id":"","url":"https://api.github.com/users/asmolentzov","html_url":"https://github.com/asmolentzov","followers_url":"https://api.github.com/users/asmolentzov/followers","following_url":"https://api.github.com/users/asmolentzov/following{/other_user}","gists_url":"https://api.github.com/users/asmolentzov/gists{/gist_id}","starred_url":"https://api.github.com/users/asmolentzov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asmolentzov/subscriptions","organizations_url":"https://api.github.com/users/asmolentzov/orgs","repos_url":"https://api.github.com/users/asmolentzov/repos","events_url":"https://api.github.com/users/asmolentzov/events{/privacy}","received_events_url":"https://api.github.com/users/asmolentzov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/asmolentzov/little-shop","description":null,"fork":false,"url":"https://api.github.com/repos/asmolentzov/little-shop","forks_url":"https://api.github.com/repos/asmolentzov/little-shop/forks","keys_url":"https://api.github.com/repos/asmolentzov/little-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/asmolentzov/little-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/asmolentzov/little-shop/teams","hooks_url":"https://api.github.com/repos/asmolentzov/little-shop/hooks","issue_events_url":"https://api.github.com/repos/asmolentzov/little-shop/issues/events{/number}","events_url":"https://api.github.com/repos/asmolentzov/little-shop/events","assignees_url":"https://api.github.com/repos/asmolentzov/little-shop/assignees{/user}","branches_url":"https://api.github.com/repos/asmolentzov/little-shop/branches{/branch}","tags_url":"https://api.github.com/repos/asmolentzov/little-shop/tags","blobs_url":"https://api.github.com/repos/asmolentzov/little-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/asmolentzov/little-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/asmolentzov/little-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/asmolentzov/little-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/asmolentzov/little-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/asmolentzov/little-shop/languages","stargazers_url":"https://api.github.com/repos/asmolentzov/little-shop/stargazers","contributors_url":"https://api.github.com/repos/asmolentzov/little-shop/contributors","subscribers_url":"https://api.github.com/repos/asmolentzov/little-shop/subscribers","subscription_url":"https://api.github.com/repos/asmolentzov/little-shop/subscription","commits_url":"https://api.github.com/repos/asmolentzov/little-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/asmolentzov/little-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/asmolentzov/little-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/asmolentzov/little-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/asmolentzov/little-shop/contents/{+path}","compare_url":"https://api.github.com/repos/asmolentzov/little-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/asmolentzov/little-shop/merges","archive_url":"https://api.github.com/repos/asmolentzov/little-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/asmolentzov/little-shop/downloads","issues_url":"https://api.github.com/repos/asmolentzov/little-shop/issues{/number}","pulls_url":"https://api.github.com/repos/asmolentzov/little-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/asmolentzov/little-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/asmolentzov/little-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/asmolentzov/little-shop/labels{/name}","releases_url":"https://api.github.com/repos/asmolentzov/little-shop/releases{/id}","deployments_url":"https://api.github.com/repos/asmolentzov/little-shop/deployments","created_at":"2018-12-14T16:15:35Z","updated_at":"2019-01-20T06:12:58Z","pushed_at":"2019-01-02T15:58:23Z","git_url":"git://github.com/asmolentzov/little-shop.git","ssh_url":"git@github.com:asmolentzov/little-shop.git","clone_url":"https://github.com/asmolentzov/little-shop.git","svn_url":"https://github.com/asmolentzov/little-shop","homepage":null,"size":15684,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"open_issues_count":5,"license":null,"forks":1,"open_issues":5,"watchers":3,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":152154599,"node_id":"MDEwOlJlcG9zaXRvcnkxNTIxNTQ1OTk=","name":"battleship","full_name":"Bradniedt/battleship","private":false,"owner":{"login":"Bradniedt","id":22285337,"node_id":"MDQ6VXNlcjIyMjg1MzM3","avatar_url":"https://avatars0.githubusercontent.com/u/22285337?v=4","gravatar_id":"","url":"https://api.github.com/users/Bradniedt","html_url":"https://github.com/Bradniedt","followers_url":"https://api.github.com/users/Bradniedt/followers","following_url":"https://api.github.com/use[...]
