---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic amFtZXMtY2FwZToxYzcwYjc1MjE4MjMyYmE4YTk0NDEwZTlkZDRhZGEwMjNkZGZiNTZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4920'
      X-Ratelimit-Reset:
      - '1562179934'
      Etag:
      - W/"4b7714aa7aa70a5da9a429fb3feb7f7a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ryanmillergm","id":42855291,"node_id":"MDQ6VXNlcjQyODU1Mjkx","avatar_url":"https://avatars0.githubusercontent.com/u/42855291?v=4","gravatar_id":"","url":"https://api.github.com/users/ryanmillergm","html_url":"https://github.com/ryanmillergm","followers_url":"https://api.github.com/users/ryanmillergm/followers","following_url":"https://api.github.com/users/ryanmillergm/following{/other_user}","gists_url":"https://api.github.com/users/ryanmillergm/gists{/gist_id}","starred_url":"https://api.github.com/users/ryanmillergm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ryanmillergm/subscriptions","organizations_url":"https://api.github.com/users/ryanmillergm/orgs","repos_url":"https://api.github.com/users/ryanmillergm/repos","events_url":"https://api.github.com/users/ryanmillergm/events{/privacy}","received_events_url":"https://api.github.com/users/ryanmillergm/received_events","type":"User","site_admin":false},{"login":"kylecornelissen","id":46171611,"node_id":"MDQ6VXNlcjQ2MTcxNjEx","avatar_url":"https://avatars2.githubusercontent.com/u/46171611?v=4","gravatar_id":"","url":"https://api.github.com/users/kylecornelissen","html_url":"https://github.com/kylecornelissen","followers_url":"https://api.github.com/users/kylecornelissen/followers","following_url":"https://api.github.com/users/kylecornelissen/following{/other_user}","gists_url":"https://api.github.com/users/kylecornelissen/gists{/gist_id}[...]
