---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1562450840'
      Etag:
      - W/"5bf1a6d92c2149b346478b323e9eec1e"
      X-Oauth-Scopes:
      - read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"PeregrineReed","id":39976770,"node_id":"MDQ6VXNlcjM5OTc2Nzcw","avatar_url":"https://avatars3.githubusercontent.com/u/39976770?v=4","gravatar_id":"","url":"https://api.github.com/users/PeregrineReed","html_url":"https://github.com/PeregrineReed","followers_url":"https://api.github.com/users/PeregrineReed/followers","following_url":"https://api.github.com/users/PeregrineReed/following{/other_user}","gists_url":"https://api.github.com/users/PeregrineReed/gists{/gist_id}","starred_url":"https://api.github.com/users/PeregrineReed/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PeregrineReed/subscriptions","organizations_url":"https://api.github.com/users/PeregrineReed/orgs","repos_url":"https://api.github.com/users/PeregrineReed/repos","events_url":"https://api.github.com/users/PeregrineReed/events{/privacy}","received_events_url":"https://api.github.com/users/PeregrineReed/received_events","type":"User","site_admin":false},{"login":"TyMazey","id":43197720,"node_id":"MDQ6VXNlcjQzMTk3NzIw","avatar_url":"https://avatars3.githubusercontent.com/u/43197720?v=4","gravatar_id":"","url":"https://api.github.com/users/TyMazey","html_url":"https://github.com/TyMazey","followers_url":"https://api.github.com/users/TyMazey/followers","following_url":"https://api.github.com/users/TyMazey/following{/other_user}","gists_url":"https://api.github.com/users/TyMazey/gists{/gist_id}","starred_url":"https://api.github.com/users/Ty[...]
