---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1553044441'
      Etag:
      - W/"10c047239d2fbe4f1a45955e98948db9"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":167905812,"node_id":"MDEwOlJlcG9zaXRvcnkxNjc5MDU4MTI=","name":"activerecord-obstacle-course","full_name":"juliamarco/activerecord-obstacle-course","private":false,"owner":{"login":"juliamarco","id":35079289,"node_id":"MDQ6VXNlcjM1MDc5Mjg5","avatar_url":"https://avatars1.githubusercontent.com/u/35079289?v=4","gravatar_id":"","url":"https://api.github.com/users/juliamarco","html_url":"https://github.com/juliamarco","followers_url":"https://api.github.com/users/juliamarco/followers","following_url":"https://api.github.com/users/juliamarco/following{/other_user}","gists_url":"https://api.github.com/users/juliamarco/gists{/gist_id}","starred_url":"https://api.github.com/users/juliamarco/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/juliamarco/subscriptions","organizations_url":"https://api.github.com/users/juliamarco/orgs","repos_url":"https://api.github.com/users/juliamarco/repos","events_url":"https://api.github.com/users/juliamarco/events{/privacy}","received_events_url":"https://api.github.com/users/juliamarco/received_events","type":"User","site_admin":false},"html_url":"https://github.com/juliamarco/activerecord-obstacle-course","description":"Active
        Record Obstacle Course","fork":true,"url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/juliamarco/activerecord-obstacle-course/deployments","created_at":"2019-01-28T05:45:26Z","updated_at":"2019-02-26T23:29:31Z","pushed_at":"2019-02-26T23:29:30Z","git_url":"git://github.com/juliamarco/activerecord-obstacle-course.git","ssh_url":"git@github.com:juliamarco/activerecord-obstacle-course.git","clone_url":"https://github.com/juliamarco/activerecord-obstacle-course.git","svn_url":"https://github.com/juliamarco/activerecord-obstacle-course","homepage":null,"size":52,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":168731218,"node_id":"MDEwOlJlcG9zaXRvcnkxNjg3MzEyMTg=","name":"apollo_14","full_name":"juliamarco/apollo_14","private":false,"owner":{"login":"juliamarco","id":35079289,"node_id":"MDQ6VXNlcjM1MDc5Mjg5","avatar_url":"https://avatars1.githubusercontent.com/u/35079289?v=4","gravatar_id":"","url":"https://api.github.com/users/juliamarco","html_url":"https://github.com/juliamarco","followers_url":"https://api.github.com/users/juliamarco/followers","following_url":"https://api.github.com/[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1553044441'
      Etag:
      -[...]
