---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1553043604'
      Etag:
      - W/"53ab8b87b7521374f16dc616b84402d2"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"m-mrcr","id":28820023,"node_id":"MDQ6VXNlcjI4ODIwMDIz","avatar_url":"https://avatars3.githubusercontent.com/u/28820023?v=4","gravatar_id":"","url":"https://api.github.com/users/m-mrcr","html_url":"https://github.com/m-mrcr","followers_url":"https://api.github.com/users/m-mrcr/followers","following_url":"https://api.github.com/users/m-mrcr/following{/other_user}","gists_url":"https://api.github.com/users/m-mrcr/gists{/gist_id}","starred_url":"https://api.github.com/users/m-mrcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/m-mrcr/subscriptions","organizations_url":"https://api.github.com/users/m-mrcr/orgs","repos_url":"https://api.github.com/users/m-mrcr/repos","events_url":"https://api.github.com/users/m-mrcr/events{/privacy}","received_events_url":"https://api.github.com/users/m-mrcr/received_events","type":"User","site_admin":false},{"login":"n-flint","id":34421236,"node_id":"MDQ6VXNlcjM0NDIxMjM2","avatar_url":"https://avatars3.githubusercontent.com/u/34421236?v=4","gravatar_id":"","url":"https://api.github.com/users/n-flint","html_url":"https://github.com/n-flint","followers_url":"https://api.github.com/users/n-flint/followers","following_url":"https://api.github.com/users/n-flint/following{/other_user}","gists_url":"https://api.github.com/users/n-flint/gists{/gist_id}","starred_url":"https://api.github.com/users/n-[...]
