---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1553045135'
      Etag:
      - W/"9a5a82d498ab9342c86179acd11cc4ee"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"teresa-m-knowles","id":13354855,"node_id":"MDQ6VXNlcjEzMzU0ODU1","avatar_url":"https://avatars0.githubusercontent.com/u/13354855?v=4","gravatar_id":"","url":"https://api.github.com/users/teresa-m-knowles","html_url":"https://github.com/teresa-m-knowles","followers_url":"https://api.github.com/users/teresa-m-knowles/followers","following_url":"https://api.github.com/users/teresa-m-knowles/following{/other_user}","gists_url":"https://api.github.com/users/teresa-m-knowles/gists{/gist_id}","starred_url":"https://api.github.com/users/teresa-m-knowles/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/teresa-m-knowles/subscriptions","organizations_url":"https://api.github.com/users/teresa-m-knowles/orgs","repos_url":"https://api.github.com/users/teresa-m-knowles/repos","events_url":"https://api.github.com/users/teresa-m-knowles/events{/privacy}","received_events_url":"https://api.github.com/users/teresa-m-knowles/received_events","type":"User","site_admin":false},{"login":"smthom05","id":31359242,"node_id":"MDQ6VXNlcjMxMzU5MjQy","avatar_url":"https://avatars0.githubusercontent.com/u/31359242?v=4","gravatar_id":"","url":"https://api.github.com/users/smthom05","html_url":"https://github.com/smthom05","followers_url":"https://api.github.com/users/smthom05/followers","following_url":"https://api.github.com/users/smthom05/following{/other_user}","gists_url":"https://api.github.com/users/smthom05/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
