---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1566356439'
      Etag:
      - W/"0ddb2ec46331405a70db5c2e97df6e9b"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?per_page=5&page=2>; rel="next", <https://api.github.com/user/repos?per_page=5&page=17>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":194746869,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ3NDY4Njk=","name":"brownfield-of-dreams","full_name":"chakeresa/brownfield-of-dreams","private":false,"owner":{"login":"chakeresa","id":47309861,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/47309861?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","following_url":"https://api.github.com/users/chakeresa/following{/other_user}","gists_url":"https://api.github.com/users/chakeresa/gists{/gist_id}","starred_url":"https://api.github.com/users/chakeresa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chakeresa/subscriptions","organizations_url":"https://api.github.com/users/chakeresa/orgs","repos_url":"https://api.github.com/users/chakeresa/repos","events_url":"https://api.github.com/users/chakeresa/events{/privacy}","received_events_url":"https://api.github.com/users/chakeresa/received_events","type":"User","site_admin":false},"html_url":"https://github.com/chakeresa/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams","forks_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/deployments","created_at":"2019-07-01T21:43:22Z","updated_at":"2019-07-13T18:06:24Z","pushed_at":"2019-07-13T18:18:17Z","git_url":"git://github.com/chakeresa/brownfield-of-dreams.git","ssh_url":"git@github.com:chakeresa/brownfield-of-dreams.git","clone_url":"https://github.com/chakeresa/brownfield-of-dreams.git","svn_url":"https://github.com/chakeresa/brownfield-of-dreams","homepage":"","size":14779,"stargazers_count":2,"watchers_count":2,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":5,"license":null,"forks":1,"open_issues":5,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":197064512,"node_id":"MDEwOlJlcG9zaXRvcnkxOTcwNjQ1MTI=","name":"oddio","full_name":"chakeresa/oddio","private":false,"owner":{"login":"chakeresa","id":47309861,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/47309861?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","following_url":"https://api.github.com/users/chakere[...]
