---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1549324196'
      Etag:
      - W/"ca31ccf8f827b668590bea49e9439fa8"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":161358832,"node_id":"MDEwOlJlcG9zaXRvcnkxNjEzNTg4MzI=","name":"2win_playlist","full_name":"cebarks/2win_playlist","private":false,"owner":{"login":"cebarks","id":551065,"node_id":"MDQ6VXNlcjU1MTA2NQ==","avatar_url":"https://avatars3.githubusercontent.com/u/551065?v=4","gravatar_id":"","url":"https://api.github.com/users/cebarks","html_url":"https://github.com/cebarks","followers_url":"https://api.github.com/users/cebarks/followers","following_url":"https://api.github.com/users/cebarks/following{/other_user}","gists_url":"https://api.github.com/users/cebarks/gists{/gist_id}","starred_url":"https://api.github.com/users/cebarks/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cebarks/subscriptions","organizations_url":"https://api.github.com/users/cebarks/orgs","repos_url":"https://api.github.com/users/cebarks/repos","events_url":"https://api.github.com/users/cebarks/events{/privacy}","received_events_url":"https://api.github.com/users/cebarks/received_events","type":"User","site_admin":false},"html_url":"https://github.com/cebarks/2win_playlist","description":"Static
        Comp Challenge","fork":true,"url":"https://api.github.com/repos/cebarks/2win_playlist","forks_url":"https://api.github.com/repos/cebarks/2win_playlist/forks","keys_url":"https://api.github.com/repos/cebarks/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cebarks/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cebarks/2win_playlist/teams","hooks_url":"https://api.github.com/repos/cebarks/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/cebarks/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/cebarks/2win_playlist/events","assignees_url":"https://api.github.com/repos/cebarks/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/cebarks/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/cebarks/2win_playlist/tags","blobs_url":"https://api.github.com/repos/cebarks/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cebarks/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cebarks/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/cebarks/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cebarks/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/cebarks/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/cebarks/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/cebarks/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/cebarks/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/cebarks/2win_playlist/subscription","commits_url":"https://api.github.com/repos/cebarks/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/cebarks/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/cebarks/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/cebarks/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/cebarks/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/cebarks/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cebarks/2win_playlist/merges","archive_url":"https://api.github.com/repos/cebarks/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cebarks/2win_playlist/downloads","issues_url":"https://api.github.com/repos/cebarks/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/cebarks/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/cebarks/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/cebarks/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cebarks/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/cebarks/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/cebarks/2win_playlist/deployments","created_at":"2018-12-11T16:01:44Z","updated_at":"2018-12-11T16:57:13Z","pushed_at":"2018-12-11T16:57:11Z","git_url":"git://github.com/cebarks/2win_playlist.git","ssh_url":"git@github.com:cebarks/2win_playlist.git","clone_url":"https://github.com/cebarks/2win_playlist.git","svn_url":"https://github.com/cebarks/2win_playlist","homepage":null,"size":30,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":159207353,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkyMDczNTM=","name":"activerecord-obstacle-course","full_name":"cebarks/activerecord-obstacle-course","private":false,"owner":{"login":"cebarks","id":551065,"node_id":"MDQ6VXNlcjU1MTA2NQ==","avatar_url":"https://avatars3.githubusercontent.com/u/551065?v=4","gravatar_id":"","url":"https://api.github.com/users/cebarks","html_url":"https://github.com/cebarks","followers_url":"https://api.github.com/users/cebarks/followers","following_url":"http[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1549324196'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1549324196'
      Etag:
  [...]
