---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q29zbWljU3BhZ2V0dGk6MmFiNjI1ZDk3M2JkZTk1MTY5N2UyYWQ1NGI2NTU3ZGM3MjJkMzk5Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1562178481'
      Etag:
      - W/"100d58bc8a70de10a313df8dad6695c8"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"kylecornelissen","id":46171611,"node_id":"MDQ6VXNlcjQ2MTcxNjEx","avatar_url":"https://avatars2.githubusercontent.com/u/46171611?v=4","gravatar_id":"","url":"https://api.github.com/users/kylecornelissen","html_url":"https://github.com/kylecornelissen","followers_url":"https://api.github.com/users/kylecornelissen/followers","following_url":"https://api.github.com/users/kylecornelissen/following{/other_user}","gists_url":"https://api.github.com/users/kylecornelissen/gists{/gist_id}","starred_url":"https://api.github.com/users/kylecornelissen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kylecornelissen/subscriptions","organizations_url":"https://api.github.com/users/kylecornelissen/orgs","repos_url":"https://api.github.com/users/kylecornelissen/repos","events_url":"https://api.github.com/users/kylecornelissen/events{/privacy}","received_events_url":"https://api.github.com/users/kylecornelissen/received_events","type":"User","site_admin":false},{"login":"ksandy95","id":46202366,"node_id":"MDQ6VXNlcjQ2MjAyMzY2","avatar_url":"https://avatars0.githubusercontent.com/u/46202366?v=4","gravatar_id":"","url":"https://api.github.com/users/ksandy95","html_url":"https://github.com/ksandy95","followers_url":"https://api.github.com/users/ksandy95/followers","following_url":"https://api.github.com/users/ksandy95/following{/other_user}","gists_url":"https://api.github.com/users/ksandy95/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
