---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q29zbWljU3BhZ2V0dGk6OWIxYmU5Y2QyZWM5ZTM1NmI5YmI3MDBlOTg5MmIzYTlkYWY4NzNiNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1562174127'
      Etag:
      - W/"cfb3d8680f5d83e0e4bf68d20e970561"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":194743542,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ3NDM1NDI=","name":"brownfield-of-dreams","full_name":"CosmicSpagetti/brownfield-of-dreams","private":false,"owner":{"login":"CosmicSpagetti","id":46055043,"node_id":"MDQ6VXNlcjQ2MDU1MDQz","avatar_url":"https://avatars1.githubusercontent.com/u/46055043?v=4","gravatar_id":"","url":"https://api.github.com/users/CosmicSpagetti","html_url":"https://github.com/CosmicSpagetti","followers_url":"https://api.github.com/users/CosmicSpagetti/followers","following_url":"https://api.github.com/users/CosmicSpagetti/following{/other_user}","gists_url":"https://api.github.com/users/CosmicSpagetti/gists{/gist_id}","starred_url":"https://api.github.com/users/CosmicSpagetti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CosmicSpagetti/subscriptions","organizations_url":"https://api.github.com/users/CosmicSpagetti/orgs","repos_url":"https://api.github.com/users/CosmicSpagetti/repos","events_url":"https://api.github.com/users/CosmicSpagetti/events{/privacy}","received_events_url":"https://api.github.com/users/CosmicSpagetti/received_events","type":"User","site_admin":false},"html_url":"https://github.com/CosmicSpagetti/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams","forks_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/CosmicSpagetti/brownfield-of-dreams/deployments","created_at":"2019-07-01T21:11:25Z","updated_at":"2019-07-03T15:29:43Z","pushed_at":"2019-07-03T15:29:42Z","git_url":"git://github.com/CosmicSpagetti/brownfield-of-dreams.git","ssh_url":"git@github.com:CosmicSpagetti/brownfield-of-dreams.git","clone_url":"https://github.com/CosmicSpagetti/brownfield-of-dreams.git","svn_url":"https://github.com/CosmicSpagetti/brownfield-of-dreams","homepage":"","size":476,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":15,"license":null,"forks":0,"open_issues":15,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":176351533,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzNTE1MzM=","name":"Book-Club","full_name":"djc00p/Book-Club","private":false,"owner":{"login":"djc00p","id":45864171,"node_id":"MDQ6VXNlcjQ1ODY0MTcx","avatar_url":"https://avatars1.githubusercontent.com/u/45864171?v=4","gravatar_id":"","url":"https://api.github.com/users/djc00p","html_url":"https://github.com/djc00p","followers_url":"https://api.github.com/users/djc00p/followers","following_url":"https://api.github.com/users/djc00p/followi[...]
