---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <NICO_GIT_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1548887380'
      Etag:
      - W/"a1970e9eda908846e834ee09dfa85490"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":154176028,"node_id":"MDEwOlJlcG9zaXRvcnkxNTQxNzYwMjg=","name":"black_thursday","full_name":"asmolentzov/black_thursday","private":false,"owner":{"login":"asmolentzov","id":6686861,"node_id":"MDQ6VXNlcjY2ODY4NjE=","avatar_url":"https://avatars2.githubusercontent.com/u/6686861?v=4","gravatar_id":"","url":"https://api.github.com/users/asmolentzov","html_url":"https://github.com/asmolentzov","followers_url":"https://api.github.com/users/asmolentzov/followers","following_url":"https://api.github.com/users/asmolentzov/following{/other_user}","gists_url":"https://api.github.com/users/asmolentzov/gists{/gist_id}","starred_url":"https://api.github.com/users/asmolentzov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asmolentzov/subscriptions","organizations_url":"https://api.github.com/users/asmolentzov/orgs","repos_url":"https://api.github.com/users/asmolentzov/repos","events_url":"https://api.github.com/users/asmolentzov/events{/privacy}","received_events_url":"https://api.github.com/users/asmolentzov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/asmolentzov/black_thursday","description":null,"fork":true,"url":"https://api.github.com/repos/asmolentzov/black_thursday","forks_url":"https://api.github.com/repos/asmolentzov/black_thursday/forks","keys_url":"https://api.github.com/repos/asmolentzov/black_thursday/keys{/key_id}","collaborators_url":"https://api.github.com/repos/asmolentzov/black_thursday/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/asmolentzov/black_thursday/teams","hooks_url":"https://api.github.com/repos/asmolentzov/black_thursday/hooks","issue_events_url":"https://api.github.com/repos/asmolentzov/black_thursday/issues/events{/number}","events_url":"https://api.github.com/repos/asmolentzov/black_thursday/events","assignees_url":"https://api.github.com/repos/asmolentzov/black_thursday/assignees{/user}","branches_url":"https://api.github.com/repos/asmolentzov/black_thursday/branches{/branch}","tags_url":"https://api.github.com/repos/asmolentzov/black_thursday/tags","blobs_url":"https://api.github.com/repos/asmolentzov/black_thursday/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/asmolentzov/black_thursday/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/asmolentzov/black_thursday/git/refs{/sha}","trees_url":"https://api.github.com/repos/asmolentzov/black_thursday/git/trees{/sha}","statuses_url":"https://api.github.com/repos/asmolentzov/black_thursday/statuses/{sha}","languages_url":"https://api.github.com/repos/asmolentzov/black_thursday/languages","stargazers_url":"https://api.github.com/repos/asmolentzov/black_thursday/stargazers","contributors_url":"https://api.github.com/repos/asmolentzov/black_thursday/contributors","subscribers_url":"https://api.github.com/repos/asmolentzov/black_thursday/subscribers","subscription_url":"https://api.github.com/repos/asmolentzov/black_thursday/subscription","commits_url":"https://api.github.com/repos/asmolentzov/black_thursday/commits{/sha}","git_commits_url":"https://api.github.com/repos/asmolentzov/black_thursday/git/commits{/sha}","comments_url":"https://api.github.com/repos/asmolentzov/black_thursday/comments{/number}","issue_comment_url":"https://api.github.com/repos/asmolentzov/black_thursday/issues/comments{/number}","contents_url":"https://api.github.com/repos/asmolentzov/black_thursday/contents/{+path}","compare_url":"https://api.github.com/repos/asmolentzov/black_thursday/compare/{base}...{head}","merges_url":"https://api.github.com/repos/asmolentzov/black_thursday/merges","archive_url":"https://api.github.com/repos/asmolentzov/black_thursday/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/asmolentzov/black_thursday/downloads","issues_url":"https://api.github.com/repos/asmolentzov/black_thursday/issues{/number}","pulls_url":"https://api.github.com/repos/asmolentzov/black_thursday/pulls{/number}","milestones_url":"https://api.github.com/repos/asmolentzov/black_thursday/milestones{/number}","notifications_url":"https://api.github.com/repos/asmolentzov/black_thursday/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/asmolentzov/black_thursday/labels{/name}","releases_url":"https://api.github.com/repos/asmolentzov/black_thursday/releases{/id}","deployments_url":"https://api.github.com/repos/asmolentzov/black_thursday/deployments","created_at":"2018-10-22T16:19:35Z","updated_at":"2018-11-01T16:13:08Z","pushed_at":"2018-11-01T16:13:06Z","git_url":"git://github.com/asmolentzov/black_thursday.git","ssh_url":"git@github.com:asmolentzov/black_thursday.git","clone_url":"https://github.com/asmolentzov/black_thursday.git","svn_url":"https://github.com/asmolentzov/black_thursday","homepage":null,"size":1832,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":2,"license":null,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":160238631,"node_id":"MDEwOlJlcG9zaXRvcnkxNjAyMzg2MzE=","name":"bookclub","full_name":"cebarks/bookclub","private":false,"owner":{"login":"cebarks","id":551065,"node_id":"MDQ6VXNlcjU1MTA2NQ==","avatar_url":"https://avatars3.githubusercontent.com/u/551065?v=4","gravatar_id":"","url":"https://api.github.com/users/cebarks","html_url":"https://github.com/cebarks","followers_url":"https://api.github.com/users/cebarks/followers","following_url":"https://api.github.com/users/cebarks/followi[...]
