---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic amFtZXMtY2FwZToxYzcwYjc1MjE4MjMyYmE4YTk0NDEwZTlkZDRhZGEwMjNkZGZiNTZl
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1562120209'
      Etag:
      - W/"7941633686e8034cfc90068190e94805"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?sort=updated&page=2>; rel="next", <https://api.github.com/user/repos?sort=updated&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":194741057,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ3NDEwNTc=","name":"brownfield-of-dreams","full_name":"james-cape/brownfield-of-dreams","private":false,"owner":{"login":"james-cape","id":46202598,"node_id":"MDQ6VXNlcjQ2MjAyNTk4","avatar_url":"https://avatars2.githubusercontent.com/u/46202598?v=4","gravatar_id":"","url":"https://api.github.com/users/james-cape","html_url":"https://github.com/james-cape","followers_url":"https://api.github.com/users/james-cape/followers","following_url":"https://api.github.com/users/james-cape/following{/other_user}","gists_url":"https://api.github.com/users/james-cape/gists{/gist_id}","starred_url":"https://api.github.com/users/james-cape/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/james-cape/subscriptions","organizations_url":"https://api.github.com/users/james-cape/orgs","repos_url":"https://api.github.com/users/james-cape/repos","events_url":"https://api.github.com/users/james-cape/events{/privacy}","received_events_url":"https://api.github.com/users/james-cape/received_events","type":"User","site_admin":false},"html_url":"https://github.com/james-cape/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/james-cape/brownfield-of-dreams","forks_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/james-cape/brownfield-of-dreams/deployments","created_at":"2019-07-01T20:49:21Z","updated_at":"2019-07-03T00:25:33Z","pushed_at":"2019-07-03T00:25:31Z","git_url":"git://github.com/james-cape/brownfield-of-dreams.git","ssh_url":"git@github.com:james-cape/brownfield-of-dreams.git","clone_url":"https://github.com/james-cape/brownfield-of-dreams.git","svn_url":"https://github.com/james-cape/brownfield-of-dreams","homepage":"","size":490,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":16,"license":null,"forks":0,"open_issues":16,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":193589327,"node_id":"MDEwOlJlcG9zaXRvcnkxOTM1ODkzMjc=","name":"rales_engine","full_name":"james-cape/rales_engine","private":false,"owner":{"login":"james-cape","id":46202598,"node_id":"MDQ6VXNlcjQ2MjAyNTk4","avatar_url":"https://avatars2.githubusercontent.com/u/46202598?v=4","gravatar_id":"","url":"https://api.github.com/users/james-cape","html_url":"https://github.com/james-cape","followers_url":"https://api.github.com/users/james-cape/followers","following_url":"https://api.githu[...]
