---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/WHomer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4627'
      X-Ratelimit-Reset:
      - '1562974860'
      Etag:
      - W/"970a59909bb47d87aa21d61334697bd3"
      Last-Modified:
      - Wed, 03 Jul 2019 21:32:55 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"WHomer","id":18176968,"node_id":"MDQ6VXNlcjE4MTc2OTY4","avatar_url":"https://avatars1.githubusercontent.com/u/18176968?v=4","gravatar_id":"","url":"https://api.github.com/users/WHomer","html_url":"https://github.com/WHomer","followers_url":"https://api.github.com/users/WHomer/followers","following_url":"https://api.github.com/users/WHomer/following{/other_user}","gists_url":"https://api.github.com/users/WHomer/gists{/gist_id}","starred_url":"https://api.github.com/users/WHomer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WHomer/subscriptions","organizations_url":"https://api.github.com/users/WHomer/orgs","repos_url":"https://api.github.com/users/WHomer/repos","events_url":"https://api.github.com/users/WHomer/events{/privacy}","received_events_url":"https://api.github.com/users/WHomer/received_events","type":"User","site_admin":false,"name":"William
        Homer","company":null,"blog":"","location":"Denver, CO","email":"billyhomeriii@gmail.com","hireable":true,"bio":null,"public_repos":76,"public_gists":7,"followers":6,"following":2,"created_at":"2016-03-30T21:08:50Z","updated_at":"2019-07-03T21:32:55Z"}'
  recorded_at: Fri, 12 Jul 2019 23:08:49 GMT
recorded_with: VCR 5.0.0
