---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562119086'
      Etag:
      - W/"a053b67505b76629aa515f84c747009c"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":181713928,"node_id":"MDEwOlJlcG9zaXRvcnkxODE3MTM5Mjg=","name":"1903_final","full_name":"chakeresa/1903_final","private":false,"owner":{"login":"chakeresa","id":47309861,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/47309861?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","following_url":"https://api.github.com/users/chakeresa/following{/other_user}","gists_url":"https://api.github.com/users/chakeresa/gists{/gist_id}","starred_url":"https://api.github.com/users/chakeresa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chakeresa/subscriptions","organizations_url":"https://api.github.com/users/chakeresa/orgs","repos_url":"https://api.github.com/users/chakeresa/repos","events_url":"https://api.github.com/users/chakeresa/events{/privacy}","received_events_url":"https://api.github.com/users/chakeresa/received_events","type":"User","site_admin":false},"html_url":"https://github.com/chakeresa/1903_final","description":null,"fork":true,"url":"https://api.github.com/repos/chakeresa/1903_final","forks_url":"https://api.github.com/repos/chakeresa/1903_final/forks","keys_url":"https://api.github.com/repos/chakeresa/1903_final/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chakeresa/1903_final/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chakeresa/1903_final/teams","hooks_url":"https://api.github.com/repos/chakeresa/1903_final/hooks","issue_events_url":"https://api.github.com/repos/chakeresa/1903_final/issues/events{/number}","events_url":"https://api.github.com/repos/chakeresa/1903_final/events","assignees_url":"https://api.github.com/repos/chakeresa/1903_final/assignees{/user}","branches_url":"https://api.github.com/repos/chakeresa/1903_final/branches{/branch}","tags_url":"https://api.github.com/repos/chakeresa/1903_final/tags","blobs_url":"https://api.github.com/repos/chakeresa/1903_final/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chakeresa/1903_final/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chakeresa/1903_final/git/refs{/sha}","trees_url":"https://api.github.com/repos/chakeresa/1903_final/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chakeresa/1903_final/statuses/{sha}","languages_url":"https://api.github.com/repos/chakeresa/1903_final/languages","stargazers_url":"https://api.github.com/repos/chakeresa/1903_final/stargazers","contributors_url":"https://api.github.com/repos/chakeresa/1903_final/contributors","subscribers_url":"https://api.github.com/repos/chakeresa/1903_final/subscribers","subscription_url":"https://api.github.com/repos/chakeresa/1903_final/subscription","commits_url":"https://api.github.com/repos/chakeresa/1903_final/commits{/sha}","git_commits_url":"https://api.github.com/repos/chakeresa/1903_final/git/commits{/sha}","comments_url":"https://api.github.com/repos/chakeresa/1903_final/comments{/number}","issue_comment_url":"https://api.github.com/repos/chakeresa/1903_final/issues/comments{/number}","contents_url":"https://api.github.com/repos/chakeresa/1903_final/contents/{+path}","compare_url":"https://api.github.com/repos/chakeresa/1903_final/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chakeresa/1903_final/merges","archive_url":"https://api.github.com/repos/chakeresa/1903_final/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chakeresa/1903_final/downloads","issues_url":"https://api.github.com/repos/chakeresa/1903_final/issues{/number}","pulls_url":"https://api.github.com/repos/chakeresa/1903_final/pulls{/number}","milestones_url":"https://api.github.com/repos/chakeresa/1903_final/milestones{/number}","notifications_url":"https://api.github.com/repos/chakeresa/1903_final/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chakeresa/1903_final/labels{/name}","releases_url":"https://api.github.com/repos/chakeresa/1903_final/releases{/id}","deployments_url":"https://api.github.com/repos/chakeresa/1903_final/deployments","created_at":"2019-04-16T15:10:30Z","updated_at":"2019-04-16T17:29:11Z","pushed_at":"2019-04-16T17:29:10Z","git_url":"git://github.com/chakeresa/1903_final.git","ssh_url":"git@github.com:chakeresa/1903_final.git","clone_url":"https://github.com/chakeresa/1903_final.git","svn_url":"https://github.com/chakeresa/1903_final","homepage":null,"size":19,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":184610212,"node_id":"MDEwOlJlcG9zaXRvcnkxODQ2MTAyMTI=","name":"activerecord-obstacle-course","full_name":"chakeresa/activerecord-obstacle-course","private":false,"owner":{"login":"chakeresa","id":47309861,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/47309861?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","follow[...]
