---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=630536143d02820d73bbba6fc65373b3a1adc45e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1575584544'
      Etag:
      - W/"c3849fb280b18b2096767533b2590797"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=630536143d02820d73bbba6fc65373b3a1adc45e&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=630536143d02820d73bbba6fc65373b3a1adc45e&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":213468400,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM0Njg0MDA=","name":"little_shop_1908","full_name":"cjkelling/little_shop_1908","private":false,"owner":{"login":"cjkelling","id":51389815,"node_id":"MDQ6VXNlcjUxMzg5ODE1","avatar_url":"https://avatars2.githubusercontent.com/u/51389815?v=4","gravatar_id":"","url":"https://api.github.com/users/cjkelling","html_url":"https://github.com/cjkelling","followers_url":"https://api.github.com/users/cjkelling/followers","following_url":"https://api.github.com/users/cjkelling/following{/other_user}","gists_url":"https://api.github.com/users/cjkelling/gists{/gist_id}","starred_url":"https://api.github.com/users/cjkelling/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cjkelling/subscriptions","organizations_url":"https://api.github.com/users/cjkelling/orgs","repos_url":"https://api.github.com/users/cjkelling/repos","events_url":"https://api.github.com/users/cjkelling/events{/privacy}","received_events_url":"https://api.github.com/users/cjkelling/received_events","type":"User","site_admin":false},"html_url":"https://github.com/cjkelling/little_shop_1908","description":null,"fork":true,"url":"https://api.github.com/repos/cjkelling/little_shop_1908","forks_url":"https://api.github.com/repos/cjkelling/little_shop_1908/forks","keys_url":"https://api.github.com/repos/cjkelling/little_shop_1908/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cjkelling/little_shop_1908/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cjkelling/little_shop_1908/teams","hooks_url":"https://api.github.com/repos/cjkelling/little_shop_1908/hooks","issue_events_url":"https://api.github.com/repos/cjkelling/little_shop_1908/issues/events{/number}","events_url":"https://api.github.com/repos/cjkelling/little_shop_1908/events","assignees_url":"https://api.github.com/repos/cjkelling/little_shop_1908/assignees{/user}","branches_url":"https://api.github.com/repos/cjkelling/little_shop_1908/branches{/branch}","tags_url":"https://api.github.com/repos/cjkelling/little_shop_1908/tags","blobs_url":"https://api.github.com/repos/cjkelling/little_shop_1908/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cjkelling/little_shop_1908/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cjkelling/little_shop_1908/git/refs{/sha}","trees_url":"https://api.github.com/repos/cjkelling/little_shop_1908/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cjkelling/little_shop_1908/statuses/{sha}","languages_url":"https://api.github.com/repos/cjkelling/little_shop_1908/languages","stargazers_url":"https://api.github.com/repos/cjkelling/little_shop_1908/stargazers","contributors_url":"https://api.github.com/repos/cjkelling/little_shop_1908/contributors","subscribers_url":"https://api.github.com/repos/cjkelling/little_shop_1908/subscribers","subscription_url":"https://api.github.com/repos/cjkelling/little_shop_1908/subscription","commits_url":"https://api.github.com/repos/cjkelling/little_shop_1908/commits{/sha}","git_commits_url":"https://api.github.com/repos/cjkelling/little_shop_1908/git/commits{/sha}","comments_url":"https://api.github.com/repos/cjkelling/little_shop_1908/comments{/number}","issue_comment_url":"https://api.github.com/repos/cjkelling/little_shop_1908/issues/comments{/number}","contents_url":"https://api.github.com/repos/cjkelling/little_shop_1908/contents/{+path}","compare_url":"https://api.github.com/repos/cjkelling/little_shop_1908/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cjkelling/little_shop_1908/merges","archive_url":"https://api.github.com/repos/cjkelling/little_shop_1908/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cjkelling/little_shop_1908/downloads","issues_url":"https://api.github.com/repos/cjkelling/little_shop_1908/issues{/number}","pulls_url":"https://api.github.com/repos/cjkelling/little_shop_1908/pulls{/number}","milestones_url":"https://api.github.com/repos/cjkelling/little_shop_1908/milestones{/number}","notifications_url":"https://api.github.com/repos/cjkelling/little_shop_1908/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cjkelling/little_shop_1908/labels{/name}","releases_url":"https://api.github.com/repos/cjkelling/little_shop_1908/releases{/id}","deployments_url":"https://api.github.com/repos/cjkelling/little_shop_1908/deployments","created_at":"2019-10-07T19:26:52Z","updated_at":"2019-10-17T14:46:10Z","pushed_at":"2019-10-17T14:46:08Z","git_url":"git://github.com/cjkelling/little_shop_1908.git","ssh_url":"git@github.com:cjkelling/little_shop_1908.git","clone_url":"https://github.com/cjkelling/little_shop_1908.git","svn_url":"https://github.com/cjkelling/little_shop_1908","homepage":null,"size":232,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":38,"license":null,"forks":1,"open_issues":38,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":204958860,"node_id":"MDEwOlJlcG9zaXRvcnkyMDQ5NTg4NjA=","name":"apartments_1908","full_name":"grwthomps/apartments_1908","private":false,"owner":{"login":"grwthomps","id":51726839,"node_id":"MDQ6VXNlcjUxNzI2ODM5","avatar_url":"https://avatars0.githubusercontent.com/u/51726839?v=4","gravatar_id":"","url":"https://api.github.com/users/grwthomps","html_url":"https://github.com/grwthomps","followers_url":"https://api.github.com/users/grwthomps/followers","following_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/user?access_token=630536143d02820d73bbba6fc65373b3a1adc45e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1575584544'
      Etag:
      - W/"dea862bfb66db1017f32118fbacbbbd8"
      Last-Modified:
      - Thu, 05 Dec 2019 15:24:31 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"grwthomps","id":51726839,"node_id":"MDQ6VXNlcjUxNzI2ODM5","avatar_url":"https://avatars0.githubusercontent.com/u/51726839?v=4","gravatar_id":"","url":"https://api.github.com/users/grwthomps","html_url":"https://github.com/grwthomps","followers_url":"https://api.github.com/users/grwthomps/followers","following_url":"https://api.github.com/users/grwthomps/following{/other_user}","gists_url":"https://api.github.com/users/grwthomps/gists{/gist_id}","starred_url":"https://api.github.com/users/grwthomps/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/grwthomps/subscriptions","organizations_url":"https://api.github.com/users/grwthomps/orgs","repos_url":"https://api.github.com/users/grwthomps/repos","events_url":"https://api.github.com/users/grwthomps/events{/privacy}","received_events_url":"https://api.github.com/users/grwthomps/received_events","type":"User","site_admin":false,"name":"Graham
        Thompson","company":null,"blog":"","location":null,"email":"grwthomps@gmail.com","hireable":null,"bio":null,"public_repos":32,"public_gists":5,"followers":4,"following":3,"created_at":"2019-06-12T00:20:09Z","updated_at":"2019-12-05T15:24:31Z"}'
  recorded_at: Thu, 05 Dec 2019 21:26:22 GMT
- request:
    method: get
    uri: https://api.github.com/users/grwthomps/followers?access_token=630536143d02820d73bbba6fc65373b3a1adc45e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1575584544'
      [...]
