---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_B>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1594279718'
      Etag:
      - W/"8b9b6762c3f41cc0068d4a249374d484"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"<GITHUB_USERNAME_A>","id":35614819,"node_id":"MDQ6VXNlcjM1NjE0ODE5","avatar_url":"https://avatars3.githubusercontent.com/u/35614819?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_A>","html_url":"https://github.com/<GITHUB_USERNAME_A>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME_A>/received_events","type":"User","site_admin":false},{"login":"whitneykidd","id":54954621,"node_id":"MDQ6VXNlcjU0OTU0NjIx","avatar_url":"https://avatars0.githubusercontent.com/u/54954621?v=4","gravatar_id":"","url":"https://api.github.com/users/whitneykidd","html_url":"https://github.com/whitneykidd","followers_url":"https://api.github.com/users/whitneykidd/followers","following_url":"https://api.github.com/users/whitneykidd/following{/other_user}","gists_url":"https://api.github.com/users/whitneykidd/gists{/gist_id}","starred_url":"https:/[...]
