<h1>Admin Dashboard</h1>
<h3>Tutorials</h3>

<div class="new-tutorial">
  <%= link_to "New Tutorial", new_admin_tutorial_path, class: "video-position-submit btn btn-outline" %>
</div>

<table class="col col-5">
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  <% @facade.tutorials.each do |tutorial| %>
    <tr class="admin-tutorial-card">
      <td>
        <%= link_to tutorial.title, tutorial_path(tutorial) %>
      </td>

      <td>
        <div class="btn-group">

          <%= link_to "Edit", edit_admin_tutorial_path(tutorial), class: 'btn btn-link'%>

          <%= button_to 'Destroy', admin_tutorial_path(tutorial),
                                class: 'btn btn-link',
                                 method: :delete,
                                 data: { confirm: 'Are you sure?' } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
