<p>Hello <%= @invitee.login %>,</p>
<p><%= @user.first_name %>, <%= @user.last_name %> has invited you to join Brownfield of Dreams. You can create an account <%= link_to "here", register_url %>.</p>
