---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/BabsLabs?access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1576044302'
      Etag:
      - W/"8293286ee42a53bc05d5086f211dc432"
      Last-Modified:
      - Tue, 10 Dec 2019 22:49:23 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"BabsLabs","id":38663414,"node_id":"MDQ6VXNlcjM4NjYzNDE0","avatar_url":"https://avatars1.githubusercontent.com/u/38663414?v=4","gravatar_id":"","url":"https://api.github.com/users/BabsLabs","html_url":"https://github.com/BabsLabs","followers_url":"https://api.github.com/users/BabsLabs/followers","following_url":"https://api.github.com/users/BabsLabs/following{/other_user}","gists_url":"https://api.github.com/users/BabsLabs/gists{/gist_id}","starred_url":"https://api.github.com/users/BabsLabs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BabsLabs/subscriptions","organizations_url":"https://api.github.com/users/BabsLabs/orgs","repos_url":"https://api.github.com/users/BabsLabs/repos","events_url":"https://api.github.com/users/BabsLabs/events{/privacy}","received_events_url":"https://api.github.com/users/BabsLabs/received_events","type":"User","site_admin":false,"name":"Brian
        Bower","company":"BabsLabs","blog":"","location":"Denver, CO","email":null,"hireable":true,"bio":null,"public_repos":46,"public_gists":5,"followers":3,"following":3,"created_at":"2018-04-23T15:10:33Z","updated_at":"2019-12-10T22:49:23Z"}'
  recorded_at: Wed, 11 Dec 2019 05:06:25 GMT
recorded_with: VCR 4.0.0
