---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=25037bd71e9096f1c2af994326ea41eb2e3351dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1571163924'
      Etag:
      - W/"fd3cf0d8cec0c8b2a05005cdf7c40f65"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=25037bd71e9096f1c2af994326ea41eb2e3351dc&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=25037bd71e9096f1c2af994326ea41eb2e3351dc&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":206138164,"node_id":"MDEwOlJlcG9zaXRvcnkyMDYxMzgxNjQ=","name":"monster_shop_1906","full_name":"alect47/monster_shop_1906","private":false,"owner":{"login":"alect47","id":23268508,"node_id":"MDQ6VXNlcjIzMjY4NTA4","avatar_url":"https://avatars2.githubusercontent.com/u/23268508?v=4","gravatar_id":"","url":"https://api.github.com/users/alect47","html_url":"https://github.com/alect47","followers_url":"https://api.github.com/users/alect47/followers","following_url":"https://api.github.com/users/alect47/following{/other_user}","gists_url":"https://api.github.com/users/alect47/gists{/gist_id}","starred_url":"https://api.github.com/users/alect47/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alect47/subscriptions","organizations_url":"https://api.github.com/users/alect47/orgs","repos_url":"https://api.github.com/users/alect47/repos","events_url":"https://api.github.com/users/alect47/events{/privacy}","received_events_url":"https://api.github.com/users/alect47/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alect47/monster_shop_1906","description":null,"fork":true,"url":"https://api.github.com/repos/alect47/monster_shop_1906","forks_url":"https://api.github.com/repos/alect47/monster_shop_1906/forks","keys_url":"https://api.github.com/repos/alect47/monster_shop_1906/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alect47/monster_shop_1906/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alect47/monster_shop_1906/teams","hooks_url":"https://api.github.com/repos/alect47/monster_shop_1906/hooks","issue_events_url":"https://api.github.com/repos/alect47/monster_shop_1906/issues/events{/number}","events_url":"https://api.github.com/repos/alect47/monster_shop_1906/events","assignees_url":"https://api.github.com/repos/alect47/monster_shop_1906/assignees{/user}","branches_url":"https://api.github.com/repos/alect47/monster_shop_1906/branches{/branch}","tags_url":"https://api.github.com/repos/alect47/monster_shop_1906/tags","blobs_url":"https://api.github.com/repos/alect47/monster_shop_1906/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alect47/monster_shop_1906/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alect47/monster_shop_1906/git/refs{/sha}","trees_url":"https://api.github.com/repos/alect47/monster_shop_1906/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alect47/monster_shop_1906/statuses/{sha}","languages_url":"https://api.github.com/repos/alect47/monster_shop_1906/languages","stargazers_url":"https://api.github.com/repos/alect47/monster_shop_1906/stargazers","contributors_url":"https://api.github.com/repos/alect47/monster_shop_1906/contributors","subscribers_url":"https://api.github.com/repos/alect47/monster_shop_1906/subscribers","subscription_url":"https://api.github.com/repos/alect47/monster_shop_1906/subscription","commits_url":"https://api.github.com/repos/alect47/monster_shop_1906/commits{/sha}","git_commits_url":"https://api.github.com/repos/alect47/monster_shop_1906/git/commits{/sha}","comments_url":"https://api.github.com/repos/alect47/monster_shop_1906/comments{/number}","issue_comment_url":"https://api.github.com/repos/alect47/monster_shop_1906/issues/comments{/number}","contents_url":"https://api.github.com/repos/alect47/monster_shop_1906/contents/{+path}","compare_url":"https://api.github.com/repos/alect47/monster_shop_1906/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alect47/monster_shop_1906/merges","archive_url":"https://api.github.com/repos/alect47/monster_shop_1906/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alect47/monster_shop_1906/downloads","issues_url":"https://api.github.com/repos/alect47/monster_shop_1906/issues{/number}","pulls_url":"https://api.github.com/repos/alect47/monster_shop_1906/pulls{/number}","milestones_url":"https://api.github.com/repos/alect47/monster_shop_1906/milestones{/number}","notifications_url":"https://api.github.com/repos/alect47/monster_shop_1906/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alect47/monster_shop_1906/labels{/name}","releases_url":"https://api.github.com/repos/alect47/monster_shop_1906/releases{/id}","deployments_url":"https://api.github.com/repos/alect47/monster_shop_1906/deployments","created_at":"2019-09-03T17:48:51Z","updated_at":"2019-09-12T16:33:17Z","pushed_at":"2019-09-12T16:33:15Z","git_url":"git://github.com/alect47/monster_shop_1906.git","ssh_url":"git@github.com:alect47/monster_shop_1906.git","clone_url":"https://github.com/alect47/monster_shop_1906.git","svn_url":"https://github.com/alect47/monster_shop_1906","homepage":null,"size":447,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":71,"license":null,"forks":0,"open_issues":71,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":203295301,"node_id":"MDEwOlJlcG9zaXRvcnkyMDMyOTUzMDE=","name":"activerecord-obstacle-course","full_name":"joshsherwood1/activerecord-obstacle-course","private":false,"owner":{"login":"joshsherwood1","id":49769068,"node_id":"MDQ6VXNlcjQ5NzY5MDY4","avatar_url":"https://avatars2.githubusercontent.com/u/49769068?v=4","gravatar_id":"","url":"https://api.github.com/users/joshsherwood1","html_url":"https://github.com/joshsherwood1","followers_url":"https://api.github.com/users/joshsherwood[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=25037bd71e9096f1c2af994326ea41eb2e3351dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1571163924'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=25037bd71e9096f1c2af994326ea41eb2e3351dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1571163924'
      Etag:
     [...]
[...]
