---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1585712354'
      Etag:
      - W/"b7de0b0d2f0fca6b59f9e02253785386"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2&per_page=5>; rel="next", <https://api.github.com/user/repos?page=13&per_page=5>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":239608764,"node_id":"MDEwOlJlcG9zaXRvcnkyMzk2MDg3NjQ=","name":"activerecord-obstacle-course","full_name":"DavidHoltkamp1/activerecord-obstacle-course","private":false,"owner":{"login":"DavidHoltkamp1","id":54868358,"node_id":"MDQ6VXNlcjU0ODY4MzU4","avatar_url":"https://avatars2.githubusercontent.com/u/54868358?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidHoltkamp1","html_url":"https://github.com/DavidHoltkamp1","followers_url":"https://api.github.com/users/DavidHoltkamp1/followers","following_url":"https://api.github.com/users/DavidHoltkamp1/following{/other_user}","gists_url":"https://api.github.com/users/DavidHoltkamp1/gists{/gist_id}","starred_url":"https://api.github.com/users/DavidHoltkamp1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DavidHoltkamp1/subscriptions","organizations_url":"https://api.github.com/users/DavidHoltkamp1/orgs","repos_url":"https://api.github.com/users/DavidHoltkamp1/repos","events_url":"https://api.github.com/users/DavidHoltkamp1/events{/privacy}","received_events_url":"https://api.github.com/users/DavidHoltkamp1/received_events","type":"User","site_admin":false},"html_url":"https://github.com/DavidHoltkamp1/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/DavidHoltkamp1/activerecord-obstacle-course/deployments","created_at":"2020-02-10T20:41:16Z","updated_at":"2020-02-10T20:41:18Z","pushed_at":"2019-12-19T18:49:23Z","git_url":"git://github.com/DavidHoltkamp1/activerecord-obstacle-course.git","ssh_url":"git@github.com:DavidHoltkamp1/activerecord-obstacle-course.git","clone_url":"https://github.com/DavidHoltkamp1/activerecord-obstacle-course.git","svn_url":"https://github.com/DavidHoltkamp1/activerecord-obstacle-course","homepage":null,"size":66,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":236615188,"node_id":"MDEwOlJlcG9zaXRvcnkyMzY2MTUxODg=","name":"adopt_dont_shop","full_name":"DavidHoltkamp1/adopt_dont_shop","private":false,"owner":{"login":"DavidHoltkamp1","id":54868358,"node_id":"MDQ6VXNlcjU0ODY4MzU4","avatar_url":"https://avatars2.githubusercontent.com/u/54868358?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidHoltkamp1","html_url":"https://github.com/DavidHoltkamp1","followers_url":"https://api.github.com/users/DavidHoltkamp1/followers","followi[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1585712354'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1585712354'
      Etag:
    [...]
