---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <MF_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1553132243'
      Etag:
      - W/"03d2e1ac29818dc573cbca2ed858b956"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":171047854,"node_id":"MDEwOlJlcG9zaXRvcnkxNzEwNDc4NTQ=","name":"election","full_name":"asmolentzov/election","private":false,"owner":{"login":"asmolentzov","id":6686861,"node_id":"MDQ6VXNlcjY2ODY4NjE=","avatar_url":"https://avatars2.githubusercontent.com/u/6686861?v=4","gravatar_id":"","url":"https://api.github.com/users/asmolentzov","html_url":"https://github.com/asmolentzov","followers_url":"https://api.github.com/users/asmolentzov/followers","following_url":"https://api.github.com/users/asmolentzov/following{/other_user}","gists_url":"https://api.github.com/users/asmolentzov/gists{/gist_id}","starred_url":"https://api.github.com/users/asmolentzov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asmolentzov/subscriptions","organizations_url":"https://api.github.com/users/asmolentzov/orgs","repos_url":"https://api.github.com/users/asmolentzov/repos","events_url":"https://api.github.com/users/asmolentzov/events{/privacy}","received_events_url":"https://api.github.com/users/asmolentzov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/asmolentzov/election","description":null,"fork":false,"url":"https://api.github.com/repos/asmolentzov/election","forks_url":"https://api.github.com/repos/asmolentzov/election/forks","keys_url":"https://api.github.com/repos/asmolentzov/election/keys{/key_id}","collaborators_url":"https://api.github.com/repos/asmolentzov/election/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/asmolentzov/election/teams","hooks_url":"https://api.github.com/repos/asmolentzov/election/hooks","issue_events_url":"https://api.github.com/repos/asmolentzov/election/issues/events{/number}","events_url":"https://api.github.com/repos/asmolentzov/election/events","assignees_url":"https://api.github.com/repos/asmolentzov/election/assignees{/user}","branches_url":"https://api.github.com/repos/asmolentzov/election/branches{/branch}","tags_url":"https://api.github.com/repos/asmolentzov/election/tags","blobs_url":"https://api.github.com/repos/asmolentzov/election/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/asmolentzov/election/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/asmolentzov/election/git/refs{/sha}","trees_url":"https://api.github.com/repos/asmolentzov/election/git/trees{/sha}","statuses_url":"https://api.github.com/repos/asmolentzov/election/statuses/{sha}","languages_url":"https://api.github.com/repos/asmolentzov/election/languages","stargazers_url":"https://api.github.com/repos/asmolentzov/election/stargazers","contributors_url":"https://api.github.com/repos/asmolentzov/election/contributors","subscribers_url":"https://api.github.com/repos/asmolentzov/election/subscribers","subscription_url":"https://api.github.com/repos/asmolentzov/election/subscription","commits_url":"https://api.github.com/repos/asmolentzov/election/commits{/sha}","git_commits_url":"https://api.github.com/repos/asmolentzov/election/git/commits{/sha}","comments_url":"https://api.github.com/repos/asmolentzov/election/comments{/number}","issue_comment_url":"https://api.github.com/repos/asmolentzov/election/issues/comments{/number}","contents_url":"https://api.github.com/repos/asmolentzov/election/contents/{+path}","compare_url":"https://api.github.com/repos/asmolentzov/election/compare/{base}...{head}","merges_url":"https://api.github.com/repos/asmolentzov/election/merges","archive_url":"https://api.github.com/repos/asmolentzov/election/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/asmolentzov/election/downloads","issues_url":"https://api.github.com/repos/asmolentzov/election/issues{/number}","pulls_url":"https://api.github.com/repos/asmolentzov/election/pulls{/number}","milestones_url":"https://api.github.com/repos/asmolentzov/election/milestones{/number}","notifications_url":"https://api.github.com/repos/asmolentzov/election/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/asmolentzov/election/labels{/name}","releases_url":"https://api.github.com/repos/asmolentzov/election/releases{/id}","deployments_url":"https://api.github.com/repos/asmolentzov/election/deployments","created_at":"2019-02-16T20:21:07Z","updated_at":"2019-02-16T23:01:54Z","pushed_at":"2019-02-17T15:20:32Z","git_url":"git://github.com/asmolentzov/election.git","ssh_url":"git@github.com:asmolentzov/election.git","clone_url":"https://github.com/asmolentzov/election.git","svn_url":"https://github.com/asmolentzov/election","homepage":"","size":9986,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":161812661,"node_id":"MDEwOlJlcG9zaXRvcnkxNjE4MTI2NjE=","name":"little_shop","full_name":"bendelonlee/little_shop","private":false,"owner":{"login":"bendelonlee","id":41645771,"node_id":"MDQ6VXNlcjQxNjQ1Nzcx","avatar_url":"https://avatars2.githubusercontent.com/u/41645771?v=4","gravatar_id":"","url":"https://api.github.com/users/bendelonlee","html_url":"https://github.com/bendelonlee","followers_url":"https://api.github.com/users/bendelonlee/followers","following_url":"https://api.gi[...]
