---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1553108686'
      Etag:
      - W/"c0eeb931ecba45d3128d3b7a8f55909d"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"stiehlrod","id":25069483,"node_id":"MDQ6VXNlcjI1MDY5NDgz","avatar_url":"https://avatars2.githubusercontent.com/u/25069483?v=4","gravatar_id":"","url":"https://api.github.com/users/stiehlrod","html_url":"https://github.com/stiehlrod","followers_url":"https://api.github.com/users/stiehlrod/followers","following_url":"https://api.github.com/users/stiehlrod/following{/other_user}","gists_url":"https://api.github.com/users/stiehlrod/gists{/gist_id}","starred_url":"https://api.github.com/users/stiehlrod/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stiehlrod/subscriptions","organizations_url":"https://api.github.com/users/stiehlrod/orgs","repos_url":"https://api.github.com/users/stiehlrod/repos","events_url":"https://api.github.com/users/stiehlrod/events{/privacy}","received_events_url":"https://api.github.com/users/stiehlrod/received_events","type":"User","site_admin":false},{"login":"PeregrineReed","id":39976770,"node_id":"MDQ6VXNlcjM5OTc2Nzcw","avatar_url":"https://avatars3.githubusercontent.com/u/39976770?v=4","gravatar_id":"","url":"https://api.github.com/users/PeregrineReed","html_url":"https://github.com/PeregrineReed","followers_url":"https://api.github.com/users/PeregrineReed/followers","following_url":"https://api.github.com/users/PeregrineReed/following{/other_user}","gists_url":"https://api.github.com/users/PeregrineReed/gists{/gist_id}","starred_u[...]
