---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_ACCESS_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4899'
      X-Ratelimit-Reset:
      - '1589246440'
      Etag:
      - W/"d38cebce713af077eb4d6ea691882785"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"alex-latham","id":56228986,"node_id":"MDQ6VXNlcjU2MjI4OTg2","avatar_url":"https://avatars3.githubusercontent.com/u/56228986?v=4","gravatar_id":"","url":"https://api.github.com/users/alex-latham","html_url":"https://github.com/alex-latham","followers_url":"https://api.github.com/users/alex-latham/followers","following_url":"https://api.github.com/users/alex-latham/following{/other_user}","gists_url":"https://api.github.com/users/alex-latham/gists{/gist_id}","starred_url":"https://api.github.com/users/alex-latham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alex-latham/subscriptions","organizations_url":"https://api.github.com/users/alex-latham/orgs","repos_url":"https://api.github.com/users/alex-latham/repos","events_url":"https://api.github.com/users/alex-latham/events{/privacy}","received_events_url":"https://api.github.com/users/alex-latham/received_events","type":"User","site_admin":false},{"login":"SMJ289","id":57697706,"node_id":"MDQ6VXNlcjU3Njk3NzA2","avatar_url":"https://avatars0.githubusercontent.com/u/57697706?v=4","gravatar_id":"","url":"https://api.github.com/users/SMJ289","html_url":"https://github.com/SMJ289","followers_url":"https://api.github.com/users/SMJ289/followers","following_url":"https://api.github.com/users/SMJ289/following{/other_user}","gists_url":"https://api.github.com/users/SMJ289/gists{/gist_id}","starred_url":"https://api.github.com/users/SMJ289/s[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_ACCESS_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4898'
      X-Ratelimit-Reset:
      - '1589246440'
      Etag:
      - W/"49459ccafa2572a[...]
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_KEY>&sort=%22created%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4897'
      X-Ratelimit-Reset:
      - '1589246440'
      Etag:
      - W/"a73173db7239d6871c25ea20da7a1355"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_KEY>&sort=%22created%22&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_KEY>&sort=%22created%22&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":261867610,"node_id":"MDEwOlJlcG9zaXRvcnkyNjE4Njc2MTA=","name":"test-repo","full_name":"DavidTTran/test-repo","private":false,"owner":{"login":"DavidTTran","id":57076945,"node_id":"MDQ6VXNlcjU3MDc2OTQ1","avatar_url":"https://avatars0.githubusercontent.com/u/57076945?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidTTran","html_url":"https://github.com/DavidTTran","followers_url":"https://api.github.com/users/DavidTTran/followers","following_url":"https://api.github.com/users/DavidTTran/following{/other_user}","gists_url":"https://api.github.com/users/DavidTTran/gists{/gist_id}","starred_url":"https://api.github.com/users/DavidTTran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DavidTTran/subscriptions","organizations_url":"https://api.github.com/users/DavidTTran/orgs","repos_url":"https://api.github.com/users/DavidTTran/repos","events_url":"https://api.github.com/users/DavidTTran/events{/privacy}","received_events_url":"https://api.github.com/users/DavidTTran/received_events","type":"User","site_admin":false},"html_url":"https://github.com/DavidTTran/test-repo","description":null,"fork":false,"url":"https://api.github.com/repos/DavidTTran/test-repo","forks_url":"https://api.github.com/repos/DavidTTran/test-repo/forks","keys_url":"https://api.github.com/repos/DavidTTran/test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DavidTTran/test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DavidTTran/test-repo/teams","hooks_url":"https://api.github.com/repos/DavidTTran/test-repo/hooks","issue_events_url":"https://api.github.com/repos/DavidTTran/test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/DavidTTran/test-repo/events","assignees_url":"https://api.github.com/repos/DavidTTran/test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/DavidTTran/test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/DavidTTran/test-repo/tags","blobs_url":"https://api.github.com/repos/DavidTTran/test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DavidTTran/test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DavidTTran/test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/DavidTTran/test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DavidTTran/test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/DavidTTran/test-repo/languages","stargazers_url":"https://api.github.com/repos/DavidTTran/test-repo/stargazers","contributors_url":"https://api.github.com/repos/DavidTTran/test-repo/contributors","subscribers_url":"https://api.github.com/repos/DavidTTran/test-repo/subscribers","subscription_url":"https://api.github.com/repos/DavidTTran/test-repo/subscription","commits_url":"https://api.github.com/repos/DavidTTran/test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/DavidTTran/test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/DavidTTran/test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/DavidTTran/test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/DavidTTran/test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/DavidTTran/test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DavidTTran/test-repo/merges","archive_url":"https://api.github.com/repos/DavidTTran/test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DavidTTran/test-repo/downloads","issues_url":"https://api.github.com/repos/DavidTTran/test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/DavidTTran/test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/DavidTTran/test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/DavidTTran/test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DavidTTran/test-repo/labels{/name}","releases_url":"https://api.github.com/repos/DavidTTran/test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/DavidTTran/test-repo/deployments","created_at":"2020-05-06T20:09:49Z","updated_at":"2020-05-06T20:09:49Z","pushed_at":"2020-05-06T20:09:50Z","git_url":"git://github.com/DavidTTran/test-repo.git","ssh_url":"git@github.com:DavidTTran/test-repo.git","clone_url":"https://github.com/DavidTTran/test-repo.git","svn_url":"https://github.com/DavidTTran/test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":261285373,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEyODUzNzM=","name":"brownfield-of-dreams","full_name":"jrsewell400/brownfield-of-dreams","private":false,"owner":{"login":"jrsewell400","id":54481094,"node_id":"MDQ6VXNlcjU0NDgxMDk0","avatar_url":"https://avatars2.githubusercontent.com/u/54481094?v=4","gravatar_id":"","url":"https://api.github.com/users/jrsewell400","html_url":"https://github.com/jrsewell400","followers_url":"https://api.github.com/users/jrsewell400/followers","following_ur[...]
