---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1548870451'
      Etag:
      - W/"095fcef49df8ffe63c522816ca4848f2"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":154165761,"node_id":"MDEwOlJlcG9zaXRvcnkxNTQxNjU3NjE=","name":"black_thursday","full_name":"Bradniedt/black_thursday","private":false,"owner":{"login":"Bradniedt","id":22285337,"node_id":"MDQ6VXNlcjIyMjg1MzM3","avatar_url":"https://avatars0.githubusercontent.com/u/22285337?v=4","gravatar_id":"","url":"https://api.github.com/users/Bradniedt","html_url":"https://github.com/Bradniedt","followers_url":"https://api.github.com/users/Bradniedt/followers","following_url":"https://api.github.com/users/Bradniedt/following{/other_user}","gists_url":"https://api.github.com/users/Bradniedt/gists{/gist_id}","starred_url":"https://api.github.com/users/Bradniedt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Bradniedt/subscriptions","organizations_url":"https://api.github.com/users/Bradniedt/orgs","repos_url":"https://api.github.com/users/Bradniedt/repos","events_url":"https://api.github.com/users/Bradniedt/events{/privacy}","received_events_url":"https://api.github.com/users/Bradniedt/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Bradniedt/black_thursday","description":null,"fork":true,"url":"https://api.github.com/repos/Bradniedt/black_thursday","forks_url":"https://api.github.com/repos/Bradniedt/black_thursday/forks","keys_url":"https://api.github.com/repos/Bradniedt/black_thursday/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Bradniedt/black_thursday/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Bradniedt/black_thursday/teams","hooks_url":"https://api.github.com/repos/Bradniedt/black_thursday/hooks","issue_events_url":"https://api.github.com/repos/Bradniedt/black_thursday/issues/events{/number}","events_url":"https://api.github.com/repos/Bradniedt/black_thursday/events","assignees_url":"https://api.github.com/repos/Bradniedt/black_thursday/assignees{/user}","branches_url":"https://api.github.com/repos/Bradniedt/black_thursday/branches{/branch}","tags_url":"https://api.github.com/repos/Bradniedt/black_thursday/tags","blobs_url":"https://api.github.com/repos/Bradniedt/black_thursday/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Bradniedt/black_thursday/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Bradniedt/black_thursday/git/refs{/sha}","trees_url":"https://api.github.com/repos/Bradniedt/black_thursday/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Bradniedt/black_thursday/statuses/{sha}","languages_url":"https://api.github.com/repos/Bradniedt/black_thursday/languages","stargazers_url":"https://api.github.com/repos/Bradniedt/black_thursday/stargazers","contributors_url":"https://api.github.com/repos/Bradniedt/black_thursday/contributors","subscribers_url":"https://api.github.com/repos/Bradniedt/black_thursday/subscribers","subscription_url":"https://api.github.com/repos/Bradniedt/black_thursday/subscription","commits_url":"https://api.github.com/repos/Bradniedt/black_thursday/commits{/sha}","git_commits_url":"https://api.github.com/repos/Bradniedt/black_thursday/git/commits{/sha}","comments_url":"https://api.github.com/repos/Bradniedt/black_thursday/comments{/number}","issue_comment_url":"https://api.github.com/repos/Bradniedt/black_thursday/issues/comments{/number}","contents_url":"https://api.github.com/repos/Bradniedt/black_thursday/contents/{+path}","compare_url":"https://api.github.com/repos/Bradniedt/black_thursday/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Bradniedt/black_thursday/merges","archive_url":"https://api.github.com/repos/Bradniedt/black_thursday/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Bradniedt/black_thursday/downloads","issues_url":"https://api.github.com/repos/Bradniedt/black_thursday/issues{/number}","pulls_url":"https://api.github.com/repos/Bradniedt/black_thursday/pulls{/number}","milestones_url":"https://api.github.com/repos/Bradniedt/black_thursday/milestones{/number}","notifications_url":"https://api.github.com/repos/Bradniedt/black_thursday/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Bradniedt/black_thursday/labels{/name}","releases_url":"https://api.github.com/repos/Bradniedt/black_thursday/releases{/id}","deployments_url":"https://api.github.com/repos/Bradniedt/black_thursday/deployments","created_at":"2018-10-22T15:14:14Z","updated_at":"2019-01-22T22:48:01Z","pushed_at":"2018-11-01T14:56:23Z","git_url":"git://github.com/Bradniedt/black_thursday.git","ssh_url":"git@github.com:Bradniedt/black_thursday.git","clone_url":"https://github.com/Bradniedt/black_thursday.git","svn_url":"https://github.com/Bradniedt/black_thursday","homepage":null,"size":1820,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":3,"license":null,"forks":0,"open_issues":3,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":161358829,"node_id":"MDEwOlJlcG9zaXRvcnkxNjEzNTg4Mjk=","name":"2win_playlist","full_name":"le3ah/2win_playlist","private":false,"owner":{"login":"le3ah","id":42391567,"node_id":"MDQ6VXNlcjQyMzkxNTY3","avatar_url":"https://avatars2.githubusercontent.com/u/42391567?v=4","gravatar_id":"","url":"https://api.github.com/users/le3ah","html_url":"https://github.com/le3ah","followers_url":"https://api.github.com/users/le3ah/followers","following_url":"https://api.github.com/users/le3ah/follo[...]
[...]
