---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PAT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562976853'
      Etag:
      - W/"3874720a9a5f257f977b574437582d43"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"iandouglas","id":168030,"node_id":"MDQ6VXNlcjE2ODAzMA==","avatar_url":"https://avatars0.githubusercontent.com/u/168030?v=4","gravatar_id":"","url":"https://api.github.com/users/iandouglas","html_url":"https://github.com/iandouglas","followers_url":"https://api.github.com/users/iandouglas/followers","following_url":"https://api.github.com/users/iandouglas/following{/other_user}","gists_url":"https://api.github.com/users/iandouglas/gists{/gist_id}","starred_url":"https://api.github.com/users/iandouglas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iandouglas/subscriptions","organizations_url":"https://api.github.com/users/iandouglas/orgs","repos_url":"https://api.github.com/users/iandouglas/repos","events_url":"https://api.github.com/users/iandouglas/events{/privacy}","received_events_url":"https://api.github.com/users/iandouglas/received_events","type":"User","site_admin":false},{"login":"santisiri","id":2153166,"node_id":"MDQ6VXNlcjIxNTMxNjY=","avatar_url":"https://avatars1.githubusercontent.com/u/2153166?v=4","gravatar_id":"","url":"https://api.github.com/users/santisiri","html_url":"https://github.com/santisiri","followers_url":"https://api.github.com/users/santisiri/followers","following_url":"https://api.github.com/users/santisiri/following{/other_user}","gists_url":"https://api.github.com/users/santisiri/gists{/gist_id}","starred_url":"https://api.github.co[...]
