---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_TEST>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1572458100'
      Etag:
      - W/"212d95c1e10d322fdc19b7446348a833"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Bozotte","id":33292228,"node_id":"MDQ6VXNlcjMzMjkyMjI4","avatar_url":"https://avatars1.githubusercontent.com/u/33292228?v=4","gravatar_id":"","url":"https://api.github.com/users/Bozotte","html_url":"https://github.com/Bozotte","followers_url":"https://api.github.com/users/Bozotte/followers","following_url":"https://api.github.com/users/Bozotte/following{/other_user}","gists_url":"https://api.github.com/users/Bozotte/gists{/gist_id}","starred_url":"https://api.github.com/users/Bozotte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Bozotte/subscriptions","organizations_url":"https://api.github.com/users/Bozotte/orgs","repos_url":"https://api.github.com/users/Bozotte/repos","events_url":"https://api.github.com/users/Bozotte/events{/privacy}","received_events_url":"https://api.github.com/users/Bozotte/received_events","type":"User","site_admin":false},{"login":"MarcelALng","id":43136183,"node_id":"MDQ6VXNlcjQzMTM2MTgz","avatar_url":"https://avatars3.githubusercontent.com/u/43136183?v=4","gravatar_id":"","url":"https://api.github.com/users/MarcelALng","html_url":"https://github.com/MarcelALng","followers_url":"https://api.github.com/users/MarcelALng/followers","following_url":"https://api.github.com/users/MarcelALng/following{/other_user}","gists_url":"https://api.github.com/users/MarcelALng/gists{/gist_id}","starred_url":"https://api.g[...]
