---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 874064d4aa42d472b5d0f35ae6b3b3a56e39f1f4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1594095762'
      Etag:
      - W/"16430257cb8c770629f978b374d6df73"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"HughBerriez","id":4098387,"node_id":"MDQ6VXNlcjQwOTgzODc=","avatar_url":"https://avatars3.githubusercontent.com/u/4098387?v=4","gravatar_id":"","url":"https://api.github.com/users/HughBerriez","html_url":"https://github.com/HughBerriez","followers_url":"https://api.github.com/users/HughBerriez/followers","following_url":"https://api.github.com/users/HughBerriez/following{/other_user}","gists_url":"https://api.github.com/users/HughBerriez/gists{/gist_id}","starred_url":"https://api.github.com/users/HughBerriez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/HughBerriez/subscriptions","organizations_url":"https://api.github.com/users/HughBerriez/orgs","repos_url":"https://api.github.com/users/HughBerriez/repos","events_url":"https://api.github.com/users/HughBerriez/events{/privacy}","received_events_url":"https://api.github.com/users/HughBerriez/received_events","type":"User","site_admin":false},{"login":"rickbacci","id":252278,"node_id":"MDQ6VXNlcjI1MjI3OA==","avatar_url":"https://avatars0.githubusercontent.com/u/252278?v=4","gravatar_id":"","url":"https://api.github.com/users/rickbacci","html_url":"https://github.com/rickbacci","followers_url":"https://api.github.com/users/rickbacci/followers","following_url":"https://api.github.com/users/rickbacci/following{/other_user}","gists_url":"https://api.github.com/users/rickbacci/gists{/gist_id}","starred_url":"https://api.github.com/[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 874064d4aa42d472b5d0f35ae6b3b3a56e39f1f4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1594095[...]
[...]
