<footer class="primary_footer">
  <section class="links a">
    <%= link_to "About Site", about_path, class: "px2" %>
    <%= link_to "New Here?", get_started_path, class: "px2" %>
  </section>
</footer>
