<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <%= yield %>
      Hello <%= @friend_contact %>,
      <%= @user.github_username %> has invited you to join TuringTutorials. You can create an account <%= link_to "here", "https://brownfieldapp.herokuapp.com//signup" %>

  </body>
</html>
