<section id="bookmarked_segments">
  <h1>Bookmarked Segments</h1>
  <% @user_facade.my_bookmarked_tutorials.each do |tutorial| %>
    <div id="tutorial-<%= tutorial.id %>">
      <h2><%= tutorial.title %></h2>
      <ul>
        <% tutorial.videos.each do |video| %>
        <li><%= video.title %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
