<h1>Github</h1>
<ul>
  <% facade.repositories.each do |repository| %>
    <li class="repo"><%= link_to repository.name, repository.url %></li>
  <% end %>
</ul>
<section id="followers">
  <h3>Followers</h3>
  <ul>
    <% facade.followers.each do |follower| %>
      <li class='follower'><%= link_to follower.handle, follower.url %></li>
    <% end %>
  </ul>
</section>
<section id="followed">
  <h3>Following</h3>
  <ul>
    <% facade.following.each do |followed_user| %>
      <li class="followed-user"><%= link_to followed_user.handle, followed_user.url %></li>
    <% end %>
  </ul>
</section>
