
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/darren2802?access_token=<GITHUB_TOKEN_LOCAL>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1581562476'
      Etag:
      - W/"f9a823b4826c79e71189fb7d7d6f2495"
      Last-Modified:
      - Wed, 12 Feb 2020 18:49:21 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"darren2802","id":37692413,"node_id":"MDQ6VXNlcjM3NjkyNDEz","avatar_url":"https://avatars0.githubusercontent.com/u/37692413?v=4","gravatar_id":"","url":"https://api.github.com/users/darren2802","html_url":"https://github.com/darren2802","followers_url":"https://api.github.com/users/darren2802/followers","following_url":"https://api.github.com/users/darren2802/following{/other_user}","gists_url":"https://api.github.com/users/darren2802/gists{/gist_id}","starred_url":"https://api.github.com/users/darren2802/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/darren2802/subscriptions","organizations_url":"https://api.github.com/users/darren2802/orgs","repos_url":"https://api.github.com/users/darren2802/repos","events_url":"https://api.github.com/users/darren2802/events{/privacy}","received_events_url":"https://api.github.com/users/darren2802/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":"darren2802@gmail.com","hireable":null,"bio":null,"public_repos":41,"public_gists":3,"followers":3,"following":2,"created_at":"2018-03-23T09:27:34Z","updated_at":"2020-02-12T18:49:21Z"}'
  recorded_at: Thu, 13 Feb 2020 02:36:47 GMT
recorded_with: VCR 4.0.0
