---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/darren2802?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1581523288'
      Etag:
      - W/"b58654ddc5ffc0d713f9ddd0241674da"
      Last-Modified:
      - Mon, 10 Feb 2020 19:16:26 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"darren2802","id":37692413,"node_id":"MDQ6VXNlcjM3NjkyNDEz","avatar_url":"https://avatars0.githubusercontent.com/u/37692413?v=4","gravatar_id":"","url":"https://api.github.com/users/darren2802","html_url":"https://github.com/darren2802","followers_url":"https://api.github.com/users/darren2802/followers","following_url":"https://api.github.com/users/darren2802/following{/other_user}","gists_url":"https://api.github.com/users/darren2802/gists{/gist_id}","starred_url":"https://api.github.com/users/darren2802/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/darren2802/subscriptions","organizations_url":"https://api.github.com/users/darren2802/orgs","repos_url":"https://api.github.com/users/darren2802/repos","events_url":"https://api.github.com/users/darren2802/events{/privacy}","received_events_url":"https://api.github.com/users/darren2802/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":41,"public_gists":3,"followers":3,"following":2,"created_at":"2018-03-23T09:27:34Z","updated_at":"2020-02-10T19:16:26Z"}'
  recorded_at: Wed, 12 Feb 2020 15:01:28 GMT
recorded_with: VCR 4.0.0
