---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4939'
      X-Ratelimit-Reset:
      - '1548971027'
      Etag:
      - W/"aa28fc3499e01d4699f8f9aa48e30a84"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":161358864,"node_id":"MDEwOlJlcG9zaXRvcnkxNjEzNTg4NjQ=","name":"2win_playlist","full_name":"abenetka/2win_playlist","private":false,"owner":{"login":"abenetka","id":41347275,"node_id":"MDQ6VXNlcjQxMzQ3Mjc1","avatar_url":"https://avatars0.githubusercontent.com/u/41347275?v=4","gravatar_id":"","url":"https://api.github.com/users/abenetka","html_url":"https://github.com/abenetka","followers_url":"https://api.github.com/users/abenetka/followers","following_url":"https://api.github.com/users/abenetka/following{/other_user}","gists_url":"https://api.github.com/users/abenetka/gists{/gist_id}","starred_url":"https://api.github.com/users/abenetka/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/abenetka/subscriptions","organizations_url":"https://api.github.com/users/abenetka/orgs","repos_url":"https://api.github.com/users/abenetka/repos","events_url":"https://api.github.com/users/abenetka/events{/privacy}","received_events_url":"https://api.github.com/users/abenetka/received_events","type":"User","site_admin":false},"html_url":"https://github.com/abenetka/2win_playlist","description":"Static
        Comp Challenge","fork":true,"url":"https://api.github.com/repos/abenetka/2win_playlist","forks_url":"https://api.github.com/repos/abenetka/2win_playlist/forks","keys_url":"https://api.github.com/repos/abenetka/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/abenetka/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/abenetka/2win_playlist/teams","hooks_url":"https://api.github.com/repos/abenetka/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/abenetka/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/abenetka/2win_playlist/events","assignees_url":"https://api.github.com/repos/abenetka/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/abenetka/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/abenetka/2win_playlist/tags","blobs_url":"https://api.github.com/repos/abenetka/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/abenetka/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/abenetka/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/abenetka/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/abenetka/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/abenetka/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/abenetka/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/abenetka/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/abenetka/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/abenetka/2win_playlist/subscription","commits_url":"https://api.github.com/repos/abenetka/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/abenetka/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/abenetka/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/abenetka/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/abenetka/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/abenetka/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/abenetka/2win_playlist/merges","archive_url":"https://api.github.com/repos/abenetka/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/abenetka/2win_playlist/downloads","issues_url":"https://api.github.com/repos/abenetka/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/abenetka/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/abenetka/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/abenetka/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/abenetka/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/abenetka/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/abenetka/2win_playlist/deployments","created_at":"2018-12-11T16:02:00Z","updated_at":"2018-12-11T16:57:48Z","pushed_at":"2018-12-11T16:57:46Z","git_url":"git://github.com/abenetka/2win_playlist.git","ssh_url":"git@github.com:abenetka/2win_playlist.git","clone_url":"https://github.com/abenetka/2win_playlist.git","svn_url":"https://github.com/abenetka/2win_playlist","homepage":null,"size":2913,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":159391622,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkzOTE2MjI=","name":"activerecord-obstacle-course","full_name":"abenetka/activerecord-obstacle-course","private":false,"owner":{"login":"abenetka","id":41347275,"node_id":"MDQ6VXNlcjQxMzQ3Mjc1","avatar_url":"https://avatars0.githubusercontent.com/u/41347275?v=4","gravatar_id":"","url":"https://api.github.com/users/abenetka","html_url":"https://github.com/abenetka","followers_url":"https://api.github.com/users/abenetka/followers","following_u[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '1548971027'
      Etag:
      - W/"a9[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1548971027'
      Etag:
      - W/"0f[...]
