<main class="tutorials">
<h2><%= @facade.title %></h2>
<h1 id="message"></h1>
<div class="col col-4">

  <% if @facade.has_videos? %>
    <%= render partial: "tutorial_videos" %>
  <% else %>
    <h3>No videos for this tutorial.</h3>
  <% end %>

</div>
</main>
