---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1589243177'
      Etag:
      - W/"2e2a6220e8623bfabf4bb5a689dc1b70"
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":248260645,"node_id":"MDEwOlJlcG9zaXRvcnkyNDgyNjA2NDU=","name":"adopt_dont_shop_2001","full_name":"Maxwell-Baird/adopt_dont_shop_2001","private":false,"owner":{"login":"Maxwell-Baird","id":35742356,"node_id":"MDQ6VXNlcjM1NzQyMzU2","avatar_url":"https://avatars0.githubusercontent.com/u/35742356?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxwell-Baird","html_url":"https://github.com/Maxwell-Baird","followers_url":"https://api.github.com/users/Maxwell-Baird/followers","following_url":"https://api.github.com/users/Maxwell-Baird/following{/other_user}","gists_url":"https://api.github.com/users/Maxwell-Baird/gists{/gist_id}","starred_url":"https://api.github.com/users/Maxwell-Baird/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Maxwell-Baird/subscriptions","organizations_url":"https://api.github.com/users/Maxwell-Baird/orgs","repos_url":"https://api.github.com/users/Maxwell-Baird/repos","events_url":"https://api.github.com/users/Maxwell-Baird/events{/privacy}","received_events_url":"https://api.github.com/users/Maxwell-Baird/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Maxwell-Baird/adopt_dont_shop_2001","description":null,"fork":true,"url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001","forks_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/forks","keys_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/teams","hooks_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/hooks","issue_events_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/issues/events{/number}","events_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/events","assignees_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/assignees{/user}","branches_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/branches{/branch}","tags_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/tags","blobs_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/git/refs{/sha}","trees_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/statuses/{sha}","languages_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/languages","stargazers_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/stargazers","contributors_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/contributors","subscribers_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/subscribers","subscription_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/subscription","commits_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/commits{/sha}","git_commits_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/git/commits{/sha}","comments_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/comments{/number}","issue_comment_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/issues/comments{/number}","contents_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/contents/{+path}","compare_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/merges","archive_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/downloads","issues_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/issues{/number}","pulls_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/pulls{/number}","milestones_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/milestones{/number}","notifications_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/labels{/name}","releases_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/releases{/id}","deployments_url":"https://api.github.com/repos/Maxwell-Baird/adopt_dont_shop_2001/deployments","created_at":"2020-03-18T14:53:15Z","updated_at":"2020-03-23T15:00:22Z","pushed_at":"2020-03-23T15:00:20Z","git_url":"git://github.com/Maxwell-Baird/adopt_dont_shop_2001.git","ssh_url":"git@github.com:Maxwell-Baird/adopt_dont_shop_2001.git","clone_url":"https://github.com/Maxwell-Baird/adopt_dont_shop_2001.git","svn_url":"https://github.com/Maxwell-Baird/adopt_dont_shop_2001","homepage":null,"size":340,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":249750861,"node_id":"MDEwOlJlcG9zaXRvcnkyNDk3NTA4NjE=","name":"adopt_dont_shop_paired","full_name":"Maxwell-Baird/adopt_dont_shop_paired","private":false,"owner":{"login":"Maxwell-Baird","id":35742356,"node_id":"MDQ6VXNlcjM1NzQyMzU2","avatar_url":"https://avatars0.githubusercontent.com/u/35742356?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxwell-Baird","html_url":"https://github.com/Maxwell-Baird","followers_url":"https://api.github.com/users/Maxwell-Baird/followers"[...]
