---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1589243177'
      Etag:
      - W/"6645c8ff8f25cc60591339f38b3cd58a"
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"treyx","id":9888146,"node_id":"MDQ6VXNlcjk4ODgxNDY=","avatar_url":"https://avatars1.githubusercontent.com/u/9888146?v=4","gravatar_id":"","url":"https://api.github.com/users/treyx","html_url":"https://github.com/treyx","followers_url":"https://api.github.com/users/treyx/followers","following_url":"https://api.github.com/users/treyx/following{/other_user}","gists_url":"https://api.github.com/users/treyx/gists{/gist_id}","starred_url":"https://api.github.com/users/treyx/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/treyx/subscriptions","organizations_url":"https://api.github.com/users/treyx/orgs","repos_url":"https://api.github.com/users/treyx/repos","events_url":"https://api.github.com/users/treyx/events{/privacy}","received_events_url":"https://api.github.com/users/treyx/received_events","type":"User","site_admin":false},{"login":"tylertomlinson","id":16050876,"node_id":"MDQ6VXNlcjE2MDUwODc2","avatar_url":"https://avatars0.githubusercontent.com/u/16050876?v=4","gravatar_id":"","url":"https://api.github.com/users/tylertomlinson","html_url":"https://github.com/tylertomlinson","followers_url":"https://api.github.com/users/tylertomlinson/followers","following_url":"https://api.github.com/users/tylertomlinson/following{/other_user}","gists_url":"https://api.github.com/users/tylertomlinson/gists{/gist_id}","sta[...]
