---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_ACCESS_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1589246446'
      Etag:
      - W/"cb0f5988b0e9cfd9bd27d7bd8ecf72ad"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"abarnes26","id":26616856,"node_id":"MDQ6VXNlcjI2NjE2ODU2","avatar_url":"https://avatars3.githubusercontent.com/u/26616856?v=4","gravatar_id":"","url":"https://api.github.com/users/abarnes26","html_url":"https://github.com/abarnes26","followers_url":"https://api.github.com/users/abarnes26/followers","following_url":"https://api.github.com/users/abarnes26/following{/other_user}","gists_url":"https://api.github.com/users/abarnes26/gists{/gist_id}","starred_url":"https://api.github.com/users/abarnes26/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/abarnes26/subscriptions","organizations_url":"https://api.github.com/users/abarnes26/orgs","repos_url":"https://api.github.com/users/abarnes26/repos","events_url":"https://api.github.com/users/abarnes26/events{/privacy}","received_events_url":"https://api.github.com/users/abarnes26/received_events","type":"User","site_admin":false},{"login":"jklich151","id":55723833,"node_id":"MDQ6VXNlcjU1NzIzODMz","avatar_url":"https://avatars3.githubusercontent.com/u/55723833?v=4","gravatar_id":"","url":"https://api.github.com/users/jklich151","html_url":"https://github.com/jklich151","followers_url":"https://api.github.com/users/jklich151/followers","following_url":"https://api.github.com/users/jklich151/following{/other_user}","gists_url":"https://api.github.com/users/jklich151/gists{/gist_id}","starred_url":"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_ACCESS_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1589246446'
      Etag:
      - W/"02acffc92d56ea7[...]
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_KEY>&sort=%22created%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1589246445'
      Etag:
      - W/"0f28a571b0b5b3927f8d487e35cb2974"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_KEY>&sort=%22created%22&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_KEY>&sort=%22created%22&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":261285373,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEyODUzNzM=","name":"brownfield-of-dreams","full_name":"jrsewell400/brownfield-of-dreams","private":false,"owner":{"login":"jrsewell400","id":54481094,"node_id":"MDQ6VXNlcjU0NDgxMDk0","avatar_url":"https://avatars2.githubusercontent.com/u/54481094?v=4","gravatar_id":"","url":"https://api.github.com/users/jrsewell400","html_url":"https://github.com/jrsewell400","followers_url":"https://api.github.com/users/jrsewell400/followers","following_url":"https://api.github.com/users/jrsewell400/following{/other_user}","gists_url":"https://api.github.com/users/jrsewell400/gists{/gist_id}","starred_url":"https://api.github.com/users/jrsewell400/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jrsewell400/subscriptions","organizations_url":"https://api.github.com/users/jrsewell400/orgs","repos_url":"https://api.github.com/users/jrsewell400/repos","events_url":"https://api.github.com/users/jrsewell400/events{/privacy}","received_events_url":"https://api.github.com/users/jrsewell400/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jrsewell400/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams","forks_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/jrsewell400/brownfield-of-dreams/deployments","created_at":"2020-05-04T20:12:43Z","updated_at":"2020-05-11T13:43:34Z","pushed_at":"2020-05-12T00:40:38Z","git_url":"git://github.com/jrsewell400/brownfield-of-dreams.git","ssh_url":"git@github.com:jrsewell400/brownfield-of-dreams.git","clone_url":"https://github.com/jrsewell400/brownfield-of-dreams.git","svn_url":"https://github.com/jrsewell400/brownfield-of-dreams","homepage":"","size":7662,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":9,"license":null,"forks":0,"open_issues":9,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":260777000,"node_id":"MDEwOlJlcG9zaXRvcnkyNjA3NzcwMDA=","name":"destination-planner","full_name":"jrsewell400/destination-planner","private":false,"owner":{"login":"jrsewell400","id":54481094,"node_id":"MDQ6VXNlcjU0NDgxMDk0","avatar_url":"https://avatars2.githubusercontent.com/u/54481094?v=4","gravatar_id":"","url":"https://api.github.com/users/jrsewell400","html_url":"https://github.com/jrsewell400","followers_url":"https://api.github.com/users/jrsewell400/followers","following_url"[...]
