---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/repos?token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"86ac2ccc4e3c76cab65c2713efe86b13"
      Last-Modified:
      - Sun, 09 Mar 2014 10:18:05 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1585778610'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"repos","id":77416,"node_id":"MDQ6VXNlcjc3NDE2","avatar_url":"https://avatars0.githubusercontent.com/u/77416?v=4","gravatar_id":"","url":"https://api.github.com/users/repos","html_url":"https://github.com/repos","followers_url":"https://api.github.com/users/repos/followers","following_url":"https://api.github.com/users/repos/following{/other_user}","gists_url":"https://api.github.com/users/repos/gists{/gist_id}","starred_url":"https://api.github.com/users/repos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/repos/subscriptions","organizations_url":"https://api.github.com/users/repos/orgs","repos_url":"https://api.github.com/users/repos/repos","events_url":"https://api.github.com/users/repos/events{/privacy}","received_events_url":"https://api.github.com/users/repos/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":0,"public_gists":0,"followers":19,"following":0,"created_at":"2009-04-24T13:53:27Z","updated_at":"2014-03-09T10:18:05Z"}'
  recorded_at: Wed, 01 Apr 2020 21:27:47 GMT
recorded_with: VCR 5.1.0
