---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_A>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4893'
      X-Ratelimit-Reset:
      - '1594277552'
      Etag:
      - W/"47b314873c04f750e8eb75415a093a01"
      X-Oauth-Scopes:
      - public_repo, read:user, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"<GITHUB_USERNAME_C>","id":35322570,"node_id":"MDQ6VXNlcjM1MzIyNTcw","avatar_url":"https://avatars1.githubusercontent.com/u/35322570?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_C>","html_url":"https://github.com/<GITHUB_USERNAME_C>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME_C>/received_events","type":"User","site_admin":false},{"login":"<GITHUB_USERNAME_B>","id":37886458,"node_id":"MDQ6VXNlcjM3ODg2NDU4","avatar_url":"https://avatars1.githubusercontent.com/u/37886458?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_B>","html_url":"https://github.com/<GITHUB_USERNAME_B>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/gists{/gist_id}","starred_u[...]
