---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4878'
      X-Ratelimit-Reset:
      - '1549144962'
      Etag:
      - W/"a9d4ce26911476446d1d8f01dd6eb331"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mgoodhart5","id":40919519,"node_id":"MDQ6VXNlcjQwOTE5NTE5","avatar_url":"https://avatars2.githubusercontent.com/u/40919519?v=4","gravatar_id":"","url":"https://api.github.com/users/mgoodhart5","html_url":"https://github.com/mgoodhart5","followers_url":"https://api.github.com/users/mgoodhart5/followers","following_url":"https://api.github.com/users/mgoodhart5/following{/other_user}","gists_url":"https://api.github.com/users/mgoodhart5/gists{/gist_id}","starred_url":"https://api.github.com/users/mgoodhart5/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgoodhart5/subscriptions","organizations_url":"https://api.github.com/users/mgoodhart5/orgs","repos_url":"https://api.github.com/users/mgoodhart5/repos","events_url":"https://api.github.com/users/mgoodhart5/events{/privacy}","received_events_url":"https://api.github.com/users/mgoodhart5/received_events","type":"User","site_admin":false},{"login":"Mackenzie-Frey","id":42525195,"node_id":"MDQ6VXNlcjQyNTI1MTk1","avatar_url":"https://avatars0.githubusercontent.com/u/42525195?v=4","gravatar_id":"","url":"https://api.github.com/users/Mackenzie-Frey","html_url":"https://github.com/Mackenzie-Frey","followers_url":"https://api.github.com/users/Mackenzie-Frey/followers","following_url":"https://api.github.com/users/Mackenzie-Frey/following{/other_user}","gists_url":"https://api.github.com/users/Mackenzie-Frey/gists{/gist_id}","sta[...]
