---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1548888470'
      Etag:
      - W/"77ef761611f4d99e4aae5af39577621c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"bradpsheehan","id":2831102,"node_id":"MDQ6VXNlcjI4MzExMDI=","avatar_url":"https://avatars1.githubusercontent.com/u/2831102?v=4","gravatar_id":"","url":"https://api.github.com/users/bradpsheehan","html_url":"https://github.com/bradpsheehan","followers_url":"https://api.github.com/users/bradpsheehan/followers","following_url":"https://api.github.com/users/bradpsheehan/following{/other_user}","gists_url":"https://api.github.com/users/bradpsheehan/gists{/gist_id}","starred_url":"https://api.github.com/users/bradpsheehan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bradpsheehan/subscriptions","organizations_url":"https://api.github.com/users/bradpsheehan/orgs","repos_url":"https://api.github.com/users/bradpsheehan/repos","events_url":"https://api.github.com/users/bradpsheehan/events{/privacy}","received_events_url":"https://api.github.com/users/bradpsheehan/received_events","type":"User","site_admin":false},{"login":"renecasco","id":34440390,"node_id":"MDQ6VXNlcjM0NDQwMzkw","avatar_url":"https://avatars1.githubusercontent.com/u/34440390?v=4","gravatar_id":"","url":"https://api.github.com/users/renecasco","html_url":"https://github.com/renecasco","followers_url":"https://api.github.com/users/renecasco/followers","following_url":"https://api.github.com/users/renecasco/following{/other_user}","gists_url":"https://api.github.com/users/renecasco/gists{/gist_id}","starred_url":"https://api.github.[...]
