---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PAT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1562973714'
      Etag:
      - W/"115181202bebeca5d9a21a19162ae939"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&page=2>;
        rel="next", <https://api.github.com/user/repos?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":119201289,"node_id":"MDEwOlJlcG9zaXRvcnkxMTkyMDEyODk=","name":"BeanFeast2","full_name":"check50/BeanFeast2","private":true,"owner":{"login":"check50","id":29168971,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI5MTY4OTcx","avatar_url":"https://avatars0.githubusercontent.com/u/29168971?v=4","gravatar_id":"","url":"https://api.github.com/users/check50","html_url":"https://github.com/check50","followers_url":"https://api.github.com/users/check50/followers","following_url":"https://api.github.com/users/check50/following{/other_user}","gists_url":"https://api.github.com/users/check50/gists{/gist_id}","starred_url":"https://api.github.com/users/check50/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/check50/subscriptions","organizations_url":"https://api.github.com/users/check50/orgs","repos_url":"https://api.github.com/users/check50/repos","events_url":"https://api.github.com/users/check50/events{/privacy}","received_events_url":"https://api.github.com/users/check50/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/check50/BeanFeast2","description":null,"fork":false,"url":"https://api.github.com/repos/check50/BeanFeast2","forks_url":"https://api.github.com/repos/check50/BeanFeast2/forks","keys_url":"https://api.github.com/repos/check50/BeanFeast2/keys{/key_id}","collaborators_url":"https://api.github.com/repos/check50/BeanFeast2/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/check50/BeanFeast2/teams","hooks_url":"https://api.github.com/repos/check50/BeanFeast2/hooks","issue_events_url":"https://api.github.com/repos/check50/BeanFeast2/issues/events{/number}","events_url":"https://api.github.com/repos/check50/BeanFeast2/events","assignees_url":"https://api.github.com/repos/check50/BeanFeast2/assignees{/user}","branches_url":"https://api.github.com/repos/check50/BeanFeast2/branches{/branch}","tags_url":"https://api.github.com/repos/check50/BeanFeast2/tags","blobs_url":"https://api.github.com/repos/check50/BeanFeast2/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/check50/BeanFeast2/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/check50/BeanFeast2/git/refs{/sha}","trees_url":"https://api.github.com/repos/check50/BeanFeast2/git/trees{/sha}","statuses_url":"https://api.github.com/repos/check50/BeanFeast2/statuses/{sha}","languages_url":"https://api.github.com/repos/check50/BeanFeast2/languages","stargazers_url":"https://api.github.com/repos/check50/BeanFeast2/stargazers","contributors_url":"https://api.github.com/repos/check50/BeanFeast2/contributors","subscribers_url":"https://api.github.com/repos/check50/BeanFeast2/subscribers","subscription_url":"https://api.github.com/repos/check50/BeanFeast2/subscription","commits_url":"https://api.github.com/repos/check50/BeanFeast2/commits{/sha}","git_commits_url":"https://api.github.com/repos/check50/BeanFeast2/git/commits{/sha}","comments_url":"https://api.github.com/repos/check50/BeanFeast2/comments{/number}","issue_comment_url":"https://api.github.com/repos/check50/BeanFeast2/issues/comments{/number}","contents_url":"https://api.github.com/repos/check50/BeanFeast2/contents/{+path}","compare_url":"https://api.github.com/repos/check50/BeanFeast2/compare/{base}...{head}","merges_url":"https://api.github.com/repos/check50/BeanFeast2/merges","archive_url":"https://api.github.com/repos/check50/BeanFeast2/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/check50/BeanFeast2/downloads","issues_url":"https://api.github.com/repos/check50/BeanFeast2/issues{/number}","pulls_url":"https://api.github.com/repos/check50/BeanFeast2/pulls{/number}","milestones_url":"https://api.github.com/repos/check50/BeanFeast2/milestones{/number}","notifications_url":"https://api.github.com/repos/check50/BeanFeast2/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/check50/BeanFeast2/labels{/name}","releases_url":"https://api.github.com/repos/check50/BeanFeast2/releases{/id}","deployments_url":"https://api.github.com/repos/check50/BeanFeast2/deployments","created_at":"2018-01-27T20:46:39Z","updated_at":"2018-01-27T20:46:39Z","pushed_at":"2018-01-27T20:46:40Z","git_url":"git://github.com/check50/BeanFeast2.git","ssh_url":"git@github.com:check50/BeanFeast2.git","clone_url":"https://github.com/check50/BeanFeast2.git","svn_url":"https://github.com/check50/BeanFeast2","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":176370522,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzNzA1MjI=","name":"book","full_name":"CosmicSpagetti/book","private":false,"owner":{"login":"CosmicSpagetti","id":46055043,"node_id":"MDQ6VXNlcjQ2MDU1MDQz","avatar_url":"https://avatars1.githubusercontent.com/u/46055043?v=4","gravatar_id":"","url":"https://api.github.com/users/CosmicSpagetti","html_url":"https://github.com/CosmicSpagetti","followers_url":"https://api.github.com/users/CosmicSpagetti/followers","following_url":"https://api.g[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PAT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://api.github.com/user/following?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PAT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimi[...]
[...]
