---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PAT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562534601'
      Etag:
      - W/"7e5ce115a822c204b271c58279e60999"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":178913110,"node_id":"MDEwOlJlcG9zaXRvcnkxNzg5MTMxMTA=","name":"cross_check","full_name":"GlynnisOC/cross_check","private":false,"owner":{"login":"GlynnisOC","id":44204866,"node_id":"MDQ6VXNlcjQ0MjA0ODY2","avatar_url":"https://avatars0.githubusercontent.com/u/44204866?v=4","gravatar_id":"","url":"https://api.github.com/users/GlynnisOC","html_url":"https://github.com/GlynnisOC","followers_url":"https://api.github.com/users/GlynnisOC/followers","following_url":"https://api.github.com/users/GlynnisOC/following{/other_user}","gists_url":"https://api.github.com/users/GlynnisOC/gists{/gist_id}","starred_url":"https://api.github.com/users/GlynnisOC/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/GlynnisOC/subscriptions","organizations_url":"https://api.github.com/users/GlynnisOC/orgs","repos_url":"https://api.github.com/users/GlynnisOC/repos","events_url":"https://api.github.com/users/GlynnisOC/events{/privacy}","received_events_url":"https://api.github.com/users/GlynnisOC/received_events","type":"User","site_admin":false},"html_url":"https://github.com/GlynnisOC/cross_check","description":null,"fork":true,"url":"https://api.github.com/repos/GlynnisOC/cross_check","forks_url":"https://api.github.com/repos/GlynnisOC/cross_check/forks","keys_url":"https://api.github.com/repos/GlynnisOC/cross_check/keys{/key_id}","collaborators_url":"https://api.github.com/repos/GlynnisOC/cross_check/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/GlynnisOC/cross_check/teams","hooks_url":"https://api.github.com/repos/GlynnisOC/cross_check/hooks","issue_events_url":"https://api.github.com/repos/GlynnisOC/cross_check/issues/events{/number}","events_url":"https://api.github.com/repos/GlynnisOC/cross_check/events","assignees_url":"https://api.github.com/repos/GlynnisOC/cross_check/assignees{/user}","branches_url":"https://api.github.com/repos/GlynnisOC/cross_check/branches{/branch}","tags_url":"https://api.github.com/repos/GlynnisOC/cross_check/tags","blobs_url":"https://api.github.com/repos/GlynnisOC/cross_check/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/GlynnisOC/cross_check/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/GlynnisOC/cross_check/git/refs{/sha}","trees_url":"https://api.github.com/repos/GlynnisOC/cross_check/git/trees{/sha}","statuses_url":"https://api.github.com/repos/GlynnisOC/cross_check/statuses/{sha}","languages_url":"https://api.github.com/repos/GlynnisOC/cross_check/languages","stargazers_url":"https://api.github.com/repos/GlynnisOC/cross_check/stargazers","contributors_url":"https://api.github.com/repos/GlynnisOC/cross_check/contributors","subscribers_url":"https://api.github.com/repos/GlynnisOC/cross_check/subscribers","subscription_url":"https://api.github.com/repos/GlynnisOC/cross_check/subscription","commits_url":"https://api.github.com/repos/GlynnisOC/cross_check/commits{/sha}","git_commits_url":"https://api.github.com/repos/GlynnisOC/cross_check/git/commits{/sha}","comments_url":"https://api.github.com/repos/GlynnisOC/cross_check/comments{/number}","issue_comment_url":"https://api.github.com/repos/GlynnisOC/cross_check/issues/comments{/number}","contents_url":"https://api.github.com/repos/GlynnisOC/cross_check/contents/{+path}","compare_url":"https://api.github.com/repos/GlynnisOC/cross_check/compare/{base}...{head}","merges_url":"https://api.github.com/repos/GlynnisOC/cross_check/merges","archive_url":"https://api.github.com/repos/GlynnisOC/cross_check/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/GlynnisOC/cross_check/downloads","issues_url":"https://api.github.com/repos/GlynnisOC/cross_check/issues{/number}","pulls_url":"https://api.github.com/repos/GlynnisOC/cross_check/pulls{/number}","milestones_url":"https://api.github.com/repos/GlynnisOC/cross_check/milestones{/number}","notifications_url":"https://api.github.com/repos/GlynnisOC/cross_check/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/GlynnisOC/cross_check/labels{/name}","releases_url":"https://api.github.com/repos/GlynnisOC/cross_check/releases{/id}","deployments_url":"https://api.github.com/repos/GlynnisOC/cross_check/deployments","created_at":"2019-04-01T17:27:50Z","updated_at":"2019-04-11T02:08:25Z","pushed_at":"2019-04-11T17:06:45Z","git_url":"git://github.com/GlynnisOC/cross_check.git","ssh_url":"git@github.com:GlynnisOC/cross_check.git","clone_url":"https://github.com/GlynnisOC/cross_check.git","svn_url":"https://github.com/GlynnisOC/cross_check","homepage":null,"size":382,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":176383632,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzODM2MzI=","name":"battleship","full_name":"james-cape/battleship","private":false,"owner":{"login":"james-cape","id":46202598,"node_id":"MDQ6VXNlcjQ2MjAyNTk4","avatar_url":"https://avatars2.githubusercontent.com/u/46202598?v=4","gravatar_id":"","url":"https://api.github.com/users/james-cape","html_url":"https://github.com/james-cape","followers_url":"https://api.github.com/users/james-cape/followers","following_url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PAT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1562534601'
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_PAT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1562534601'
      Etag:
      - W/"[...]
