---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=b81f4ba2618ed34c563ca31ba7dfa70f872dde5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1570818653'
      Etag:
      - W/"b411d539c89cb5d4a56f6297d50da1e3"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=b81f4ba2618ed34c563ca31ba7dfa70f872dde5e&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=b81f4ba2618ed34c563ca31ba7dfa70f872dde5e&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":206118769,"node_id":"MDEwOlJlcG9zaXRvcnkyMDYxMTg3Njk=","name":"monster_shop_1906","full_name":"evettetelyas/monster_shop_1906","private":false,"owner":{"login":"evettetelyas","id":50186721,"node_id":"MDQ6VXNlcjUwMTg2NzIx","avatar_url":"https://avatars0.githubusercontent.com/u/50186721?v=4","gravatar_id":"","url":"https://api.github.com/users/evettetelyas","html_url":"https://github.com/evettetelyas","followers_url":"https://api.github.com/users/evettetelyas/followers","following_url":"https://api.github.com/users/evettetelyas/following{/other_user}","gists_url":"https://api.github.com/users/evettetelyas/gists{/gist_id}","starred_url":"https://api.github.com/users/evettetelyas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/evettetelyas/subscriptions","organizations_url":"https://api.github.com/users/evettetelyas/orgs","repos_url":"https://api.github.com/users/evettetelyas/repos","events_url":"https://api.github.com/users/evettetelyas/events{/privacy}","received_events_url":"https://api.github.com/users/evettetelyas/received_events","type":"User","site_admin":false},"html_url":"https://github.com/evettetelyas/monster_shop_1906","description":null,"fork":true,"url":"https://api.github.com/repos/evettetelyas/monster_shop_1906","forks_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/forks","keys_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/keys{/key_id}","collaborators_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/teams","hooks_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/hooks","issue_events_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/issues/events{/number}","events_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/events","assignees_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/assignees{/user}","branches_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/branches{/branch}","tags_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/tags","blobs_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/git/refs{/sha}","trees_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/git/trees{/sha}","statuses_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/statuses/{sha}","languages_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/languages","stargazers_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/stargazers","contributors_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/contributors","subscribers_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/subscribers","subscription_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/subscription","commits_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/commits{/sha}","git_commits_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/git/commits{/sha}","comments_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/comments{/number}","issue_comment_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/issues/comments{/number}","contents_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/contents/{+path}","compare_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/compare/{base}...{head}","merges_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/merges","archive_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/downloads","issues_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/issues{/number}","pulls_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/pulls{/number}","milestones_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/milestones{/number}","notifications_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/labels{/name}","releases_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/releases{/id}","deployments_url":"https://api.github.com/repos/evettetelyas/monster_shop_1906/deployments","created_at":"2019-09-03T16:08:53Z","updated_at":"2019-09-12T03:40:45Z","pushed_at":"2019-09-12T03:40:44Z","git_url":"git://github.com/evettetelyas/monster_shop_1906.git","ssh_url":"git@github.com:evettetelyas/monster_shop_1906.git","clone_url":"https://github.com/evettetelyas/monster_shop_1906.git","svn_url":"https://github.com/evettetelyas/monster_shop_1906","homepage":null,"size":1654,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":71,"license":null,"forks":2,"open_issues":71,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":201546214,"node_id":"MDEwOlJlcG9zaXRvcnkyMDE1NDYyMTQ=","name":"activerecord-obstacle-course","full_name":"tylorschafer/activerecord-obstacle-course","private":false,"owner":{"login":"tylorschafer","id":3358870,"node_id":"MDQ6VXNlcjMzNTg4NzA=","avatar_url":"https://avatars0.githubusercontent.com/u/3358870?v=4","gravatar_id":"","url":"https://api.github.com/users/tylorschafer","html_url":"https://github.com/tylorschafer","followers_url":"https://api.github.com/users/tylorschafer/follo[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=b81f4ba2618ed34c563ca31ba7dfa70f872dde5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1570818653'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=b81f4ba2618ed34c563ca31ba7dfa70f872dde5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1570818653'
      Etag:
     [...]
[...]
