---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1562542273'
      Etag:
      - W/"5717711dce028c4535a409082248143c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":168206592,"node_id":"MDEwOlJlcG9zaXRvcnkxNjgyMDY1OTI=","name":"battleship_explosion","full_name":"blake-enyart/battleship_explosion","private":false,"owner":{"login":"blake-enyart","id":38588295,"node_id":"MDQ6VXNlcjM4NTg4Mjk1","avatar_url":"https://avatars1.githubusercontent.com/u/38588295?v=4","gravatar_id":"","url":"https://api.github.com/users/blake-enyart","html_url":"https://github.com/blake-enyart","followers_url":"https://api.github.com/users/blake-enyart/followers","following_url":"https://api.github.com/users/blake-enyart/following{/other_user}","gists_url":"https://api.github.com/users/blake-enyart/gists{/gist_id}","starred_url":"https://api.github.com/users/blake-enyart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blake-enyart/subscriptions","organizations_url":"https://api.github.com/users/blake-enyart/orgs","repos_url":"https://api.github.com/users/blake-enyart/repos","events_url":"https://api.github.com/users/blake-enyart/events{/privacy}","received_events_url":"https://api.github.com/users/blake-enyart/received_events","type":"User","site_admin":false},"html_url":"https://github.com/blake-enyart/battleship_explosion","description":null,"fork":false,"url":"https://api.github.com/repos/blake-enyart/battleship_explosion","forks_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/forks","keys_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/keys{/key_id}","collaborators_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/teams","hooks_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/hooks","issue_events_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/issues/events{/number}","events_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/events","assignees_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/assignees{/user}","branches_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/branches{/branch}","tags_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/tags","blobs_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/git/refs{/sha}","trees_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/git/trees{/sha}","statuses_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/statuses/{sha}","languages_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/languages","stargazers_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/stargazers","contributors_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/contributors","subscribers_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/subscribers","subscription_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/subscription","commits_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/commits{/sha}","git_commits_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/git/commits{/sha}","comments_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/comments{/number}","issue_comment_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/issues/comments{/number}","contents_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/contents/{+path}","compare_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/compare/{base}...{head}","merges_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/merges","archive_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/downloads","issues_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/issues{/number}","pulls_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/pulls{/number}","milestones_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/milestones{/number}","notifications_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/labels{/name}","releases_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/releases{/id}","deployments_url":"https://api.github.com/repos/blake-enyart/battleship_explosion/deployments","created_at":"2019-01-29T18:32:20Z","updated_at":"2019-02-10T00:09:36Z","pushed_at":"2019-04-17T17:54:04Z","git_url":"git://github.com/blake-enyart/battleship_explosion.git","ssh_url":"git@github.com:blake-enyart/battleship_explosion.git","clone_url":"https://github.com/blake-enyart/battleship_explosion.git","svn_url":"https://github.com/blake-enyart/battleship_explosion","homepage":null,"size":58,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":187714282,"node_id":"MDEwOlJlcG9zaXRvcnkxODc3MTQyODI=","name":"little_shop_v2","full_name":"GlynnisOC/little_shop_v2","private":false,"owner":{"login":"GlynnisOC","id":44204866,"node_id":"MDQ6VXNlcjQ0MjA0ODY2","avatar_url":"https://avatars0.githubusercontent.com/u/44204866?v=4","gravatar_id":"","url":"https://api.github.com/users/GlynnisOC","html_url":"https://github.com/GlynnisOC","followers_url":"https://api.github.com/users/GlynnisOC/followers","following_url":"https://api.github[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1562542273'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1562542273'
      Etag:
      -[...]
