---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1562541649'
      Etag:
      - W/"a0066e6682398b9bc253a1c7c11fa22b"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"DragonQuills","id":43556453,"node_id":"MDQ6VXNlcjQzNTU2NDUz","avatar_url":"https://avatars2.githubusercontent.com/u/43556453?v=4","gravatar_id":"","url":"https://api.github.com/users/DragonQuills","html_url":"https://github.com/DragonQuills","followers_url":"https://api.github.com/users/DragonQuills/followers","following_url":"https://api.github.com/users/DragonQuills/following{/other_user}","gists_url":"https://api.github.com/users/DragonQuills/gists{/gist_id}","starred_url":"https://api.github.com/users/DragonQuills/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DragonQuills/subscriptions","organizations_url":"https://api.github.com/users/DragonQuills/orgs","repos_url":"https://api.github.com/users/DragonQuills/repos","events_url":"https://api.github.com/users/DragonQuills/events{/privacy}","received_events_url":"https://api.github.com/users/DragonQuills/received_events","type":"User","site_admin":false}]'
  recorded_at: Sun, 07 Jul 2019 22:20:49 GMT
recorded_with: VCR 5.0.0
