---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1562542409'
      Etag:
      - W/"6cf5609c8838ea47af8fbced09cc171e"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Loomus","id":44850604,"node_id":"MDQ6VXNlcjQ0ODUwNjA0","avatar_url":"https://avatars0.githubusercontent.com/u/44850604?v=4","gravatar_id":"","url":"https://api.github.com/users/Loomus","html_url":"https://github.com/Loomus","followers_url":"https://api.github.com/users/Loomus/followers","following_url":"https://api.github.com/users/Loomus/following{/other_user}","gists_url":"https://api.github.com/users/Loomus/gists{/gist_id}","starred_url":"https://api.github.com/users/Loomus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Loomus/subscriptions","organizations_url":"https://api.github.com/users/Loomus/orgs","repos_url":"https://api.github.com/users/Loomus/repos","events_url":"https://api.github.com/users/Loomus/events{/privacy}","received_events_url":"https://api.github.com/users/Loomus/received_events","type":"User","site_admin":false},{"login":"ryanmillergm","id":42855291,"node_id":"MDQ6VXNlcjQyODU1Mjkx","avatar_url":"https://avatars0.githubusercontent.com/u/42855291?v=4","gravatar_id":"","url":"https://api.github.com/users/ryanmillergm","html_url":"https://github.com/ryanmillergm","followers_url":"https://api.github.com/users/ryanmillergm/followers","following_url":"https://api.github.com/users/ryanmillergm/following{/other_user}","gists_url":"https://api.github.com/users/ryanmillergm/gists{/gist_id}","starred_url":"https://api.github.com/users/ryanmillergm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ryanmillergm/subscriptions","organizations_url":"https://api.github.com/users/ryanmillergm/orgs","repos_url":"https://api.github.com/users/ryanmillergm/repos","events_url":"https://api.github.com/users/ryanmillergm/events{/privacy}","received_events_url":"https://api.github.com/users/ryanmillergm/received_events","type":"User","site_admin":false}]'
  recorded_at: Sun, 07 Jul 2019 22:33:28 GMT
[...]
