---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562117943'
      Etag:
      - W/"19cf099a7b8d0e08c75311726291ab64"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":185271964,"node_id":"MDEwOlJlcG9zaXRvcnkxODUyNzE5NjQ=","name":"book_club","full_name":"chakeresa/book_club","private":false,"owner":{"login":"chakeresa","id":47309861,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/47309861?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","following_url":"https://api.github.com/users/chakeresa/following{/other_user}","gists_url":"https://api.github.com/users/chakeresa/gists{/gist_id}","starred_url":"https://api.github.com/users/chakeresa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chakeresa/subscriptions","organizations_url":"https://api.github.com/users/chakeresa/orgs","repos_url":"https://api.github.com/users/chakeresa/repos","events_url":"https://api.github.com/users/chakeresa/events{/privacy}","received_events_url":"https://api.github.com/users/chakeresa/received_events","type":"User","site_admin":false},"html_url":"https://github.com/chakeresa/book_club","description":"Backend
        Module 2 paired Rails project, weeks 2 and 3","fork":true,"url":"https://api.github.com/repos/chakeresa/book_club","forks_url":"https://api.github.com/repos/chakeresa/book_club/forks","keys_url":"https://api.github.com/repos/chakeresa/book_club/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chakeresa/book_club/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chakeresa/book_club/teams","hooks_url":"https://api.github.com/repos/chakeresa/book_club/hooks","issue_events_url":"https://api.github.com/repos/chakeresa/book_club/issues/events{/number}","events_url":"https://api.github.com/repos/chakeresa/book_club/events","assignees_url":"https://api.github.com/repos/chakeresa/book_club/assignees{/user}","branches_url":"https://api.github.com/repos/chakeresa/book_club/branches{/branch}","tags_url":"https://api.github.com/repos/chakeresa/book_club/tags","blobs_url":"https://api.github.com/repos/chakeresa/book_club/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chakeresa/book_club/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chakeresa/book_club/git/refs{/sha}","trees_url":"https://api.github.com/repos/chakeresa/book_club/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chakeresa/book_club/statuses/{sha}","languages_url":"https://api.github.com/repos/chakeresa/book_club/languages","stargazers_url":"https://api.github.com/repos/chakeresa/book_club/stargazers","contributors_url":"https://api.github.com/repos/chakeresa/book_club/contributors","subscribers_url":"https://api.github.com/repos/chakeresa/book_club/subscribers","subscription_url":"https://api.github.com/repos/chakeresa/book_club/subscription","commits_url":"https://api.github.com/repos/chakeresa/book_club/commits{/sha}","git_commits_url":"https://api.github.com/repos/chakeresa/book_club/git/commits{/sha}","comments_url":"https://api.github.com/repos/chakeresa/book_club/comments{/number}","issue_comment_url":"https://api.github.com/repos/chakeresa/book_club/issues/comments{/number}","contents_url":"https://api.github.com/repos/chakeresa/book_club/contents/{+path}","compare_url":"https://api.github.com/repos/chakeresa/book_club/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chakeresa/book_club/merges","archive_url":"https://api.github.com/repos/chakeresa/book_club/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chakeresa/book_club/downloads","issues_url":"https://api.github.com/repos/chakeresa/book_club/issues{/number}","pulls_url":"https://api.github.com/repos/chakeresa/book_club/pulls{/number}","milestones_url":"https://api.github.com/repos/chakeresa/book_club/milestones{/number}","notifications_url":"https://api.github.com/repos/chakeresa/book_club/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chakeresa/book_club/labels{/name}","releases_url":"https://api.github.com/repos/chakeresa/book_club/releases{/id}","deployments_url":"https://api.github.com/repos/chakeresa/book_club/deployments","created_at":"2019-05-06T21:06:27Z","updated_at":"2019-05-15T15:56:25Z","pushed_at":"2019-06-07T23:28:30Z","git_url":"git://github.com/chakeresa/book_club.git","ssh_url":"git@github.com:chakeresa/book_club.git","clone_url":"https://github.com/chakeresa/book_club.git","svn_url":"https://github.com/chakeresa/book_club","homepage":null,"size":313,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":181713923,"node_id":"MDEwOlJlcG9zaXRvcnkxODE3MTM5MjM=","name":"1903_final","full_name":"DavisC0801/1903_final","private":false,"owner":{"login":"DavisC0801","id":44012054,"node_id":"MDQ6VXNlcjQ0MDEyMDU0","avatar_url":"https://avatars0.githubusercontent.com/u/44012054?v=4","gravatar_id":"","url":"https://api.github.com/users/DavisC0801","html_url":"https://github.com/DavisC0801","followers_url":"https://api.github.com/users/DavisC0801/followers","following_url":"https://api.github.co[...]
