---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<Deonte_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4867'
      X-Ratelimit-Reset:
      - '1558141584'
      Etag:
      - W/"37bff8074811c1bd0ec8de3beaf4c79c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<Deonte_token>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<Deonte_token>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":175866093,"node_id":"MDEwOlJlcG9zaXRvcnkxNzU4NjYwOTM=","name":"2win_playlist","full_name":"djc00p/2win_playlist","private":false,"owner":{"login":"djc00p","id":45864171,"node_id":"MDQ6VXNlcjQ1ODY0MTcx","avatar_url":"https://avatars1.githubusercontent.com/u/45864171?v=4","gravatar_id":"","url":"https://api.github.com/users/djc00p","html_url":"https://github.com/djc00p","followers_url":"https://api.github.com/users/djc00p/followers","following_url":"https://api.github.com/users/djc00p/following{/other_user}","gists_url":"https://api.github.com/users/djc00p/gists{/gist_id}","starred_url":"https://api.github.com/users/djc00p/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/djc00p/subscriptions","organizations_url":"https://api.github.com/users/djc00p/orgs","repos_url":"https://api.github.com/users/djc00p/repos","events_url":"https://api.github.com/users/djc00p/events{/privacy}","received_events_url":"https://api.github.com/users/djc00p/received_events","type":"User","site_admin":false},"html_url":"https://github.com/djc00p/2win_playlist","description":"Static
        Comp Challenge","fork":true,"url":"https://api.github.com/repos/djc00p/2win_playlist","forks_url":"https://api.github.com/repos/djc00p/2win_playlist/forks","keys_url":"https://api.github.com/repos/djc00p/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/djc00p/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/djc00p/2win_playlist/teams","hooks_url":"https://api.github.com/repos/djc00p/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/djc00p/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/djc00p/2win_playlist/events","assignees_url":"https://api.github.com/repos/djc00p/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/djc00p/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/djc00p/2win_playlist/tags","blobs_url":"https://api.github.com/repos/djc00p/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/djc00p/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/djc00p/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/djc00p/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/djc00p/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/djc00p/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/djc00p/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/djc00p/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/djc00p/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/djc00p/2win_playlist/subscription","commits_url":"https://api.github.com/repos/djc00p/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/djc00p/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/djc00p/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/djc00p/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/djc00p/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/djc00p/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/djc00p/2win_playlist/merges","archive_url":"https://api.github.com/repos/djc00p/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/djc00p/2win_playlist/downloads","issues_url":"https://api.github.com/repos/djc00p/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/djc00p/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/djc00p/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/djc00p/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/djc00p/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/djc00p/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/djc00p/2win_playlist/deployments","created_at":"2019-03-15T17:41:37Z","updated_at":"2019-03-18T05:55:32Z","pushed_at":"2019-03-18T05:55:31Z","git_url":"git://github.com/djc00p/2win_playlist.git","ssh_url":"git@github.com:djc00p/2win_playlist.git","clone_url":"https://github.com/djc00p/2win_playlist.git","svn_url":"https://github.com/djc00p/2win_playlist","homepage":null,"size":431,"stargazers_count":0,"watchers_count":0,"language":"CSS","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":175261480,"node_id":"MDEwOlJlcG9zaXRvcnkxNzUyNjE0ODA=","name":"activerecord-obstacle-course","full_name":"djc00p/activerecord-obstacle-course","private":false,"owner":{"login":"djc00p","id":45864171,"node_id":"MDQ6VXNlcjQ1ODY0MTcx","avatar_url":"https://avatars1.githubusercontent.com/u/45864171?v=4","gravatar_id":"","url":"https://api.github.com/users/djc00p","html_url":"https://github.com/djc00p","followers_url":"https://api.github.com/users/djc00p/followers","following_url":"https[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<Deonte_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4866'
      X-Ratelimit-Reset:
      - '1558141584'
      Etag:
      - W/"c5bb5e8c248ce4a08cbd[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<Deonte_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4865'
      X-Ratelimit-Reset:
      - '1558141585'
      Etag:
      - W/"ee7e42a5a11d507236e7[...]
