---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3fd3e49f261d37b70f87e013525fe0af0a240fb2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4894'
      X-Ratelimit-Reset:
      - '1572981020'
      Etag:
      - W/"eaa8c64f01758ff678c6e8a024d36213"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":167341853,"node_id":"MDEwOlJlcG9zaXRvcnkxNjczNDE4NTM=","name":"morpion","full_name":"a1iya/morpion","private":false,"owner":{"login":"a1iya","id":23284210,"node_id":"MDQ6VXNlcjIzMjg0MjEw","avatar_url":"https://avatars1.githubusercontent.com/u/23284210?v=4","gravatar_id":"","url":"https://api.github.com/users/a1iya","html_url":"https://github.com/a1iya","followers_url":"https://api.github.com/users/a1iya/followers","following_url":"https://api.github.com/users/a1iya/following{/other_user}","gists_url":"https://api.github.com/users/a1iya/gists{/gist_id}","starred_url":"https://api.github.com/users/a1iya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/a1iya/subscriptions","organizations_url":"https://api.github.com/users/a1iya/orgs","repos_url":"https://api.github.com/users/a1iya/repos","events_url":"https://api.github.com/users/a1iya/events{/privacy}","received_events_url":"https://api.github.com/users/a1iya/received_events","type":"User","site_admin":false},"html_url":"https://github.com/a1iya/morpion","description":"Semaine3/Jeudi","fork":false,"url":"https://api.github.com/repos/a1iya/morpion","forks_url":"https://api.github.com/repos/a1iya/morpion/forks","keys_url":"https://api.github.com/repos/a1iya/morpion/keys{/key_id}","collaborators_url":"https://api.github.com/repos/a1iya/morpion/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/a1iya/morpion/teams","hooks_url":"https://api.github.com/repos/a1iya/morpion/hooks","issue_events_url":"https://api.github.com/repos/a1iya/morpion/issues/events{/number}","events_url":"https://api.github.com/repos/a1iya/morpion/events","assignees_url":"https://api.github.com/repos/a1iya/morpion/assignees{/user}","branches_url":"https://api.github.com/repos/a1iya/morpion/branches{/branch}","tags_url":"https://api.github.com/repos/a1iya/morpion/tags","blobs_url":"https://api.github.com/repos/a1iya/morpion/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/a1iya/morpion/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/a1iya/morpion/git/refs{/sha}","trees_url":"https://api.github.com/repos/a1iya/morpion/git/trees{/sha}","statuses_url":"https://api.github.com/repos/a1iya/morpion/statuses/{sha}","languages_url":"https://api.github.com/repos/a1iya/morpion/languages","stargazers_url":"https://api.github.com/repos/a1iya/morpion/stargazers","contributors_url":"https://api.github.com/repos/a1iya/morpion/contributors","subscribers_url":"https://api.github.com/repos/a1iya/morpion/subscribers","subscription_url":"https://api.github.com/repos/a1iya/morpion/subscription","commits_url":"https://api.github.com/repos/a1iya/morpion/commits{/sha}","git_commits_url":"https://api.github.com/repos/a1iya/morpion/git/commits{/sha}","comments_url":"https://api.github.com/repos/a1iya/morpion/comments{/number}","issue_comment_url":"https://api.github.com/repos/a1iya/morpion/issues/comments{/number}","contents_url":"https://api.github.com/repos/a1iya/morpion/contents/{+path}","compare_url":"https://api.github.com/repos/a1iya/morpion/compare/{base}...{head}","merges_url":"https://api.github.com/repos/a1iya/morpion/merges","archive_url":"https://api.github.com/repos/a1iya/morpion/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/a1iya/morpion/downloads","issues_url":"https://api.github.com/repos/a1iya/morpion/issues{/number}","pulls_url":"https://api.github.com/repos/a1iya/morpion/pulls{/number}","milestones_url":"https://api.github.com/repos/a1iya/morpion/milestones{/number}","notifications_url":"https://api.github.com/repos/a1iya/morpion/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/a1iya/morpion/labels{/name}","releases_url":"https://api.github.com/repos/a1iya/morpion/releases{/id}","deployments_url":"https://api.github.com/repos/a1iya/morpion/deployments","created_at":"2019-01-24T09:37:26Z","updated_at":"2019-01-25T02:03:10Z","pushed_at":"2019-01-25T02:03:08Z","git_url":"git://github.com/a1iya/morpion.git","ssh_url":"git@github.com:a1iya/morpion.git","clone_url":"https://github.com/a1iya/morpion.git","svn_url":"https://github.com/a1iya/morpion","homepage":null,"size":23,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":166197904,"node_id":"MDEwOlJlcG9zaXRvcnkxNjYxOTc5MDQ=","name":"scraping-project","full_name":"a1iya/scraping-project","private":false,"owner":{"login":"a1iya","id":23284210,"node_id":"MDQ6VXNlcjIzMjg0MjEw","avatar_url":"https://avatars1.githubusercontent.com/u/23284210?v=4","gravatar_id":"","url":"https://api.github.com/users/a1iya","html_url":"https://github.com/a1iya","followers_url":"https://api.github.com/users/a1iya/followers","following_url":"https://api.github.com/users/a1iya[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3fd3e49f261d37b70f87e013525fe0af0a240fb2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4893'
      X-Ratelimit-Reset:
      - '1572981[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3fd3e49f261d37b70f87e013525fe0af0a240fb2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      - '1572981[...]
- request:
    method: get
    uri: https://api.github.com/users/TheMindset
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3fd3e49f261d37b70f87e013525fe0af0a240fb2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4891'
      X-Ratelimit-Reset:
      - '1572981020'
      Etag:
      - W/"1166da413dd8cda209e7cf14a12d5a14"
      Last-Modified:
      - Fri, 25 Oct 2019 09:48:40 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJsb2dpbiI6IlRoZU1pbmRzZXQiLCJpZCI6NDE4MjIwMzQsIm5vZGVfaWQiOiJNRFE2VlhObGNqUXhPREl5TURNMCIsImF2YXRhcl91cmwiOiJodHRwczovL2F2YXRhcnMyLmdpdGh1YnVzZXJjb250ZW50LmNvbS91LzQxODIyMDM0P3Y9NCIsImdyYXZhdGFyX2lkIjoiIiwidXJsIjoiaHR0cHM6Ly9hcGkuZ2l0aHViLmNvbS91c2[...]
[...]
