---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1576017004'
      Etag:
      - W/"e91dd7b3b2c681027b5826119017f035"
      X-Oauth-Scopes:
      - admin:repo_hook, delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_1>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_1>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":218108437,"node_id":"MDEwOlJlcG9zaXRvcnkyMTgxMDg0Mzc=","name":"activerecord-obstacle-course","full_name":"BabsLabs/activerecord-obstacle-course","private":false,"owner":{"login":"BabsLabs","id":38663414,"node_id":"MDQ6VXNlcjM4NjYzNDE0","avatar_url":"https://avatars1.githubusercontent.com/u/38663414?v=4","gravatar_id":"","url":"https://api.github.com/users/BabsLabs","html_url":"https://github.com/BabsLabs","followers_url":"https://api.github.com/users/BabsLabs/followers","following_url":"https://api.github.com/users/BabsLabs/following{/other_user}","gists_url":"https://api.github.com/users/BabsLabs/gists{/gist_id}","starred_url":"https://api.github.com/users/BabsLabs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BabsLabs/subscriptions","organizations_url":"https://api.github.com/users/BabsLabs/orgs","repos_url":"https://api.github.com/users/BabsLabs/repos","events_url":"https://api.github.com/users/BabsLabs/events{/privacy}","received_events_url":"https://api.github.com/users/BabsLabs/received_events","type":"User","site_admin":false},"html_url":"https://github.com/BabsLabs/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/BabsLabs/activerecord-obstacle-course/deployments","created_at":"2019-10-28T17:38:50Z","updated_at":"2019-10-28T17:38:52Z","pushed_at":"2019-08-21T08:56:49Z","git_url":"git://github.com/BabsLabs/activerecord-obstacle-course.git","ssh_url":"git@github.com:BabsLabs/activerecord-obstacle-course.git","clone_url":"https://github.com/BabsLabs/activerecord-obstacle-course.git","svn_url":"https://github.com/BabsLabs/activerecord-obstacle-course","homepage":null,"size":56,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":204958726,"node_id":"MDEwOlJlcG9zaXRvcnkyMDQ5NTg3MjY=","name":"apartments_1908","full_name":"BabsLabs/apartments_1908","private":false,"owner":{"login":"BabsLabs","id":38663414,"node_id":"MDQ6VXNlcjM4NjYzNDE0","avatar_url":"https://avatars1.githubusercontent.com/u/38663414?v=4","gravatar_id":"","url":"https://api.github.com/users/BabsLabs","html_url":"https://github.com/BabsLabs","followers_url":"https://api.github.com/users/BabsLabs/followers","following_url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN_1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1576017004'
      Etag:
      - W/"e5afdcf9bbfad6ebbc[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN_1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1576017004'
      Etag:
      - W/"fd0c678f09166c68b8[...]
