---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Not-Zorro?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1575944374'
      Etag:
      - W/"79de6844000ed94a0fc65b9b5ec3ba38"
      Last-Modified:
      - Tue, 10 Dec 2019 00:49:44 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Not-Zorro","id":43835133,"node_id":"MDQ6VXNlcjQzODM1MTMz","avatar_url":"https://avatars1.githubusercontent.com/u/43835133?v=4","gravatar_id":"","url":"https://api.github.com/users/Not-Zorro","html_url":"https://github.com/Not-Zorro","followers_url":"https://api.github.com/users/Not-Zorro/followers","following_url":"https://api.github.com/users/Not-Zorro/following{/other_user}","gists_url":"https://api.github.com/users/Not-Zorro/gists{/gist_id}","starred_url":"https://api.github.com/users/Not-Zorro/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Not-Zorro/subscriptions","organizations_url":"https://api.github.com/users/Not-Zorro/orgs","repos_url":"https://api.github.com/users/Not-Zorro/repos","events_url":"https://api.github.com/users/Not-Zorro/events{/privacy}","received_events_url":"https://api.github.com/users/Not-Zorro/received_events","type":"User","site_admin":false,"name":"David
        Lopez","company":null,"blog":"https://www.linkedin.com/in/david-christopher-lopez/","location":"Denver,
        CO","email":"ldavid.x.lopezl@gmail.com","hireable":null,"bio":"Software Developer,
        PC Build enthusiast\r\n ","public_repos":45,"public_gists":14,"followers":6,"following":6,"created_at":"2018-10-04T01:40:21Z","updated_at":"2019-12-10T00:49:44Z"}'
  recorded_at: Tue, 10 Dec 2019 01:19:34 GMT
recorded_with: VCR 4.0.0
