---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Ted4?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1575944776'
      Etag:
      - W/"1d550291c49621c0d2eb537c4406c2b5"
      Last-Modified:
      - Sat, 27 Feb 2016 19:22:31 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Ted4","id":8827291,"node_id":"MDQ6VXNlcjg4MjcyOTE=","avatar_url":"https://avatars0.githubusercontent.com/u/8827291?v=4","gravatar_id":"","url":"https://api.github.com/users/Ted4","html_url":"https://github.com/Ted4","followers_url":"https://api.github.com/users/Ted4/followers","following_url":"https://api.github.com/users/Ted4/following{/other_user}","gists_url":"https://api.github.com/users/Ted4/gists{/gist_id}","starred_url":"https://api.github.com/users/Ted4/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Ted4/subscriptions","organizations_url":"https://api.github.com/users/Ted4/orgs","repos_url":"https://api.github.com/users/Ted4/repos","events_url":"https://api.github.com/users/Ted4/events{/privacy}","received_events_url":"https://api.github.com/users/Ted4/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"http://www.kiwibox.com/halypq41/blog","location":"New
        York","email":null,"hireable":null,"bio":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2014-09-19T01:32:59Z","updated_at":"2016-02-27T19:22:31Z"}'
  recorded_at: Tue, 10 Dec 2019 01:26:16 GMT
recorded_with: VCR 4.0.0
