<h3>Hello <%= @invite.to_username %>,</h3>
<p><%= @invite.from_username %> has invited you to join Brownfield!</p>
<p>You can create an account by registering <%= link_to "here", register_url %>!</p>
