<p>
Hello <%= @handle %>,

<%= @inviter.first_name + @nviter.last_name %> has invited you to join Brownfield. You can create an account here:

<%=  link_to "Register", new_user_url(host: "http://localhost:3000")%>


</p>
