---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/manojpanta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1553553089'
      Etag:
      - W/"abc056c1f305fd020a9998dc21706f1b"
      Last-Modified:
      - Mon, 25 Mar 2019 19:41:28 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"manojpanta","id":34468256,"node_id":"MDQ6VXNlcjM0NDY4MjU2","avatar_url":"https://avatars1.githubusercontent.com/u/34468256?v=4","gravatar_id":"","url":"https://api.github.com/users/manojpanta","html_url":"https://github.com/manojpanta","followers_url":"https://api.github.com/users/manojpanta/followers","following_url":"https://api.github.com/users/manojpanta/following{/other_user}","gists_url":"https://api.github.com/users/manojpanta/gists{/gist_id}","starred_url":"https://api.github.com/users/manojpanta/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/manojpanta/subscriptions","organizations_url":"https://api.github.com/users/manojpanta/orgs","repos_url":"https://api.github.com/users/manojpanta/repos","events_url":"https://api.github.com/users/manojpanta/events{/privacy}","received_events_url":"https://api.github.com/users/manojpanta/received_events","type":"User","site_admin":false,"name":"Manoj
        Panta","company":null,"blog":"","location":null,"email":"manojpanta95@gmail.com","hireable":null,"bio":null,"public_repos":61,"public_gists":2,"followers":4,"following":8,"created_at":"2017-12-12T05:31:06Z","updated_at":"2019-03-25T19:41:28Z"}'
  recorded_at: Mon, 25 Mar 2019 21:31:26 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"mayola@dicki.co"},"subject":"Invitation to join Brownfield
        of Dreams","personalizations":[{"to":[{"email":"manojpanta95@gmail.com"}]}],"content":[{"type":"text/plain","value":"Hello
        manojpanta,  has invited you to join Brownfield of Dreams.You can create an
        account here: https://brownfield-of-dreams-1811.herokuapp.com/register"}]}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Message-Id:
      - BhcB2CwTTy2tUlqp4OX28g
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 Mar 2019 21:31:27 GMT
recorded_with: VCR 4.0.0
