---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=50&part=snippet,contentDetails&playlistId=PLA1C00061BB65843A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "X73XUPIBg0bljJp3QseY37eokXM",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "0vsgmVQQz9bjKYpDJkfTLFQ9Zgg",
              "id": "UExBMUMwMDA2MUJCNjU4NDNBLjI4REIyMUE5QzhBNTQ4NUY=",
              "snippet": {
                "publishedAt": "2010-10-03T01:37:17Z",
                "channelId": "UCN95JCi1F_lmWOuLAS04f_Q",
                "title": "DF02 Gyrocopter: Zero Speed Landing",
                "description": "Actually it is a \"Zero GROUND Speed Landing\" approx. 25 kts headwind performed by Michael Obermaier during his test flights on the DF02 gyrocopter, see also: www.GyroTec.de",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/GAoK9zM8FFQ/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/GAoK9zM8FFQ/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/GAoK9zM8FFQ/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "kingsimonp",
                "playlistId": "PLA1C00061BB65843A",
                "position": 0,
                "resourceId": {
                  "kind": "youtube#video",
                  "videoId": "GAoK9zM8FFQ"
                }
              },
              "contentDetails": {
                "videoId": "GAoK9zM8FFQ",
                "videoPublishedAt": "2007-12-04T01:46:58Z"
              }
            },
            {
              "kind": "youtube#playlistItem",
              "etag": "ILVPtXTDh7atCxdBU24Ozy8SGMY",
              "id": "UExBMUMwMDA2MUJCNjU4NDNBLjM2NkYyRkEyRjM1ODE5N0Y=",
              "snippet": {
                "publishedAt": "2010-10-03T01:38:18Z",
                "channelId": "UCN95JCi1F_lmWOuLAS04f_Q",
                "title": "Gyroplane Gyrocopter Ultralight  Playing in a bean patch",
                "description": "",
 [...]
