---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1581028916'
      Etag:
      - W/"0b14892fbdd25ecda569f4b12ab87366"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ganelson","id":44782727,"node_id":"MDQ6VXNlcjQ0NzgyNzI3","avatar_url":"https://avatars0.githubusercontent.com/u/44782727?v=4","gravatar_id":"","url":"https://api.github.com/users/ganelson","html_url":"https://github.com/ganelson","followers_url":"https://api.github.com/users/ganelson/followers","following_url":"https://api.github.com/users/ganelson/following{/other_user}","gists_url":"https://api.github.com/users/ganelson/gists{/gist_id}","starred_url":"https://api.github.com/users/ganelson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ganelson/subscriptions","organizations_url":"https://api.github.com/users/ganelson/orgs","repos_url":"https://api.github.com/users/ganelson/repos","events_url":"https://api.github.com/users/ganelson/events{/privacy}","received_events_url":"https://api.github.com/users/ganelson/received_events","type":"User","site_admin":false},{"login":"msimon42","id":52684225,"node_id":"MDQ6VXNlcjUyNjg0MjI1","avatar_url":"https://avatars2.githubusercontent.com/u/52684225?v=4","gravatar_id":"","url":"https://api.github.com/users/msimon42","html_url":"https://github.com/msimon42","followers_url":"https://api.github.com/users/msimon42/followers","following_url":"https://api.github.com/users/msimon42/following{/other_user}","gists_url":"https://api.github.com/users/msimon42/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
