---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1581028916'
      Etag:
      - W/"d195025863dbd26d61ec379d1f440f1b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"PaulDebevec","id":20971079,"node_id":"MDQ6VXNlcjIwOTcxMDc5","avatar_url":"https://avatars3.githubusercontent.com/u/20971079?v=4","gravatar_id":"","url":"https://api.github.com/users/PaulDebevec","html_url":"https://github.com/PaulDebevec","followers_url":"https://api.github.com/users/PaulDebevec/followers","following_url":"https://api.github.com/users/PaulDebevec/following{/other_user}","gists_url":"https://api.github.com/users/PaulDebevec/gists{/gist_id}","starred_url":"https://api.github.com/users/PaulDebevec/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PaulDebevec/subscriptions","organizations_url":"https://api.github.com/users/PaulDebevec/orgs","repos_url":"https://api.github.com/users/PaulDebevec/repos","events_url":"https://api.github.com/users/PaulDebevec/events{/privacy}","received_events_url":"https://api.github.com/users/PaulDebevec/received_events","type":"User","site_admin":false},{"login":"sasloan","id":51456013,"node_id":"MDQ6VXNlcjUxNDU2MDEz","avatar_url":"https://avatars3.githubusercontent.com/u/51456013?v=4","gravatar_id":"","url":"https://api.github.com/users/sasloan","html_url":"https://github.com/sasloan","followers_url":"https://api.github.com/users/sasloan/followers","following_url":"https://api.github.com/users/sasloan/following{/other_user}","gists_url":"https://api.github.com/users/sasloan/gists{/gist_id}","starred_url":"https://api.github.com/users/sa[...]
