---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/plapicola
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1553384457'
      Etag:
      - W/"3de5f8a3602fc128c11f8b3e9601e276"
      Last-Modified:
      - Sat, 23 Mar 2019 21:29:07 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"plapicola","id":41562392,"node_id":"MDQ6VXNlcjQxNTYyMzky","avatar_url":"https://avatars1.githubusercontent.com/u/41562392?v=4","gravatar_id":"","url":"https://api.github.com/users/plapicola","html_url":"https://github.com/plapicola","followers_url":"https://api.github.com/users/plapicola/followers","following_url":"https://api.github.com/users/plapicola/following{/other_user}","gists_url":"https://api.github.com/users/plapicola/gists{/gist_id}","starred_url":"https://api.github.com/users/plapicola/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/plapicola/subscriptions","organizations_url":"https://api.github.com/users/plapicola/orgs","repos_url":"https://api.github.com/users/plapicola/repos","events_url":"https://api.github.com/users/plapicola/events{/privacy}","received_events_url":"https://api.github.com/users/plapicola/received_events","type":"User","site_admin":false,"name":"Peter
        Lapicola","company":null,"blog":"","location":null,"email":"<HIDDEN_EMAIL>","hireable":null,"bio":"Student
        Developer","public_repos":36,"public_gists":4,"followers":14,"following":18,"created_at":"2018-07-23T04:47:38Z","updated_at":"2019-03-23T21:29:07Z"}'
  recorded_at: Sat, 23 Mar 2019 22:40:56 GMT
recorded_with: VCR 4.0.0
