---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/plapicola
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1553384453'
      Etag:
      - W/"3de5f8a3602fc128c11f8b3e9601e276"
      Last-Modified:
      - Sat, 23 Mar 2019 21:29:07 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"plapicola","id":41562392,"node_id":"MDQ6VXNlcjQxNTYyMzky","avatar_url":"https://avatars1.githubusercontent.com/u/41562392?v=4","gravatar_id":"","url":"https://api.github.com/users/plapicola","html_url":"https://github.com/plapicola","followers_url":"https://api.github.com/users/plapicola/followers","following_url":"https://api.github.com/users/plapicola/following{/other_user}","gists_url":"https://api.github.com/users/plapicola/gists{/gist_id}","starred_url":"https://api.github.com/users/plapicola/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/plapicola/subscriptions","organizations_url":"https://api.github.com/users/plapicola/orgs","repos_url":"https://api.github.com/users/plapicola/repos","events_url":"https://api.github.com/users/plapicola/events{/privacy}","received_events_url":"https://api.github.com/users/plapicola/received_events","type":"User","site_admin":false,"name":"Peter
        Lapicola","company":null,"blog":"","location":null,"email":"<HIDDEN_EMAIL>","hireable":null,"bio":"Student
        Developer","public_repos":36,"public_gists":4,"followers":14,"following":18,"created_at":"2018-07-23T04:47:38Z","updated_at":"2019-03-23T21:29:07Z"}'
  recorded_at: Sat, 23 Mar 2019 22:40:51 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1553384454'
      Etag:
      - W/"f6e4ed636ef041ea098f1a393201a6e6"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":160264224,"node_id":"MDEwOlJlcG9zaXRvcnkxNjAyNjQyMjQ=","name":"battleship","full_name":"JennicaStiehl/battleship","private":false,"owner":{"login":"JennicaStiehl","id":44877533,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ0ODc3NTMz","avatar_url":"https://avatars0.githubusercontent.com/u/44877533?v=4","gravatar_id":"","url":"https://api.github.com/users/JennicaStiehl","html_url":"https://github.com/JennicaStiehl","followers_url":"https://api.github.com/users/JennicaStiehl/followers","following_url":"https://api.github.com/users/JennicaStiehl/following{/other_user}","gists_url":"https://api.github.com/users/JennicaStiehl/gists{/gist_id}","starred_url":"https://api.github.com/users/JennicaStiehl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JennicaStiehl/subscriptions","organizations_url":"https://api.github.com/users/JennicaStiehl/orgs","repos_url":"https://api.github.com/users/JennicaStiehl/repos","events_url":"https://api.github.com/users/JennicaStiehl/events{/privacy}","received_events_url":"https://api.github.com/users/JennicaStiehl/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/JennicaStiehl/battleship","description":"battleship
        with Ty Mazey","fork":false,"url":"https://api.github.com/repos/JennicaStiehl/battleship","forks_url":"https://api.github.com/repos/JennicaStiehl/battleship/forks","keys_url":"https://api.github.com/repos/JennicaStiehl/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JennicaStiehl/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JennicaStiehl/battleship/teams","hooks_url":"https://api.github.com/repos/JennicaStiehl/battleship/hooks","issue_events_url":"https://api.github.com/repos/JennicaStiehl/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/JennicaStiehl/battleship/events","assignees_url":"https://api.github.com/repos/JennicaStiehl/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/JennicaStiehl/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/JennicaStiehl/battleship/tags","blobs_url":"https://api.github.com/repos/JennicaStiehl/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JennicaStiehl/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JennicaStiehl/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/JennicaStiehl/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JennicaStiehl/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/JennicaStiehl/battleship/languages","stargazers_url":"https://api.github.com/repos/JennicaStiehl/battleship/stargazers","contributors_url":"https://api.github.com/repos/JennicaStiehl/battleship/contributors","subscribers_url":"https://api.github.com/repos/JennicaStiehl/battleship/subscribers","subscription_url":"https://api.github.com/repos/JennicaStiehl/battleship/subscription","commits_url":"https://api.github.com/repos/JennicaStiehl/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/JennicaStiehl/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/JennicaStiehl/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/JennicaStiehl/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/JennicaStiehl/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/JennicaStiehl/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JennicaStiehl/battleship/merges","archive_url":"https://api.github.com/repos/JennicaStiehl/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JennicaStiehl/battleship/downloads","issues_url":"https://api.github.com/repos/JennicaStiehl/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/JennicaStiehl/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/JennicaStiehl/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/JennicaStiehl/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JennicaStiehl/battleship/labels{/name}","releases_url":"https://api.github.com/repos/JennicaStiehl/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/JennicaStiehl/battleship/deployments","created_at":"2018-12-03T22:50:26Z","updated_at":"2018-12-13T14:04:42Z","pushed_at":"2018-12-13T14:04:40Z","git_url":"git://github.com/JennicaStiehl/battleship.git","ssh_url":"git@github.com:JennicaStiehl/battleship.git","clone_url":"https://github.com/JennicaStiehl/battleship.git","svn_url":"https://github.com/JennicaStiehl/battleship","homepage":null,"size":51,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":169347057,"node_id":"MDEwOlJlcG9zaXRvcnkxNjkzNDcwNTc=","name":"little_shop","full_name":"n-flint/little_shop","private":false,"owner":{"login":"n-flint","id":34421236,"node_id":"MDQ6VXNlcjM0NDIxMjM2","avatar_url":"https://avatars3.githubusercontent.com/u/34421236?v=4","gravatar_id":"","url":"https://api.github.com/users/n-flint","html_url":"https://github.com/n-flint","followers_url":"https://api.github.com/users/n-flint/followers","following_url":"https://api.github.com/users/n-fli[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1553384454'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1553384455'
      Etag:
      -[...]
