---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<USER_GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1575859057'
      Etag:
      - W/"0aeeed9cac61f7f53702510e1e0b2f18"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<USER_GITHUB_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<USER_GITHUB_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":213467313,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM0NjczMTM=","name":"little_shop_1908","full_name":"freeheeling/little_shop_1908","private":false,"owner":{"login":"freeheeling","id":50811220,"node_id":"MDQ6VXNlcjUwODExMjIw","avatar_url":"https://avatars3.githubusercontent.com/u/50811220?v=4","gravatar_id":"","url":"https://api.github.com/users/freeheeling","html_url":"https://github.com/freeheeling","followers_url":"https://api.github.com/users/freeheeling/followers","following_url":"https://api.github.com/users/freeheeling/following{/other_user}","gists_url":"https://api.github.com/users/freeheeling/gists{/gist_id}","starred_url":"https://api.github.com/users/freeheeling/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/freeheeling/subscriptions","organizations_url":"https://api.github.com/users/freeheeling/orgs","repos_url":"https://api.github.com/users/freeheeling/repos","events_url":"https://api.github.com/users/freeheeling/events{/privacy}","received_events_url":"https://api.github.com/users/freeheeling/received_events","type":"User","site_admin":false},"html_url":"https://github.com/freeheeling/little_shop_1908","description":null,"fork":true,"url":"https://api.github.com/repos/freeheeling/little_shop_1908","forks_url":"https://api.github.com/repos/freeheeling/little_shop_1908/forks","keys_url":"https://api.github.com/repos/freeheeling/little_shop_1908/keys{/key_id}","collaborators_url":"https://api.github.com/repos/freeheeling/little_shop_1908/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/freeheeling/little_shop_1908/teams","hooks_url":"https://api.github.com/repos/freeheeling/little_shop_1908/hooks","issue_events_url":"https://api.github.com/repos/freeheeling/little_shop_1908/issues/events{/number}","events_url":"https://api.github.com/repos/freeheeling/little_shop_1908/events","assignees_url":"https://api.github.com/repos/freeheeling/little_shop_1908/assignees{/user}","branches_url":"https://api.github.com/repos/freeheeling/little_shop_1908/branches{/branch}","tags_url":"https://api.github.com/repos/freeheeling/little_shop_1908/tags","blobs_url":"https://api.github.com/repos/freeheeling/little_shop_1908/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/freeheeling/little_shop_1908/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/freeheeling/little_shop_1908/git/refs{/sha}","trees_url":"https://api.github.com/repos/freeheeling/little_shop_1908/git/trees{/sha}","statuses_url":"https://api.github.com/repos/freeheeling/little_shop_1908/statuses/{sha}","languages_url":"https://api.github.com/repos/freeheeling/little_shop_1908/languages","stargazers_url":"https://api.github.com/repos/freeheeling/little_shop_1908/stargazers","contributors_url":"https://api.github.com/repos/freeheeling/little_shop_1908/contributors","subscribers_url":"https://api.github.com/repos/freeheeling/little_shop_1908/subscribers","subscription_url":"https://api.github.com/repos/freeheeling/little_shop_1908/subscription","commits_url":"https://api.github.com/repos/freeheeling/little_shop_1908/commits{/sha}","git_commits_url":"https://api.github.com/repos/freeheeling/little_shop_1908/git/commits{/sha}","comments_url":"https://api.github.com/repos/freeheeling/little_shop_1908/comments{/number}","issue_comment_url":"https://api.github.com/repos/freeheeling/little_shop_1908/issues/comments{/number}","contents_url":"https://api.github.com/repos/freeheeling/little_shop_1908/contents/{+path}","compare_url":"https://api.github.com/repos/freeheeling/little_shop_1908/compare/{base}...{head}","merges_url":"https://api.github.com/repos/freeheeling/little_shop_1908/merges","archive_url":"https://api.github.com/repos/freeheeling/little_shop_1908/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/freeheeling/little_shop_1908/downloads","issues_url":"https://api.github.com/repos/freeheeling/little_shop_1908/issues{/number}","pulls_url":"https://api.github.com/repos/freeheeling/little_shop_1908/pulls{/number}","milestones_url":"https://api.github.com/repos/freeheeling/little_shop_1908/milestones{/number}","notifications_url":"https://api.github.com/repos/freeheeling/little_shop_1908/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/freeheeling/little_shop_1908/labels{/name}","releases_url":"https://api.github.com/repos/freeheeling/little_shop_1908/releases{/id}","deployments_url":"https://api.github.com/repos/freeheeling/little_shop_1908/deployments","created_at":"2019-10-07T19:21:26Z","updated_at":"2019-10-17T04:02:54Z","pushed_at":"2019-10-17T04:02:52Z","git_url":"git://github.com/freeheeling/little_shop_1908.git","ssh_url":"git@github.com:freeheeling/little_shop_1908.git","clone_url":"https://github.com/freeheeling/little_shop_1908.git","svn_url":"https://github.com/freeheeling/little_shop_1908","homepage":null,"size":353,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":38,"license":null,"forks":0,"open_issues":38,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":225475636,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0NzU2MzY=","name":"brownfield-of-dreams","full_name":"hillstew/brownfield-of-dreams","private":false,"owner":{"login":"hillstew","id":36748280,"node_id":"MDQ6VXNlcjM2NzQ4Mjgw","avatar_url":"https://avatars3.githubusercontent.com/u/36748280?v=4","gravatar_id":"","url":"https://api.github.com/users/hillstew","html_url":"https://github.com/hillstew","followers_url":"https://api.github.com/users/hillstew/followers","following_url":"https://api[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<USER_GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1575859057'
      Etag:
      - W/"64bdb4508b916ab[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<USER_GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1575859057'
      Etag:
      - W/"57ddcb410f860f4[...]
