---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=94b2a1343aef581d335f58d48da19a129ed6ff23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1557772914'
      Etag:
      - W/"ca6e1f3317d7fba576d7960f6881e0fe"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=94b2a1343aef581d335f58d48da19a129ed6ff23&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=94b2a1343aef581d335f58d48da19a129ed6ff23&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":173146748,"node_id":"MDEwOlJlcG9zaXRvcnkxNzMxNDY3NDg=","name":"2personal_site","full_name":"carriewalsh/2personal_site","private":false,"owner":{"login":"carriewalsh","id":43975624,"node_id":"MDQ6VXNlcjQzOTc1NjI0","avatar_url":"https://avatars0.githubusercontent.com/u/43975624?v=4","gravatar_id":"","url":"https://api.github.com/users/carriewalsh","html_url":"https://github.com/carriewalsh","followers_url":"https://api.github.com/users/carriewalsh/followers","following_url":"https://api.github.com/users/carriewalsh/following{/other_user}","gists_url":"https://api.github.com/users/carriewalsh/gists{/gist_id}","starred_url":"https://api.github.com/users/carriewalsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/carriewalsh/subscriptions","organizations_url":"https://api.github.com/users/carriewalsh/orgs","repos_url":"https://api.github.com/users/carriewalsh/repos","events_url":"https://api.github.com/users/carriewalsh/events{/privacy}","received_events_url":"https://api.github.com/users/carriewalsh/received_events","type":"User","site_admin":false},"html_url":"https://github.com/carriewalsh/2personal_site","description":null,"fork":false,"url":"https://api.github.com/repos/carriewalsh/2personal_site","forks_url":"https://api.github.com/repos/carriewalsh/2personal_site/forks","keys_url":"https://api.github.com/repos/carriewalsh/2personal_site/keys{/key_id}","collaborators_url":"https://api.github.com/repos/carriewalsh/2personal_site/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/carriewalsh/2personal_site/teams","hooks_url":"https://api.github.com/repos/carriewalsh/2personal_site/hooks","issue_events_url":"https://api.github.com/repos/carriewalsh/2personal_site/issues/events{/number}","events_url":"https://api.github.com/repos/carriewalsh/2personal_site/events","assignees_url":"https://api.github.com/repos/carriewalsh/2personal_site/assignees{/user}","branches_url":"https://api.github.com/repos/carriewalsh/2personal_site/branches{/branch}","tags_url":"https://api.github.com/repos/carriewalsh/2personal_site/tags","blobs_url":"https://api.github.com/repos/carriewalsh/2personal_site/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/carriewalsh/2personal_site/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/carriewalsh/2personal_site/git/refs{/sha}","trees_url":"https://api.github.com/repos/carriewalsh/2personal_site/git/trees{/sha}","statuses_url":"https://api.github.com/repos/carriewalsh/2personal_site/statuses/{sha}","languages_url":"https://api.github.com/repos/carriewalsh/2personal_site/languages","stargazers_url":"https://api.github.com/repos/carriewalsh/2personal_site/stargazers","contributors_url":"https://api.github.com/repos/carriewalsh/2personal_site/contributors","subscribers_url":"https://api.github.com/repos/carriewalsh/2personal_site/subscribers","subscription_url":"https://api.github.com/repos/carriewalsh/2personal_site/subscription","commits_url":"https://api.github.com/repos/carriewalsh/2personal_site/commits{/sha}","git_commits_url":"https://api.github.com/repos/carriewalsh/2personal_site/git/commits{/sha}","comments_url":"https://api.github.com/repos/carriewalsh/2personal_site/comments{/number}","issue_comment_url":"https://api.github.com/repos/carriewalsh/2personal_site/issues/comments{/number}","contents_url":"https://api.github.com/repos/carriewalsh/2personal_site/contents/{+path}","compare_url":"https://api.github.com/repos/carriewalsh/2personal_site/compare/{base}...{head}","merges_url":"https://api.github.com/repos/carriewalsh/2personal_site/merges","archive_url":"https://api.github.com/repos/carriewalsh/2personal_site/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/carriewalsh/2personal_site/downloads","issues_url":"https://api.github.com/repos/carriewalsh/2personal_site/issues{/number}","pulls_url":"https://api.github.com/repos/carriewalsh/2personal_site/pulls{/number}","milestones_url":"https://api.github.com/repos/carriewalsh/2personal_site/milestones{/number}","notifications_url":"https://api.github.com/repos/carriewalsh/2personal_site/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/carriewalsh/2personal_site/labels{/name}","releases_url":"https://api.github.com/repos/carriewalsh/2personal_site/releases{/id}","deployments_url":"https://api.github.com/repos/carriewalsh/2personal_site/deployments","created_at":"2019-02-28T16:27:16Z","updated_at":"2019-03-05T22:07:25Z","pushed_at":"2019-03-05T22:07:23Z","git_url":"git://github.com/carriewalsh/2personal_site.git","ssh_url":"git@github.com:carriewalsh/2personal_site.git","clone_url":"https://github.com/carriewalsh/2personal_site.git","svn_url":"https://github.com/carriewalsh/2personal_site","homepage":null,"size":9,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":175865528,"node_id":"MDEwOlJlcG9zaXRvcnkxNzU4NjU1Mjg=","name":"2win_playlist","full_name":"carriewalsh/2win_playlist","private":false,"owner":{"login":"carriewalsh","id":43975624,"node_id":"MDQ6VXNlcjQzOTc1NjI0","avatar_url":"https://avatars0.githubusercontent.com/u/43975624?v=4","gravatar_id":"","url":"https://api.github.com/users/carriewalsh","html_url":"https://github.com/carriewalsh","followers_url":"https://api.github.com/users/carriewalsh/followers","following_url":"https://ap[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=94b2a1343aef581d335f58d48da19a129ed6ff23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1557772914'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=94b2a1343aef581d335f58d48da19a129ed6ff23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1557772914'
      Etag:
     [...]
