---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=eccef11e0cca988ba60d7c5e722ee0dfa8765b12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1557500975'
      Etag:
      - W/"ad5c9d7c4e75b989932d1b052cff9c5a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=eccef11e0cca988ba60d7c5e722ee0dfa8765b12&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=eccef11e0cca988ba60d7c5e722ee0dfa8765b12&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":170210631,"node_id":"MDEwOlJlcG9zaXRvcnkxNzAyMTA2MzE=","name":"cross_check","full_name":"blake-enyart/cross_check","private":false,"owner":{"login":"blake-enyart","id":38588295,"node_id":"MDQ6VXNlcjM4NTg4Mjk1","avatar_url":"https://avatars1.githubusercontent.com/u/38588295?v=4","gravatar_id":"","url":"https://api.github.com/users/blake-enyart","html_url":"https://github.com/blake-enyart","followers_url":"https://api.github.com/users/blake-enyart/followers","following_url":"https://api.github.com/users/blake-enyart/following{/other_user}","gists_url":"https://api.github.com/users/blake-enyart/gists{/gist_id}","starred_url":"https://api.github.com/users/blake-enyart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blake-enyart/subscriptions","organizations_url":"https://api.github.com/users/blake-enyart/orgs","repos_url":"https://api.github.com/users/blake-enyart/repos","events_url":"https://api.github.com/users/blake-enyart/events{/privacy}","received_events_url":"https://api.github.com/users/blake-enyart/received_events","type":"User","site_admin":false},"html_url":"https://github.com/blake-enyart/cross_check","description":null,"fork":true,"url":"https://api.github.com/repos/blake-enyart/cross_check","forks_url":"https://api.github.com/repos/blake-enyart/cross_check/forks","keys_url":"https://api.github.com/repos/blake-enyart/cross_check/keys{/key_id}","collaborators_url":"https://api.github.com/repos/blake-enyart/cross_check/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/blake-enyart/cross_check/teams","hooks_url":"https://api.github.com/repos/blake-enyart/cross_check/hooks","issue_events_url":"https://api.github.com/repos/blake-enyart/cross_check/issues/events{/number}","events_url":"https://api.github.com/repos/blake-enyart/cross_check/events","assignees_url":"https://api.github.com/repos/blake-enyart/cross_check/assignees{/user}","branches_url":"https://api.github.com/repos/blake-enyart/cross_check/branches{/branch}","tags_url":"https://api.github.com/repos/blake-enyart/cross_check/tags","blobs_url":"https://api.github.com/repos/blake-enyart/cross_check/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/blake-enyart/cross_check/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/blake-enyart/cross_check/git/refs{/sha}","trees_url":"https://api.github.com/repos/blake-enyart/cross_check/git/trees{/sha}","statuses_url":"https://api.github.com/repos/blake-enyart/cross_check/statuses/{sha}","languages_url":"https://api.github.com/repos/blake-enyart/cross_check/languages","stargazers_url":"https://api.github.com/repos/blake-enyart/cross_check/stargazers","contributors_url":"https://api.github.com/repos/blake-enyart/cross_check/contributors","subscribers_url":"https://api.github.com/repos/blake-enyart/cross_check/subscribers","subscription_url":"https://api.github.com/repos/blake-enyart/cross_check/subscription","commits_url":"https://api.github.com/repos/blake-enyart/cross_check/commits{/sha}","git_commits_url":"https://api.github.com/repos/blake-enyart/cross_check/git/commits{/sha}","comments_url":"https://api.github.com/repos/blake-enyart/cross_check/comments{/number}","issue_comment_url":"https://api.github.com/repos/blake-enyart/cross_check/issues/comments{/number}","contents_url":"https://api.github.com/repos/blake-enyart/cross_check/contents/{+path}","compare_url":"https://api.github.com/repos/blake-enyart/cross_check/compare/{base}...{head}","merges_url":"https://api.github.com/repos/blake-enyart/cross_check/merges","archive_url":"https://api.github.com/repos/blake-enyart/cross_check/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/blake-enyart/cross_check/downloads","issues_url":"https://api.github.com/repos/blake-enyart/cross_check/issues{/number}","pulls_url":"https://api.github.com/repos/blake-enyart/cross_check/pulls{/number}","milestones_url":"https://api.github.com/repos/blake-enyart/cross_check/milestones{/number}","notifications_url":"https://api.github.com/repos/blake-enyart/cross_check/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/blake-enyart/cross_check/labels{/name}","releases_url":"https://api.github.com/repos/blake-enyart/cross_check/releases{/id}","deployments_url":"https://api.github.com/repos/blake-enyart/cross_check/deployments","created_at":"2019-02-11T22:09:34Z","updated_at":"2019-02-21T01:51:36Z","pushed_at":"2019-02-21T01:51:35Z","git_url":"git://github.com/blake-enyart/cross_check.git","ssh_url":"git@github.com:blake-enyart/cross_check.git","clone_url":"https://github.com/blake-enyart/cross_check.git","svn_url":"https://github.com/blake-enyart/cross_check","homepage":null,"size":686,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":175261430,"node_id":"MDEwOlJlcG9zaXRvcnkxNzUyNjE0MzA=","name":"activerecord-obstacle-course","full_name":"erin-king/activerecord-obstacle-course","private":false,"owner":{"login":"erin-king","id":44042415,"node_id":"MDQ6VXNlcjQ0MDQyNDE1","avatar_url":"https://avatars2.githubusercontent.com/u/44042415?v=4","gravatar_id":"","url":"https://api.github.com/users/erin-king","html_url":"https://github.com/erin-king","followers_url":"https://api.github.com/users/erin-king/followers","follow[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=eccef11e0cca988ba60d7c5e722ee0dfa8765b12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1557500975'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=eccef11e0cca988ba60d7c5e722ee0dfa8765b12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1557500975'
      Etag:
     [...]
