---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1575586038'
      Etag:
      - W/"0d4072945d0d86ead51a5f5865696ad0"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":216885274,"node_id":"MDEwOlJlcG9zaXRvcnkyMTY4ODUyNzQ=","name":"monster_shop_1908","full_name":"CoopTang/monster_shop_1908","private":false,"owner":{"login":"CoopTang","id":8922930,"node_id":"MDQ6VXNlcjg5MjI5MzA=","avatar_url":"https://avatars2.githubusercontent.com/u/8922930?v=4","gravatar_id":"","url":"https://api.github.com/users/CoopTang","html_url":"https://github.com/CoopTang","followers_url":"https://api.github.com/users/CoopTang/followers","following_url":"https://api.github.com/users/CoopTang/following{/other_user}","gists_url":"https://api.github.com/users/CoopTang/gists{/gist_id}","starred_url":"https://api.github.com/users/CoopTang/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CoopTang/subscriptions","organizations_url":"https://api.github.com/users/CoopTang/orgs","repos_url":"https://api.github.com/users/CoopTang/repos","events_url":"https://api.github.com/users/CoopTang/events{/privacy}","received_events_url":"https://api.github.com/users/CoopTang/received_events","type":"User","site_admin":false},"html_url":"https://github.com/CoopTang/monster_shop_1908","description":null,"fork":true,"url":"https://api.github.com/repos/CoopTang/monster_shop_1908","forks_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/forks","keys_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/keys{/key_id}","collaborators_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/teams","hooks_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/hooks","issue_events_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/issues/events{/number}","events_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/events","assignees_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/assignees{/user}","branches_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/branches{/branch}","tags_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/tags","blobs_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/git/refs{/sha}","trees_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/git/trees{/sha}","statuses_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/statuses/{sha}","languages_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/languages","stargazers_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/stargazers","contributors_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/contributors","subscribers_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/subscribers","subscription_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/subscription","commits_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/commits{/sha}","git_commits_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/git/commits{/sha}","comments_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/comments{/number}","issue_comment_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/issues/comments{/number}","contents_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/contents/{+path}","compare_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/compare/{base}...{head}","merges_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/merges","archive_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/downloads","issues_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/issues{/number}","pulls_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/pulls{/number}","milestones_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/milestones{/number}","notifications_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/labels{/name}","releases_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/releases{/id}","deployments_url":"https://api.github.com/repos/CoopTang/monster_shop_1908/deployments","created_at":"2019-10-22T18:41:37Z","updated_at":"2019-10-31T13:39:23Z","pushed_at":"2019-10-31T13:39:21Z","git_url":"git://github.com/CoopTang/monster_shop_1908.git","ssh_url":"git@github.com:CoopTang/monster_shop_1908.git","clone_url":"https://github.com/CoopTang/monster_shop_1908.git","svn_url":"https://github.com/CoopTang/monster_shop_1908","homepage":null,"size":427,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":12,"license":null,"forks":3,"open_issues":12,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":206155866,"node_id":"MDEwOlJlcG9zaXRvcnkyMDYxNTU4NjY=","name":"futbol","full_name":"grwthomps/futbol","private":false,"owner":{"login":"grwthomps","id":51726839,"node_id":"MDQ6VXNlcjUxNzI2ODM5","avatar_url":"https://avatars0.githubusercontent.com/u/51726839?v=4","gravatar_id":"","url":"https://api.github.com/users/grwthomps","html_url":"https://github.com/grwthomps","followers_url":"https://api.github.com/users/grwthomps/followers","following_url":"https://api.github.com/users/grwth[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1575586038'
      Etag:
      - W/"548e1eb318fa5[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1575586038'
      Etag:
      - W/"74783c1d7da8d[...]
