---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "accessNotConfigured",
            "message": "Project 522367985708 is not found and cannot be used for API calls. If it is recently created, enable YouTube Data API by visiting https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=522367985708 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
            "extendedHelp": "https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=522367985708"
           }
          ],
          "code": 403,
          "message": "Project 522367985708 is not found and cannot be used for API calls. If it is recently created, enable YouTube Data API by visiting https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=522367985708 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry."
         }
        }
  recorded_at: Thu, 06 Feb 2020 01:36:05 GMT
recorded_with: VCR 4.0.0
