---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_76.0.3809
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 20 Aug 2019 18:01:31 GMT
      Etag:
      - '"c49a33101c8d53f95def472744518541"'
      X-Goog-Generation:
      - '1566324091671879'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=DtTKZw==
      - md5=xJozEByNU/ld70cnRFGFQQ==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 76.0.3809.126
  recorded_at: Tue, 27 Aug 2019 17:55:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Tue, 27 Aug 2019 17:55:32 GMT
recorded_with: VCR 4.0.0
