---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_80.0.3987
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 19 Dec 2019 17:39:30 GMT
      Etag:
      - '"f9c9d06c69187633138e921ae3be5438"'
      X-Goog-Generation:
      - '1576777170881778'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=C5YprA==
      - md5=+cnQbGkYdjMTjpIa475UOA==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 80.0.3987.16
  recorded_at: Wed, 12 Feb 2020 05:01:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/WDeR-7Z4-1fQiRSRwYxF2hGZr00"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/WDeR-7Z4-1fQiRSRwYxF2hGZr00\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/agpVhBMGwOmhLHVgtn8SSxXYqtM\"",
           "id": "J7ikFUlkP_k",
           "snippet": {
            "publishedAt": "2018-07-23T20:59:59.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Rails Integration Tests for Pages with JavaScript",
            "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Rails Integration Tests for Pages with JavaScript",
             "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript."
            }
           },
           "contentDetails": {
            "duration": "PT16M16S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "256",
            "likeCount": "2",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "0"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 05:01:22 GMT
recorded_with: VCR 5.0.0
