---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_75.0.3770
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 13 Jun 2019 21:21:19 GMT
      Etag:
      - '"f6526b177e51743e04eab2b42debcb62"'
      X-Goog-Generation:
      - '1560460879513580'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=FBQBjg==
      - md5=9lJrF35RdD4E6rK0LevLYg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 75.0.3770.90
  recorded_at: Wed, 03 Jul 2019 01:16:46 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/W4q3YSp5Qhe8yQIIG8dYTdD9apw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/W4q3YSp5Qhe8yQIIG8dYTdD9apw\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/f1042Ca1-f9uEI66NolLb2JPv3k\"",
           "id": "J7ikFUlkP_k",
           "snippet": {
            "publishedAt": "2018-07-23T20:59:59.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Rails Integration Tests for Pages with JavaScript",
            "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Rails Integration Tests for Pages with JavaScript",
             "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript."
            }
           },
           "contentDetails": {
            "duration": "PT16M16S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "138",
            "likeCount": "2",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "0"
           }
          }
         ]
        }
  recorded_at: Wed, 03 Jul 2019 01:16:48 GMT
recorded_with: VCR 5.0.0
