---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_78.0.3904
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 21 Oct 2019 20:40:11 GMT
      Etag:
      - '"ee32582a3afcc843fecaec612c31b81c"'
      X-Goog-Generation:
      - '1571690411823007'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=V7SD8w==
      - md5=7jJYKjr8yEP+yuxhLDG4HA==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 78.0.3904.70
  recorded_at: Wed, 30 Oct 2019 16:04:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Wed, 30 Oct 2019 16:04:12 GMT
recorded_with: VCR 4.0.0
