---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_78.0.3904
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 18 Nov 2019 18:20:45 GMT
      Etag:
      - '"b9bde7b64efbdd91bcd063096c26c2f3"'
      X-Goog-Generation:
      - '1574101245336557'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=ZrfQ6Q==
      - md5=ub3ntk773ZG80GMJbCbC8w==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 78.0.3904.105
  recorded_at: Wed, 04 Dec 2019 04:24:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"j6xRRd8dTPVVptg711_CSPADRfg/bDtxrr8iqqPEWwVrlIH64AKVqrY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"j6xRRd8dTPVVptg711_CSPADRfg/bDtxrr8iqqPEWwVrlIH64AKVqrY\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"j6xRRd8dTPVVptg711_CSPADRfg/ZNQpfRDjeiJDLDjLM3RdFU7Of_I\"",
           "id": "J7ikFUlkP_k",
           "snippet": {
            "publishedAt": "2018-07-23T20:59:59.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Rails Integration Tests for Pages with JavaScript",
            "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Rails Integration Tests for Pages with JavaScript",
             "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript."
            }
           },
           "contentDetails": {
            "duration": "PT16M16S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "233",
            "likeCount": "2",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "0"
           }
          }
         ]
        }
  recorded_at: Wed, 04 Dec 2019 04:24:47 GMT
recorded_with: VCR 4.0.0
