---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_79.0.3945
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 18 Nov 2019 18:20:08 GMT
      Etag:
      - '"6dbe8fd284d1450dfe211ec372589603"'
      X-Goog-Generation:
      - '1574101208322149'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=le7mDg==
      - md5=bb6P0oTRRQ3+IR7DcliWAw==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 79.0.3945.36
  recorded_at: Wed, 05 Feb 2020 18:33:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "accessNotConfigured",
            "message": "Project 522367985708 is not found and cannot be used for API calls. If it is recently created, enable YouTube Data API by visiting https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=522367985708 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
            "extendedHelp": "https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=522367985708"
           }
          ],
          "code": 403,
          "message": "Project 522367985708 is not found and cannot be used for API calls. If it is recently created, enable YouTube Data API by visiting https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=522367985708 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry."
         }
        }
  recorded_at: Wed, 05 Feb 2020 18:33:26 GMT
recorded_with: VCR 4.0.0
