---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=%E2%80%9CAIzaSyAhqUIIk2oWaMogSyhZVmNrFOOH%E2%80%9D&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Wed, 03 Jul 2019 15:58:33 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=%E2%80%9CAIzaSyAhqUIIk2oWaMogSyhZVmNrFOOH%E2%80%9D&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Wed, 03 Jul 2019 15:58:56 GMT
recorded_with: VCR 5.0.0
