---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_77.0.3865
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 20 Aug 2019 18:02:50 GMT
      Etag:
      - '"32e80dfee0af120f7f94bbb85e52b845"'
      X-Goog-Generation:
      - '1566324170948144'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=hx6yuw==
      - md5=MugN/uCvEg9/lLu4XlK4RQ==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 77.0.3865.40
  recorded_at: Sat, 12 Oct 2019 18:46:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p4VTdlkQv3HQeTEaXgvLePAydmU/ApFqRwa4-Xv7JoiM6Dj_wP-OI_o"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/ApFqRwa4-Xv7JoiM6Dj_wP-OI_o\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/Sq36b9_Km7v0z80Cc-VSpLw745k\"",
           "id": "J7ikFUlkP_k",
           "snippet": {
            "publishedAt": "2018-07-23T20:59:59.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Rails Integration Tests for Pages with JavaScript",
            "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Rails Integration Tests for Pages with JavaScript",
             "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript."
            }
           },
           "contentDetails": {
            "duration": "PT16M16S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "203",
            "likeCount": "2",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "0"
           }
          }
         ]
        }
  recorded_at: Sat, 12 Oct 2019 18:46:51 GMT
recorded_with: VCR 4.0.0
