http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_LOCAL>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1581520913'
      Etag:
      - W/"2df186b5593dea45313226b039254c69"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_LOCAL>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_LOCAL>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":224918881,"node_id":"MDEwOlJlcG9zaXRvcnkyMjQ5MTg4ODE=","name":"activerecord-obstacle-course","full_name":"darren2802/activerecord-obstacle-course","private":false,"owner":{"login":"darren2802","id":37692413,"node_id":"MDQ6VXNlcjM3NjkyNDEz","avatar_url":"https://avatars0.githubusercontent.com/u/37692413?v=4","gravatar_id":"","url":"https://api.github.com/users/darren2802","html_url":"https://github.com/darren2802","followers_url":"https://api.github.com/users/darren2802/followers","following_url":"https://api.github.com/users/darren2802/following{/other_user}","gists_url":"https://api.github.com/users/darren2802/gists{/gist_id}","starred_url":"https://api.github.com/users/darren2802/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/darren2802/subscriptions","organizations_url":"https://api.github.com/users/darren2802/orgs","repos_url":"https://api.github.com/users/darren2802/repos","events_url":"https://api.github.com/users/darren2802/events{/privacy}","received_events_url":"https://api.github.com/users/darren2802/received_events","type":"User","site_admin":false},"html_url":"https://github.com/darren2802/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/darren2802/activerecord-obstacle-course/deployments","created_at":"2019-11-29T20:35:04Z","updated_at":"2019-11-29T20:35:06Z","pushed_at":"2019-11-09T08:11:19Z","git_url":"git://github.com/darren2802/activerecord-obstacle-course.git","ssh_url":"git@github.com:darren2802/activerecord-obstacle-course.git","clone_url":"https://github.com/darren2802/activerecord-obstacle-course.git","svn_url":"https://github.com/darren2802/activerecord-obstacle-course","homepage":null,"size":59,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":222601311,"node_id":"MDEwOlJlcG9zaXRvcnkyMjI2MDEzMTE=","name":"adopt_dont_shop","full_name":"darren2802/adopt_dont_shop","private":false,"owner":{"login":"darren2802","id":37692413,"node_id":"MDQ6VXNlcjM3NjkyNDEz","avatar_url":"https://avatars0.githubusercontent.com/u/37692413?v=4","gravatar_id":"","url":"https://api.github.com/users/darren2802","html_url":"https://github.com/darren2802","followers_url":"https://api.github.com/users/darren2802/followers","following_url":"https://api[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN_LOCAL>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1581520914'
      Etag:
      - W/"87e00f8b4d5025[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN_LOCAL>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1581520913'
      Etag:
      - W/"a4849cc3b55724[...]
