---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_LOCAL>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 12 Feb 2020 19:15:56 GMT
=======
      - Wed, 12 Feb 2020 14:27:57 GMT
>>>>>>> 634cc4c9230ea5d4d8a475e2fddd64ee31b70b9d
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
<<<<<<< HEAD
      - '4947'
      X-Ratelimit-Reset:
      - '1581535209'
=======
      - '4993'
      X-Ratelimit-Reset:
      - '1581520913'
>>>>>>> 634cc4c9230ea5d4d8a475e2fddd64ee31b70b9d
      Cache-Control:
      - private, max-age=60, s-maxage=60
      Vary:
      - Accept, Authorization, Cookie, X-GitHub-OTP
      - Accept-Encoding, Accept, X-Requested-With
      Etag:
<<<<<<< HEAD
      - W/"dd7e232b36ea1e4312f78ddd97f3fe54"
=======
      - W/"2df186b5593dea45313226b039254c69"
>>>>>>> 634cc4c9230ea5d4d8a475e2fddd64ee31b70b9d
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_LOCAL>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_LOCAL>&page=2>;
        rel="last"
      Access-Control-Expose-Headers:
      - ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining,
        X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval,
        X-GitHub-Media-Type
      Access-Control-Allow-Origin:
      - "*"
      Strict-Transport-Security:
      - max-age=31536000; includeSubdomains; preload
      X-Frame-Options:
      - deny
      X-Content-Type-Options:
      - nosniff
      X-Xss-Protection:
      - 1; mode=block
      Referrer-Policy:
      - origin-when-cross-origin, strict-origin-when-cross-origin
      Content-Security-Policy:
      - default-src 'none'
      X-Github-Request-Id:
<<<<<<< HEAD
      - DE44:1D89:11D94C:270DCF:5E444EEB
    body:
      encoding: ASCII-8BIT
      string: '[{"id":228428753,"node_id":"MDEwOlJlcG9zaXRvcnkyMjg0Mjg3NTM=","name":"monster_shop_part_1","full_name":"jfangonilo/monster_shop_part_1","private":false,"owner":{"login":"jfangonilo","id":53122061,"node_id":"MDQ6VXNlcjUzMTIyMDYx","avatar_url":"https://avatars1.githubusercontent.com/u/53122061?v=4","gravatar_id":"","url":"https://api.github.com/users/jfangonilo","html_url":"https://github.com/jfangonilo","followers_url":"https://api.github.com/users/jfangonilo/followers","following_url":"https://api.github.com/users/jfangonilo/following{/other_user}","gists_url":"https://api.github.com/users/jfangonilo/gists{/gist_id}","starred_url":"https://api.github.com/users/jfangonilo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfangonilo/subscriptions","organizations_url":"https://api.github.com/users/jfangonilo/orgs","repos_url":"https://api.github.com/users/jfangonilo/repos","events_url":"https://api.github.com/users/jfangonilo/events{/privacy}","received_events_url":"https://api.github.com/users/jfangonilo/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jfangonilo/monster_shop_part_1","description":null,"fork":true,"url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1","forks_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/forks","keys_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/teams","hooks_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/hooks","issue_events_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/issues/events{/number}","events_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/events","assignees_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/assignees{/user}","branches_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/branches{/branch}","tags_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/tags","blobs_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/git/refs{/sha}","trees_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/statuses/{sha}","languages_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/languages","stargazers_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/stargazers","contributors_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/contributors","subscribers_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/subscribers","subscription_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/subscription","commits_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/commits{/sha}","git_commits_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/git/commits{/sha}","comments_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/comments{/number}","issue_comment_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/issues/comments{/number}","contents_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/contents/{+path}","compare_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/merges","archive_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/downloads","issues_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/issues{/number}","pulls_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/pulls{/number}","milestones_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/milestones{/number}","notifications_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/labels{/name}","releases_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/releases{/id}","deployments_url":"https://api.github.com/repos/jfangonilo/monster_shop_part_1/deployments","created_at":"2019-12-16T16:29:57Z","updated_at":"2020-01-11T18:28:49Z","pushed_at":"2020-01-16T15:43:53Z","git_url":"git://github.com/jfangonilo/monster_shop_part_1.git","ssh_url":"git@github.com:jfangonilo/monster_shop_part_1.git","clone_url":"https://github.com/jfangonilo/monster_shop_part_1.git","svn_url":"https://github.com/jfangonilo/monster_shop_part_1","homepage":null,"size":577,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":2,"open_issues":1,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":225481357,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0ODEzNTc=","name":"paired-adopt-dont-shop","full_name":"linda-le1/paired-adopt-dont-shop","private":false,"owner":{"login":"linda-le1","id":54052410,"node_id":"MDQ6VXNlcjU0MDUyNDEw","avatar_url":"https://avatars2.githubusercontent.com/u/54052410?v=4","gravatar_id":"","url":"https://api.github.com/users/linda-le1","html_url":"https://github.com/linda-le1","followers_url":"https://api.github.com/users/linda-le1/followers","following_url":"ht[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN_LOCAL>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 12 Feb 2020 19:15:56 GMT
=======
      - Wed, 12 Feb 2020 14:27:58 GMT
>>>>>>> 634cc4c9230ea5d4d8a475e2fddd64ee31b70b9d
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Sta[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN_LOCAL>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 12 Feb 2020 19:15:56 GMT
=======
      - Wed, 12 Feb 2020 14:27:58 GMT
>>>>>>> 634cc4c9230ea5d4d8a475e2fddd64ee31b70b9d
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Sta[...]
