<body class"about-container">
  <header class="about-header">
    <h1> Turing Tutorials</h1>
  </header>
  <main class="about-main">
    <h3>This application is designed to pull in YouTube information to populate tutorials from the Turing School of Software and Design's YouTube channel.
      It's designed for anyone learning how to code, with additional features for current students.</h3>
    </main>
</body>
