#new-video-form {
  background:#EEE;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 10px;
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

#new-video-form.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.buttons-wrapper-div {
  display: flex;
}
.edit-link {
  padding-right: 10px;
}

.del-btn {
  color: white;
  background: tomato;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 10px;
}

.del-btn:hover {
  background: white;
  color: tomato;
  cursor: pointer;
  border: 1px solid tomato;
  border-radius: 5px;
  margin-left: 10px;
}