.btn {
  color: #05c2d1;
}

.bg-teal {
  color: #FFF;
}


.btn:hover {
  background-color: transparent;
}

.button-to {
  text-decoration: none;
  border: none;
  padding: none;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: #6d6e71;
}
