.btn {
  color: #05c2d1;
}

.bg-teal {
  color: #FFF;
}


.btn:hover {
  background-color: transparent;
}

.button-to {
  text-decoration: none!important;
  border: none!important;
  padding: none!important;
  height: 100%!important;
  font-weight: bold!important;
  text-transform: uppercase!important;
  color: #6d6e71!important;
}
