---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"XpPGQXPnxQJhLgs6enD_n8JR4Qk/ftqcoEi5lFrDLEyLbPZCiTrEzXU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/ftqcoEi5lFrDLEyLbPZCiTrEzXU\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 0
         },
         "items": []
        }
  recorded_at: Thu, 28 Mar 2019 03:20:43 GMT
recorded_with: VCR 4.0.0
