<body class"activated-container">
  <header class="activated-header">
    <h1>Thank you! Your account is now activated.</h1>
  </header>
  <main class="activated-main">
    <h3><%= link_to "Go To Your Dashboard", dashboard_path %> </h3>
    </main>
</body>
