---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=iXLwXvev4X8&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"j6xRRd8dTPVVptg711_CSPADRfg/bFLdFGuQ8RRLKuua1udRxiZMYsc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"j6xRRd8dTPVVptg711_CSPADRfg/bFLdFGuQ8RRLKuua1udRxiZMYsc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"j6xRRd8dTPVVptg711_CSPADRfg/97rVXeQvrq_OtmEVmnapJl50350\"",
           "id": "iXLwXvev4X8",
           "snippet": {
            "publishedAt": "2018-02-03T20:52:12.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Prework - Strings",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/iXLwXvev4X8/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/iXLwXvev4X8/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/iXLwXvev4X8/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/iXLwXvev4X8/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/iXLwXvev4X8/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Prework - Strings",
             "description": ""
            }
           },
           "contentDetails": {
            "duration": "PT14M46S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "201",
            "likeCount": "6",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "0"
           }
          }
         ]
        }
  recorded_at: Thu, 12 Dec 2019 17:47:53 GMT
recorded_with: VCR 4.0.0
