---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/<GITHUB_USERNAME_B>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_A>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      - '1594277551'
      Etag:
      - W/"137cb3de558b975a57030af0c53dcac1"
      Last-Modified:
      - Wed, 08 Jul 2020 21:58:46 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"<GITHUB_USERNAME_B>","id":37886458,"node_id":"MDQ6VXNlcjM3ODg2NDU4","avatar_url":"https://avatars1.githubusercontent.com/u/37886458?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME_B>","html_url":"https://github.com/<GITHUB_USERNAME_B>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME_B>/received_events","type":"User","site_admin":false,"name":"Jane
        Greene","company":null,"blog":"","location":"Denver, CO","email":"<GITHUB_USERNAME_B>casa@gmail.com","hireable":true,"bio":"Hi,
        I''m Jane Greene, a back end student at Turing School in Denver, CO. ","twitter_username":null,"public_repos":49,"public_gists":5,"followers":4,"following":7,"created_at":"2018-03-29T00:02:18Z","updated_at":"2020-07-08T21:58:46Z"}'
  recorded_at: Thu, 09 Jul 2020 06:34:40 GMT
- request:
    method: get
    uri: https://api.github.com/users/Imprettysurethisisntavalidgithubname
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_A>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4891'
      X-Ratelimit-Reset:
      - '1594277551'
      X-Oauth-Scopes:
      - public_repo, read:user, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/#get-a-single-user"}'
  recorded_at: Thu, 09 Jul 2020 06:34:40 GMT
recorded_with: VCR 6.0.0
