---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=86dc73ab292cebe9f8ebd27644ce1848b5a863d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1570742653'
      Etag:
      - W/"c659c856c186703a9549838a59f10e95"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 47e12413b2243726e042
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=86dc73ab292cebe9f8ebd27644ce1848b5a863d2&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=86dc73ab292cebe9f8ebd27644ce1848b5a863d2&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":194745170,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ3NDUxNzA=","name":"BattleshipProject","full_name":"cjkelling/BattleshipProject","private":false,"owner":{"login":"cjkelling","id":51389815,"node_id":"MDQ6VXNlcjUxMzg5ODE1","avatar_url":"https://avatars2.githubusercontent.com/u/51389815?v=4","gravatar_id":"","url":"https://api.github.com/users/cjkelling","html_url":"https://github.com/cjkelling","followers_url":"https://api.github.com/users/cjkelling/followers","following_url":"https://api.github.com/users/cjkelling/following{/other_user}","gists_url":"https://api.github.com/users/cjkelling/gists{/gist_id}","starred_url":"https://api.github.com/users/cjkelling/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cjkelling/subscriptions","organizations_url":"https://api.github.com/users/cjkelling/orgs","repos_url":"https://api.github.com/users/cjkelling/repos","events_url":"https://api.github.com/users/cjkelling/events{/privacy}","received_events_url":"https://api.github.com/users/cjkelling/received_events","type":"User","site_admin":false},"html_url":"https://github.com/cjkelling/BattleshipProject","description":null,"fork":false,"url":"https://api.github.com/repos/cjkelling/BattleshipProject","forks_url":"https://api.github.com/repos/cjkelling/BattleshipProject/forks","keys_url":"https://api.github.com/repos/cjkelling/BattleshipProject/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cjkelling/BattleshipProject/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cjkelling/BattleshipProject/teams","hooks_url":"https://api.github.com/repos/cjkelling/BattleshipProject/hooks","issue_events_url":"https://api.github.com/repos/cjkelling/BattleshipProject/issues/events{/number}","events_url":"https://api.github.com/repos/cjkelling/BattleshipProject/events","assignees_url":"https://api.github.com/repos/cjkelling/BattleshipProject/assignees{/user}","branches_url":"https://api.github.com/repos/cjkelling/BattleshipProject/branches{/branch}","tags_url":"https://api.github.com/repos/cjkelling/BattleshipProject/tags","blobs_url":"https://api.github.com/repos/cjkelling/BattleshipProject/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cjkelling/BattleshipProject/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cjkelling/BattleshipProject/git/refs{/sha}","trees_url":"https://api.github.com/repos/cjkelling/BattleshipProject/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cjkelling/BattleshipProject/statuses/{sha}","languages_url":"https://api.github.com/repos/cjkelling/BattleshipProject/languages","stargazers_url":"https://api.github.com/repos/cjkelling/BattleshipProject/stargazers","contributors_url":"https://api.github.com/repos/cjkelling/BattleshipProject/contributors","subscribers_url":"https://api.github.com/repos/cjkelling/BattleshipProject/subscribers","subscription_url":"https://api.github.com/repos/cjkelling/BattleshipProject/subscription","commits_url":"https://api.github.com/repos/cjkelling/BattleshipProject/commits{/sha}","git_commits_url":"https://api.github.com/repos/cjkelling/BattleshipProject/git/commits{/sha}","comments_url":"https://api.github.com/repos/cjkelling/BattleshipProject/comments{/number}","issue_comment_url":"https://api.github.com/repos/cjkelling/BattleshipProject/issues/comments{/number}","contents_url":"https://api.github.com/repos/cjkelling/BattleshipProject/contents/{+path}","compare_url":"https://api.github.com/repos/cjkelling/BattleshipProject/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cjkelling/BattleshipProject/merges","archive_url":"https://api.github.com/repos/cjkelling/BattleshipProject/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cjkelling/BattleshipProject/downloads","issues_url":"https://api.github.com/repos/cjkelling/BattleshipProject/issues{/number}","pulls_url":"https://api.github.com/repos/cjkelling/BattleshipProject/pulls{/number}","milestones_url":"https://api.github.com/repos/cjkelling/BattleshipProject/milestones{/number}","notifications_url":"https://api.github.com/repos/cjkelling/BattleshipProject/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cjkelling/BattleshipProject/labels{/name}","releases_url":"https://api.github.com/repos/cjkelling/BattleshipProject/releases{/id}","deployments_url":"https://api.github.com/repos/cjkelling/BattleshipProject/deployments","created_at":"2019-07-01T21:27:25Z","updated_at":"2019-07-11T00:07:36Z","pushed_at":"2019-07-11T00:07:35Z","git_url":"git://github.com/cjkelling/BattleshipProject.git","ssh_url":"git@github.com:cjkelling/BattleshipProject.git","clone_url":"https://github.com/cjkelling/BattleshipProject.git","svn_url":"https://github.com/cjkelling/BattleshipProject","homepage":null,"size":86,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":213484121,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM0ODQxMjE=","name":"brownfield-of-dreams","full_name":"joshsherwood1/brownfield-of-dreams","private":false,"owner":{"login":"joshsherwood1","id":49769068,"node_id":"MDQ6VXNlcjQ5NzY5MDY4","avatar_url":"https://avatars2.githubusercontent.com/u/49769068?v=4","gravatar_id":"","url":"https://api.github.com/users/joshsherwood1","html_url":"https://github.com/joshsherwood1","followers_url":"https://api.github.com/users/joshsherwood1/followers","fo[...]
