---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1581384234'
      Etag:
      - W/"07046aec5bfefe8c09d300acdee784b6"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225487367,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0ODczNjc=","name":"adopt_dont_shop_paired","full_name":"Capleugh/adopt_dont_shop_paired","private":false,"owner":{"login":"Capleugh","id":47065120,"node_id":"MDQ6VXNlcjQ3MDY1MTIw","avatar_url":"https://avatars1.githubusercontent.com/u/47065120?v=4","gravatar_id":"","url":"https://api.github.com/users/Capleugh","html_url":"https://github.com/Capleugh","followers_url":"https://api.github.com/users/Capleugh/followers","following_url":"https://api.github.com/users/Capleugh/following{/other_user}","gists_url":"https://api.github.com/users/Capleugh/gists{/gist_id}","starred_url":"https://api.github.com/users/Capleugh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Capleugh/subscriptions","organizations_url":"https://api.github.com/users/Capleugh/orgs","repos_url":"https://api.github.com/users/Capleugh/repos","events_url":"https://api.github.com/users/Capleugh/events{/privacy}","received_events_url":"https://api.github.com/users/Capleugh/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Capleugh/adopt_dont_shop_paired","description":null,"fork":false,"url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired","forks_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/forks","keys_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/teams","hooks_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/hooks","issue_events_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/issues/events{/number}","events_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/events","assignees_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/assignees{/user}","branches_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/branches{/branch}","tags_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/tags","blobs_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/git/refs{/sha}","trees_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/statuses/{sha}","languages_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/languages","stargazers_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/stargazers","contributors_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/contributors","subscribers_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/subscribers","subscription_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/subscription","commits_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/commits{/sha}","git_commits_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/git/commits{/sha}","comments_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/comments{/number}","issue_comment_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/issues/comments{/number}","contents_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/contents/{+path}","compare_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/merges","archive_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/downloads","issues_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/issues{/number}","pulls_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/pulls{/number}","milestones_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/milestones{/number}","notifications_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/labels{/name}","releases_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/releases{/id}","deployments_url":"https://api.github.com/repos/Capleugh/adopt_dont_shop_paired/deployments","created_at":"2019-12-02T23:18:35Z","updated_at":"2019-12-12T22:09:00Z","pushed_at":"2019-12-20T09:15:49Z","git_url":"git://github.com/Capleugh/adopt_dont_shop_paired.git","ssh_url":"git@github.com:Capleugh/adopt_dont_shop_paired.git","clone_url":"https://github.com/Capleugh/adopt_dont_shop_paired.git","svn_url":"https://github.com/Capleugh/adopt_dont_shop_paired","homepage":null,"size":203,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":236601663,"node_id":"MDEwOlJlcG9zaXRvcnkyMzY2MDE2NjM=","name":"building_internal_apis","full_name":"DanielEFrampton/building_internal_apis","private":false,"owner":{"login":"DanielEFrampton","id":40702808,"node_id":"MDQ6VXNlcjQwNzAyODA4","avatar_url":"https://avatars1.githubusercontent.com/u/40702808?v=4","gravatar_id":"","url":"https://api.github.com/users/DanielEFrampton","html_url":"https://github.com/DanielEFrampton","followers_url":"https://api.github.com/users/DanielEFrampton/[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1581384234'
      Etag:
      - W/"7df53c4c89d2b[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1581384234'
      Etag:
      - W/"aa5fcd64d0a26[...]
[...]
