---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/A-TILP5Szl9NdVttmbNEkIeKmpw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/A-TILP5Szl9NdVttmbNEkIeKmpw\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/q251MTAMA7hgao-XZLMcRKoW9nQ\"",
           "id": "J7ikFUlkP_k",
           "snippet": {
            "publishedAt": "2018-07-23T20:59:59.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Rails Integration Tests for Pages with JavaScript",
            "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/J7ikFUlkP_k/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Rails Integration Tests for Pages with JavaScript",
             "description": "This video shows how to write feature/integration tests within RSpec configured to run expectations for pages that run JavaScript."
            }
           },
           "contentDetails": {
            "duration": "PT16M16S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "286",
            "likeCount": "3",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "0"
           }
          }
         ]
        }
  recorded_at: Tue, 12 May 2020 01:17:56 GMT
recorded_with: VCR 5.1.0
