---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_KEY>&affiliation=owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1558059173'
      Etag:
      - W/"8889a56cd75cb635e59671bc920b21e8"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_KEY>&affiliation=owner&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_KEY>&affiliation=owner&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":175865447,"node_id":"MDEwOlJlcG9zaXRvcnkxNzU4NjU0NDc=","name":"2win_playlist","full_name":"Vjp888/2win_playlist","private":false,"owner":{"login":"Vjp888","id":40582072,"node_id":"MDQ6VXNlcjQwNTgyMDcy","avatar_url":"https://avatars2.githubusercontent.com/u/40582072?v=4","gravatar_id":"","url":"https://api.github.com/users/Vjp888","html_url":"https://github.com/Vjp888","followers_url":"https://api.github.com/users/Vjp888/followers","following_url":"https://api.github.com/users/Vjp888/following{/other_user}","gists_url":"https://api.github.com/users/Vjp888/gists{/gist_id}","starred_url":"https://api.github.com/users/Vjp888/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Vjp888/subscriptions","organizations_url":"https://api.github.com/users/Vjp888/orgs","repos_url":"https://api.github.com/users/Vjp888/repos","events_url":"https://api.github.com/users/Vjp888/events{/privacy}","received_events_url":"https://api.github.com/users/Vjp888/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Vjp888/2win_playlist","description":"Static
        Comp Challenge","fork":true,"url":"https://api.github.com/repos/Vjp888/2win_playlist","forks_url":"https://api.github.com/repos/Vjp888/2win_playlist/forks","keys_url":"https://api.github.com/repos/Vjp888/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Vjp888/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Vjp888/2win_playlist/teams","hooks_url":"https://api.github.com/repos/Vjp888/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/Vjp888/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/Vjp888/2win_playlist/events","assignees_url":"https://api.github.com/repos/Vjp888/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/Vjp888/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/Vjp888/2win_playlist/tags","blobs_url":"https://api.github.com/repos/Vjp888/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Vjp888/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Vjp888/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/Vjp888/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Vjp888/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/Vjp888/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/Vjp888/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/Vjp888/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/Vjp888/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/Vjp888/2win_playlist/subscription","commits_url":"https://api.github.com/repos/Vjp888/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/Vjp888/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/Vjp888/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/Vjp888/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/Vjp888/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/Vjp888/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Vjp888/2win_playlist/merges","archive_url":"https://api.github.com/repos/Vjp888/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Vjp888/2win_playlist/downloads","issues_url":"https://api.github.com/repos/Vjp888/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/Vjp888/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/Vjp888/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/Vjp888/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Vjp888/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/Vjp888/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/Vjp888/2win_playlist/deployments","created_at":"2019-03-15T17:36:59Z","updated_at":"2019-03-18T06:17:18Z","pushed_at":"2019-03-18T06:17:16Z","git_url":"git://github.com/Vjp888/2win_playlist.git","ssh_url":"git@github.com:Vjp888/2win_playlist.git","clone_url":"https://github.com/Vjp888/2win_playlist.git","svn_url":"https://github.com/Vjp888/2win_playlist","homepage":null,"size":267,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":167446349,"node_id":"MDEwOlJlcG9zaXRvcnkxNjc0NDYzNDk=","name":"activerecord-obstacle-course","full_name":"Vjp888/activerecord-obstacle-course","private":false,"owner":{"login":"Vjp888","id":40582072,"node_id":"MDQ6VXNlcjQwNTgyMDcy","avatar_url":"https://avatars2.githubusercontent.com/u/40582072?v=4","gravatar_id":"","url":"https://api.github.com/users/Vjp888","html_url":"https://github.com/Vjp888","followers_url":"https://api.github.com/users/Vjp888/followers","following_url":"https[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN_KEY>&affiliation=owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1558059173'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN_KEY>&affiliation=owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1558059173'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/users/lbivlodfbnvolidarbvlhdrsbvlksdanv?access_token=<GITHUB_TOKEN_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1558059173'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/#get-a-single-user"}'
  recorded_at: Fri, 17 May 2019 01:20:34 GMT
recorded_with: VCR 4.0.0
